<%#
 Copyright 2013-2019 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="user">
            <h2>
                <span jhiTranslate="userManagement.detail.title">User</span> [<b>{{user.login}}</b>]
            </h2>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="userManagement.login">Login</span></dt>
                <dd>
                    <span>{{user.login}}</span>
                    <jhi-boolean
                        [value]="user.activated"
                    <%_ if (enableTranslation) { _%>
                        [textTrue]="'userManagement.activated' | translate"
                        [textFalse]="'userManagement.deactivated' | translate">
                    <%_ } else { _%>
                        textTrue="Activated"
                        textFalse="Deactivated">
                    <%_ } _%>
                    </jhi-boolean>
                </dd>
                <dt><span jhiTranslate="userManagement.firstName">First Name</span></dt>
                <dd>{{user.firstName}}</dd>
                <dt><span jhiTranslate="userManagement.lastName">Last Name</span></dt>
                <dd>{{user.lastName}}</dd>
                <dt><span jhiTranslate="userManagement.email">Email</span></dt>
                <dd>{{user.email}}</dd>
                <%_ if (enableTranslation) { _%>
                <dt><span jhiTranslate="userManagement.langKey">Lang Key</span></dt>
                <dd>{{user.langKey}}</dd>
                <%_ } _%>
                <dt><span jhiTranslate="userManagement.createdBy">Created By</span></dt>
                <dd>{{user.createdBy}}</dd>
                <dt><span jhiTranslate="userManagement.createdDate">Created Date</span></dt>
                <dd>{{user.createdDate | date:'dd/MM/yy HH:mm' }}</dd>
                <dt><span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span></dt>
                <dd>{{user.lastModifiedBy}}</dd>
                <dt><span jhiTranslate="userManagement.lastModifiedDate">Last Modified Date</span></dt>
                <dd>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</dd>
                <dt><span jhiTranslate="userManagement.profiles">Profiles</span></dt>
                <dd>
                    <ul class="list-unstyled">
                        <li *ngFor="let authority of user.authorities">
                            <span class="badge badge-info">{{authority}}</span>
                        </li>
                    </ul>
                </dd>
            </dl>
            <button type="submit"
                    routerLink="../../"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
        </div>
    </div>
</div>
