version: 2
updates:
    - package-ecosystem: maven
      directory: "/"
      schedule:
          interval: weekly
      open-pull-requests-limit: 10
    - package-ecosystem: npm
      directory: "/"
      schedule:
          interval: weekly
      open-pull-requests-limit: 10
