<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (product(); as productRef) {
      <div>
        <h2 data-cy="productDetailsHeading"><span jhiTranslate="storeApp.storeProduct.detail.title">Product</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ productRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="storeApp.storeProduct.title">Title</span></dt>
          <dd>
            <span>{{ productRef.title }}</span>
          </dd>
          <dt><span jhiTranslate="storeApp.storeProduct.price">Price</span></dt>
          <dd>
            <span>{{ productRef.price }}</span>
          </dd>
          <dt><span jhiTranslate="storeApp.storeProduct.image">Image</span></dt>
          <dd>
            @if (productRef.image) {
              <div>
                <a (click)="openFile(productRef.image ?? '', productRef.imageContentType)">
                  <img
                    [src]="'data:' + productRef.imageContentType + ';base64,' + productRef.image"
                    style="max-width: 100%"
                    alt="product"
                  />
                </a>
                {{ productRef.imageContentType }}, {{ byteSize(productRef.image ?? '') }}
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/store/product', productRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
