<!-- Modal used to display the threads dump -->
<div class="modal-header">
    <button type="button" class="close" (click)="activeModal.dismiss('closed')">&times;</button>
    <h4 class="modal-title" jhiTranslate="metrics.jvm.threads.dump.title">Threads dump</h4>
</div>
<div class="modal-body pad">
    <span class="tag tag-primary" (click)="threadDumpFilter = {}">All&nbsp;<span class="tag-pill">{{threadDumpAll}}</span></span>&nbsp;
    <span class="tag tag-success" (click)="threadDumpFilter = {threadState: 'RUNNABLE'}">Runnable&nbsp;<span class="tag-pill">{{threadDumpRunnable}}</span></span>&nbsp;
    <span class="tag tag-info" (click)="threadDumpFilter = {threadState: 'WAITING'}">Waiting&nbsp;<span class="tag-pill">{{threadDumpWaiting}}</span></span>&nbsp;
    <span class="tag tag-warning" (click)="threadDumpFilter = {threadState: 'TIMED_WAITING'}">Timed Waiting&nbsp;<span class="tag-pill">{{threadDumpTimedWaiting}}</span></span>&nbsp;
    <span class="tag tag-danger" (click)="threadDumpFilter = {threadState: 'BLOCKED'}">Blocked&nbsp;<span class="tag-pill">{{threadDumpBlocked}}</span></span>&nbsp;
    <div class="voffset2">&nbsp;</div>
    Filter
    <input type="text" [(ngModel)]="threadDumpFilter" class="form-control">
    <div class="row pad" *ngFor="let entry of threadDump | pureFilter:threadDumpFilter:'lockName' | keys">
        <h5><span class="tag" [ngClass]="getTagClass(entry.value.threadState)">{{entry.value.threadState}}</span>&nbsp;{{entry.value.threadName}} (ID {{entry.value.threadId}})
            <a (click)="entry.show = !entry.show" href="javascript:void(0);">
               <span [hidden]="entry.show" jhiTranslate="metrics.jvm.threads.dump.show">Show StackTrace</span>
               <span [hidden]="!entry.show" jhiTranslate="metrics.jvm.threads.dump.hide">Hide StackTrace</span>
            </a>
        </h5>
        <div class="well" [hidden]="!entry.show">
            <div *ngFor="let st of entry.value.stackTrace | keys">
                {{st.value.className}}.{{st.value.methodName}}({{st.value.fileName}}:{{st.value.lineNumber}})
                <span class="voffset1"></span>
            </div>
        </div>
        <table class="table table-sm table-responsive">
            <thead>
                <tr>
                    <th class="text-xs-right" jhiTranslate="metrics.jvm.threads.dump.blockedtime">Blocked Time</th>
                    <th class="text-xs-right" jhiTranslate="metrics.jvm.threads.dump.blockedcount">Blocked Count</th>
                    <th class="text-xs-right" jhiTranslate="metrics.jvm.threads.dump.waitedtime">Waited Time</th>
                    <th class="text-xs-right" jhiTranslate="metrics.jvm.threads.dump.waitedcount">Waited Count</th>
                    <th jhiTranslate="metrics.jvm.threads.dump.lockname">Lock Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{entry.value.blockedTime}}</td>
                    <td>{{entry.value.blockedCount}}</td>
                    <td>{{entry.value.waitedTime}}</td>
                    <td>{{entry.value.waitedCount}}</td>
                    <td>{{entry.value.lockName}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary  pull-left" data-dismiss="modal" (click)="activeModal.dismiss('closed')">Done</button>
</div>
