# editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[{*.{java,java.ejs,xml.ejs,gradle.ejs,sh,sh.ejs,n1ql.ejs,cql.ejs,scala.ejs},USAGE}]
indent_size = 4

[generators/entity-server/templates/**/*_template.ejs]
indent_size = 4
