node_modules
node_modules_container
coverage
.idea
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
/.project
app.jdl
test/temp/
/docs
*debug.log*
.vscode
.vscode-test
.DS_Store
/.jhipster
*.sw?
/test/templates/import-jdl/*.png
.git
.classpath
.factorypath
.project
.settings
test/**/*.png
jdl/**/*.png
test-integration/**/*.png
/dist

# allow customizations without having a dirty tree
.devcontainer

# NetBeans 
nbproject/
build/
nbbuild/
nbdist/
.nb-gradle/
generators/**/package-lock.json
