node_modules
coverage
.idea
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
/.project
test/temp/
/docs
*debug.log*
.vscode
.DS_Store
/.jhipster
*.sw?
/test/templates/import-jdl/*.png
.git
.classpath
.factorypath
.project
.settings
test/**/*.png
/dist
