os:
  - linux
language: node_js
node_js:
  - "6.9.2"
cache:
  directories:
    - $HOME/.npm
    - $HOME/.yarn-cache
    - node_modules
branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"

before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - export CHROME_BIN=chromium-browser
  # Repo for Yarn
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
install:
  - yarn

before_script:
  - npm prune
script:
  - yarn test
  - yarn build

notifications:
  email: true
