<%#
 Copyright 2013-2025 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
{
    "global": {
        "title": "<%= capitalizedBaseName %>",
        "browsehappy": "Používáte <strong>zastaralý</strong> prohlížeč. Prosím <a href=\"http://browsehappy.com/?locale=en\">aktualizujte svůj prohlížeč</a> pro zlepšení použitelnosti.",
        "menu": {
            "home": "Domů",
            "jhipster-needle-menu-add-element": "JHipster will add additional menu entries here (do not translate!)",
            "entities": {
                "main": "Entity",
                "jhipster-needle-menu-add-entry": "JHipster will add additional entities here (do not translate!)"
            },
            "account": {
                "main": "Účet",
                "settings": "Nastavení",
                "password": "Heslo",
                "sessions": "Sezení",
                "login": "Přihlášení",
                "logout": "Odhlásit se",
                "register": "Registrace"
            },
            "admin": {
                "main": "Administrace",
<%_ if (applicationTypeGateway) { _%>
                "gateway": "Brána",
<%_ } _%>
                "userManagement": "Správa uživatelů",
                "tracker": "Sledování uživatelů",
                "metrics": "Metriky",
                "health": "Stav systému",
                "configuration": "Konfigurace",
                "logs": "Logy",
                "apidocs": "API",
                "database": "Databáze",
                "jhipster-needle-menu-add-admin-element": "JHipster will add additional menu entries here (do not translate!)"
            },
            "language": "Jazyk"
        },
        "form": {
            "username.label": "Uživatelské jméno",
            "username.placeholder": "Vaše uživatelské jméno",
            "currentpassword.label": "Current password",
            "currentpassword.placeholder": "Current password",
            "newpassword.label": "Nové heslo",
            "newpassword.placeholder": "Nové heslo",
            "confirmpassword.label": "Potvrzení nového hesla",
            "confirmpassword.placeholder": "Potvrzení nového hesla",
            "email.label": "Email",
            "email.placeholder": "Váš email"
        },
        "messages": {
            "info": {
                "authenticated": {
                    "prefix": "Pokud se chcete ",
                    "link": "přihlásit",
                    "suffix": ", můžete vyzkoušet predvolené účty:<br/>- Administrátor (jméno=\"admin\" a heslo=\"admin\") <br/>- Uživatel (jméno=\"user\" a heslo=\"user\")."
                },
                "register": {
                    "noaccount": "Ještě nemáte účet?",
                    "link": "Zaregistrujte si nový účet."
                }
            },
            "error": {
                "dontmatch": "Nové heslo a potvrzení nového hesla se neshodují!"
            },
            "validate": {
                "newpassword": {
                    "required": "Heslo je povinné.",
                    "minlength": "Vaše heslo musí mít alespoň 4 znaky.",
                    "maxlength": "Vaše heslo nemůže být delší než 50 znaků.",
                    "strength": "Síla hesla:"
                },
                "confirmpassword": {
                    "required": "Potvrzení hesla je povinné.",
                    "minlength": "Vaše potvrzení hesla musí mít alespoň 4 znaky.",
                    "maxlength": "Vaše potvrzení hesla nemůže být delší než 50 znaků."
                },
                "email": {
                    "required": "Email je povinný.",
                    "invalid": "Zadaný email není validní.",
                    "minlength": "Váš email musí mít alespoň 5 znaků.",
                    "maxlength": "Váš email nemůže být delší než 50 znaků."
                }
            }
        },
        "field": {
            "id": "ID"
        },
        "ribbon": {
            "dev": "Development"
        },
        "item-count": "Zobrazeno {{first}} - {{second}} ze {{total}} položek."
    },
    "entity": {
        "action": {
            "addblob": "Vložit blob",
            "addimage": "Vložit obrázek",
            "back": "Zpět",
            "cancel": "Zrušit",
            "delete": "Odstranit",
            "edit": "Upravit",
            "open": "Open",
            "save": "Uložit",
            "view": "Detaily",
            "show": "Show {{otherEntity}}"
        },
        "detail": {
            "field": "Pole",
            "value": "Hodnota"
        },
        "delete": {
            "title": "Potvrzení odstranení"
        },
        "validation": {
            "required": "Toto pole je povinné.",
            "minlength": "Toto pole musí mít alespoň {{ min }} znaků.",
            "maxlength": "Toto pole nemůže být delší než {{ max }} znaků.",
            "min": "Toto pole musí mít hodnotu vyšší než {{ min }}.",
            "max": "Toto pole nemůže mít vyšší hodnotu než {{ max }}.",
            "minbytes": "Toto pole musí mít více než {{ min }} bajtů.",
            "maxbytes": "Toto pole nemůže mít více než {{ max }} bajtů.",
            "pattern": "Toto pole musí splňovat vzor {{ pattern }}.",
            "number": "Toto pole by mělo obsahovat číslo.",
            "datetimelocal": "Toto pole by mělo obsahovat datum a čas."
        },
        "filters": {
          "set": "Following filters are set",
          "clear": "Clear filter",
          "clearAll": "Clear all filters"
        }
    },
    "error": {
        "internalServerError": "Internal server error",
        "server.not.reachable": "Server je nedostupný",
        "url.not.found": "Not found",
        "NotNull": "Pole {{ fieldName }} nemůže být prázdné!",
        "Size": "Pole {{ fieldName }} nesplňuje požadavek minimální nebo maximální velikosti!",
        "userexists": "Zadané uživatelské jméno je již použito!",
        "emailexists": "Zadaný email je již použitý!",
        "idexists": "Nová entita {{ entityName }} ještě nemůže mít ID",
        "idnull": "Invalid ID",
        "idinvalid": "Invalid Id",
        "idnotfound": "ID cannot be found",
        "file": {
            "could.not.extract": "Could not extract file",
            "not.image": "File was expected to be an image but was found to be \"{{ fileType }}\""
        }
    },
    "footer": "Toto je vaše zápatí"
}
