<!doctype html>
<html class="no-js" ng-app="<%= angularAppName %>" xmlns:ng="http://angularjs.org">
    <head>
	    <!--
	        IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
	        For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim
	    -->
	    <!--[if lt IE 9]>
	    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
	    <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
	    <script>
	        document.createElement('ui-select');
	        document.createElement('ui-select-match');
	        document.createElement('ui-select-choices');
	    </script>
	    <![endif]-->
	    <!--[if lte IE 8]>
	    <script>
	        document.createElement('ng-include');
	        document.createElement('ng-pluralize');
	        document.createElement('ng-view');

	        // Optionally these for CSS
	        document.createElement('ng:include');
	        document.createElement('ng:pluralize');
	        document.createElement('ng:view');
	    </script>
	    <![endif]-->

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= baseName %></title>
        <meta name="description" content="">
        <%_ if(enableTranslation) { _%>
        <meta name="google" value="notranslate">
        <%_ } _%>
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css assets/styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css assets/styles/main.css -->
        <link rel="stylesheet" href="assets/styles/main.css">
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div ng-show="{{ENV === 'dev'}}" class="development" ng-cloak></div>
        <div ui-view="navbar" ng-cloak></div>
        <div class="container">
            <div class="well" ui-view="content"></div>

            <div class="footer">
                <p translate="footer">This is your footer</p>
            </div>
        </div>

        <!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>-->

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <!-- endbower -->
        <!-- endbuild -->
    </body>
</html>
