<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= baseName %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <% if (!useCompass) { %><link rel="stylesheet" href="styles/bootstrap.css">
        <% } %><link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body ng-app="<%= baseName %>App">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="dropdown pointer">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                                <span>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span class="hidden-tablet">
                                        Account
                                    </span>
                                    <b class="caret"></b>
                                </span>
                        </a>
                        <ul class="dropdown-menu" ng-controller="MenuController">
                            <li ng-show="autenticated"><a href="#/account"><span class="glyphicon glyphicon-wrench"></span>
                                Settings</a></li>
                            <li ng-show="autenticated"><a href="/metrics"><span class="glyphicon glyphicon-dashboard"></span>
                                Metrics</a></li>
                            <li ng-show="autenticated"><a href="#/logout"><span class="glyphicon glyphicon-log-out"></span>
                                Log out</a></li>

                            <li ng-hide="autenticated"><a href="#/login"><span
                                    class="glyphicon glyphicon-log-in"> Authenticate {{account.login}}</span></a></li>

                        </ul>
                    </li>
                </ul>
                <h3 class="text-muted">jhipster</h3>
            </div>


            <div class="well" ng-view></div>

            <div class="footer">
                <p>This is your footer</p>
            </div>

        </div>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
