<%#
 Copyright 2013-2019 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
{
    "global": {
        "title": "<%= capitalizedBaseName %>",
        "browsehappy": "Používate <strong>zastaraný</strong> prehliadač. Prosím <a href=\"http://browsehappy.com/?locale=en\">aktualizujte svoj prehliadač</a> pre zlepšenie použiteľnosti.",
        "menu": {
            "home": "Domov",
            "jhipster-needle-menu-add-element": "JHipster will add additional menu entries here (do not translate!)",
            "entities": {
                "main": "Entity",
                "jhipster-needle-menu-add-entry": "JHipster will add additional entities here (do not translate!)"
            },
            "account": {
                "main": "Účet",
                "settings": "Nastavenia",
                "password": "Heslo",
                "sessions": "Sedenia",
                "login": "Prihlásenie",
                "logout": "Odhlásiť sa",
                "register": "Registrácia"
            },
            "admin": {
                "main": "Administrácia",
                <%_ if (applicationType === 'gateway') { _%>
                "gateway": "Brána",
                <%_ } _%>
                "userManagement": "Správa používateľov",
                "tracker": "Sledovanie používateľov",
                "metrics": "Metriky",
                "health": "Stav systému",
                "configuration": "Konfigurácia",
                "logs": "Logy",
                <%_ if ((databaseType !== 'no' || authenticationType === 'uaa') && databaseType !== 'cassandra') { _%>
                "audits": "Audity",
                <%_ } _%>
                "apidocs": "API",
                "database": "Databáza",
                "jhipster-needle-menu-add-admin-element": "JHipster will add additional menu entries here (do not translate!)"
            },
            "language": "Jazyk"
        },
        "form": {
            "username.label": "Používateľské meno",
            "username.placeholder": "Vaše používateľské meno",
            "newpassword.label": "Nové heslo",
            "newpassword.placeholder": "Nové heslo",
            "confirmpassword.label": "Potvrdenie nového hesla",
            "confirmpassword.placeholder": "Potvrdenie nového hesla",
            "email.label": "Email",
            "email.placeholder": "Váš email"
        },
        "messages": {
            "info": {
                "authenticated": {
                    "prefix": "Ak sa chcete ",
                    "link": "prihlásiť",
                    "suffix": ", môžete vyskúšať predvolené účty:<br/>- Administrátor (meno=\"admin\" a heslo=\"admin\") <br/>- Používateľ (meno=\"user\" a heslo=\"user\")."
                },
                "register": {
                    "noaccount": "Ešte nemáte účet?",
                    "link": "Zaregistrujte si nový účet."
                }
            },
            "error": {
                "dontmatch": "Nové heslo a potvrdenie nového hesla sa nezhodujú!"
            },
            "validate": {
                "newpassword": {
                    "required": "Heslo je povinné.",
                    "minlength": "Vaše heslo musí mať aspoň 4 znakov.",
                    "maxlength": "Vaše heslo nemôže byť dlhšie ako 50 znakov.",
                    "strength": "Sila hesla:"
                },
                "confirmpassword": {
                    "required": "Potvrdenie hesla je povinné.",
                    "minlength": "Vaše potvrdenie hesla musí mať aspoň 4 znakov.",
                    "maxlength": "Vaše potvrdenie hesla nemôže byť dlhšie ako 50 znakov."
                },
                "email": {
                    "required": "Email je povinný.",
                    "invalid": "Zadaný email nie je validný.",
                    "minlength": "Váš email musí mať aspoň 5 znakov.",
                    "maxlength": "Váš email nemôže byť dlhší ako 50 znakov."
                }
            }
        },
        "field": {
            "id": "ID"
        },
        "ribbon": {
            "dev": "Development"
        },
        "item-count": "Showing {{first}} - {{second}} of {{total}} items."
    },
    "entity": {
        "action": {
            "addblob": "Vložiť blob",
            "addimage": "Vložiť obrázok",
            "back": "Späť",
            "cancel": "Zrušiť",
            "delete": "Odstrániť",
            "edit": "Upraviť",
            "open": "Open",
            "save": "Uložiť",
            "view": "Detaily"
        },
        "detail": {
            "field": "Pole",
            "value": "Hodnota"
        },
        "delete": {
            "title": "Potvrdenie odstránenia"
        },
        "validation": {
            "required": "Toto pole je povinné.",
            "minlength": "Toto pole musí mať aspoň {{ min }} znakov.",
            "maxlength": "Toto pole nemôže byť dlhšie ako {{ max }} znakov.",
            "min": "Toto pole musí mať hodnotu vyššiu ako {{ min }}.",
            "max": "Toto pole nemôže mať vyššiu hodnotu ako {{ max }}.",
            "minbytes": "Toto pole musí mať viac ako {{ min }} bajtov.",
            "maxbytes": "Toto pole nemôže mať viac ako {{ max }} bajtov.",
            "pattern": "Toto pole musí spĺňať vzor {{ pattern }}.",
            "number": "Toto pole by malo obsahovať číslo.",
            "datetimelocal": "Toto pole by malo obsahovať dátum a čas."
        }
    },
    "error": {
        "internalServerError": "Internal server error",
        "server.not.reachable": "Server je nedostupný",
        "url.not.found": "Not found",
        "NotNull": "Pole {{ fieldName }} nemôže byť prázdne!",
        "Size": "Pole {{ fieldName }} nespĺňa požiadavku minimálnej alebo maximálnej veľkosti!",
        "userexists": "Zadané používateľské meno už niekto používa!",
        "emailexists": "Zadaný email už niekto používa!",
        "idexists": "Nová entita {{ entityName }} ešte nemôže mať ID",
        "idnull": "Invalid ID"
    },
    "footer": "Toto je vaše zápätie"
}
