import React from 'react';
import { Translate } from 'react-jhipster';
import { Alert } from 'reactstrap';

const ErrorLoading = () => {
  return (
    <div>
      <Alert color="danger">Error loading component</Alert>
    </div>
  );
};

export default ErrorLoading;
