<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" (click)="collapseNavbar()">
                <img class="logo-img" src="content/images/logo-jhipster.png"/>
                <span translate="global.title"><%= capitalizedBaseName %></span> <span class="navbar-version">v{{VERSION}}</span>
            </a>
        </div>
        <div class="navbar-collapse" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" href="#/home" (click)="collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm" translate="global.menu.home">Home</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li [ngClass]="{active: $state.includes('entity')}" *ngSwitchCase="true" ngbDropdown class="dropdown pointer">
                    <a class="dropdown-toggle" ngbDropdownToggle href="#" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li [ngClass]="{active: $state.includes('account')}" ngbDropdown class="dropdown pointer">
                    <a class="dropdown-toggle" ngbDropdownToggle href="#" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li ui-sref-active="active" *ngSwitchCase="true">
                            <a ui-sref="settings" href="#/settings" (click)="collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" *ngSwitchCase="true">
                            <a ui-sref="password" href="#/password" (click)="collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <%_ if (authenticationType == 'session') { _%>
                        <li ui-sref-active="active" *ngSwitchCase="true">
                            <a ui-sref="sessions" href="#/sessions" (click)="collapseNavbar()">
                                <span class="glyphicon glyphicon-cloud"></span>&nbsp;
                                <span translate="global.menu.account.sessions">Sessions</span>
                            </a>
                        </li>
                        <%_ } _%>
                        <li ui-sref-active="active" *ngSwitchCase="true">
                            <a href="" (click)="logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" *ngSwitchCase="false">
                            <a href="" (click)="login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span translate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" *ngSwitchCase="false">
                            <a ui-sref="register" href="#/register" (click)="collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span translate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li [ngClass]="{active: $state.includes('admin')}"  *ngSwitchCase="true" has-authority="ROLE_ADMIN" ngbDropdown class="dropdown pointer">
                    <a class="dropdown-toggle" ngbDropdownToggle href="#" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <%_ if (applicationType == 'gateway') { _%>
                        <li ui-sref-active="active">
                            <a ui-sref="gateway" href="#/gateway" (click)="collapseNavbar()">
                                <span class="glyphicon glyphicon-road"></span>&nbsp;
                                <span translate="global.menu.admin.gateway">Gateway</span>
                            </a>
                        </li>
                        <%_ } _%>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" href="#/user-management" (click)="collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span translate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                        <%_ if (websocket == 'spring-websocket') { _%>
                        <li ui-sref-active="active">
                            <a ui-sref="<%=jhiPrefix%>-tracker" href="#/<%=jhiPrefix%>-tracker" (click)="collapseNavbar()">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
                                <span translate="global.menu.admin.tracker">User tracker</span>
                            </a>
                        </li>
                        <%_ } _%>
                        <li ui-sref-active="active">
                            <a ui-sref="<%=jhiPrefix%>-metrics" href="#/<%=jhiPrefix%>-metrics" (click)="collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="<%=jhiPrefix%>-health" href="#/<%=jhiPrefix%>-health" (click)="collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span translate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="<%=jhiPrefix%>-configuration" href="#/<%=jhiPrefix%>-configuration" (click)="collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" href="#/audits" (click)="collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span translate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" href="#/logs" (click)="collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span translate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li *ngIf="swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" href="#/docs" (click)="collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span translate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                        <%_ if (devDatabaseType == 'h2Disk' || devDatabaseType == 'h2Memory') { _%>
                        <li *ngIf="!inProduction">
                            <a href='/h2-console' target="_tab" (click)="collapseNavbar()">
                                <span class="glyphicon glyphicon-hdd"></span>&nbsp;
                                <span translate="global.menu.admin.database">Database</span>
                            </a>
                        </li>
                        <%_ } _%>
                    </ul>
                </li>
                <%_ if (enableTranslation){ _%>
                <li *ngIf="languages" ui-sref-active="active" ngbDropdown class="dropdown pointer">
                    <a class="dropdown-toggle" ngbDropdownToggle href="#" *ngIf="languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">
                        <li *ngFor="let language of languages">
                            <a href="" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
                <%_ } _%>
            </ul>
        </div>
    </div>
</nav>
