<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title <% if (enableTranslation) { %>th:text="#{email.reset.title}"<% } %>><%= baseName %> password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p <% if (enableTranslation) { %>th:text="#{email.reset.greeting(${user.login})}"<% } else { %> th:text="'Dear ' + ${user.login}" <% } %>>
            Dear
        </p>
        <p <% if (enableTranslation) { %>th:text="#{email.reset.text1}"<% } %>>
          For your <%= baseName %> account a password reset was requested, please click on the URL below to reset it:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}"
               th:text="|${user.login}|">Reset Link</a>
        </p>
        <p>
            <span <% if (enableTranslation) { %>th:text="#{email.reset.text2}"<% } %>>Regards, </span>
            <br/>
            <em <% if (enableTranslation) { %>th:text="#{email.signature}"<% } %>><%= baseName %> Team.</em>
        </p>
    </body>
</html>
