<div>
    <div class="row">
        <h2 class="col-sm-6" translate="user-management.home.title">Users</h2>
    </div>

    <div class="modal fade" id="saveUserModal" tabindex="-1" role="dialog" aria-labelledby="myUserLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myUserLabel" translate="user-management.home.createOrEditLabel">
                            Create or edit a User</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label translate="global.field.id">ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="user.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="user-management.login">Login</label>
                            <input type="text" class="form-control" name="login"
                                   ng-model="user.login" ng-required="user.id == null" ng-maxlength="50">

                            <div ng-show="editForm.login.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.login.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>

                                <p class="help-block"
                                   ng-show="editForm.login.$error.maxlength" translate="entity.validation.maxlength"
                                   translate-value-max="50">
                                    This field cannot be longer than 50 characters.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="user-management.firstName">FirstName</label>
                            <input type="text" class="form-control" name="firstName"
                                   ng-model="user.firstName" ng-maxlength="50">

                            <div ng-show="editForm.firstName.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.firstName.$error.maxlength" translate="entity.validation.maxlength"
                                   translate-value-max="50">
                                    This field cannot be longer than 50 characters.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="user-management.lastName">LastName</label>
                            <input type="text" class="form-control" name="lastName"
                                   ng-model="user.lastName" ng-maxlength="50">

                            <div ng-show="editForm.lastName.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.lastName.$error.maxlength" translate="entity.validation.maxlength"
                                   translate-value-max="50">
                                    This field cannot be longer than 50 characters.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="user-management.email">Email</label>
                            <input type="text" class="form-control" name="email"
                                   ng-model="user.email" required ng-maxlength="100">

                            <div ng-show="editForm.email.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.email.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>

                                <p class="help-block"
                                   ng-show="editForm.email.$error.maxlength" translate="entity.validation.maxlength"
                                   translate-value-max="100">
                                    This field cannot be longer than 100 characters.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="activated">
                                <input type="checkbox" id="activated" ng-model="user.activated">
                                <span translate="user-management.activated">Activated</span>
                            </label>
                        </div><% if (enableTranslation) { %>

                        <div class="form-group">
                            <label translate="user-management.langKey">LangKey</label>
                            <select class="form-control" name="langKey" ng-model="user.langKey"
                                    ng-options="language as language for language in languages track by language">
                            </select>
                        </div><% } %>

                        <div class="form-group">
                            <label translate="user-management.profiles">Profiles</label>
                            <select class="form-control" multiple name="authority" ng-model="user.authorities"
                                    ng-options="authority for authority in authorities">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteUserConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(user.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="user-management.delete.question" translate-values="{login: '{{user.login}}'}">Are you
                            sure you want to delete this User?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.field.id">ID</th>
                <th translate="user-management.login">Login</th>
                <th translate="user-management.email">Email</th>
                <th></th>
                <% if (enableTranslation) { %><th translate="user-management.langKey">LangKey</th><% } %>
                <th translate="user-management.profiles">Profiles</th><% if (databaseType == 'sql' || databaseType == 'mongodb') { %>
                <th translate="user-management.createdDate">CreatedDate</th>
                <th translate="user-management.lastModifiedBy">LastModifiedBy</th>
                <th translate="user-management.lastModifiedDate">LastModifiedDate</th><% } %>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users track by user.id">
                <td><a ui-sref="user-management-detail({login:user.login})">{{user.id}}</a></td>
                <td>{{user.login}}</td>
                <td>{{user.email}}</td>
                <td>
                    <span class="label label-danger" ng-click="setActive(user, true)" ng-show="!user.activated"
                          translate="user-management.deactivated" style="cursor: pointer;">Desactivated</span>
                    <span class="label label-success" ng-click="setActive(user, false)" ng-show="user.activated"
                          translate="user-management.activated" style="cursor: pointer;">Activated</span>
                </td>
                <% if (enableTranslation) { %><td>{{user.langKey}}</td><% } %>
                <td>
                    <div ng-repeat="authority in user.authorities">
                        <span class="label label-info">{{ authority }}</span>
                    </div>
                </td><% if (databaseType == 'sql' || databaseType == 'mongodb') { %>
                <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{user.lastModifiedBy}}</td>
                <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td><% } %>
                <td class="text-right">
                    <button type="submit"
                            ui-sref="user-management-detail({login:user.login})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                    <button type="submit"
                            ng-click="showUpdate(user.login)"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table><% if (databaseType == 'sql' || databaseType == 'mongodb') { %>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav><% } %>
    </div>
</div>
