<%#
 Copyright 2013-2018 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
{
    "global": {
        "title": "<%= capitalizedBaseName %>",
        "browsehappy": "<strong>Çok eski</strong> bir tarayıcı kullanıyorsunuz. Lütfen kullanım kalitenizi arttırmak için <a href=\"http://browsehappy.com/?locale=tr\">tarayıcınızı yükseltin</a>.",
        "menu": {
            "home": "Ana Sayfa",
            "jhipster-needle-menu-add-element": "JHipster will add additional menu entries here (do not translate!)",
            "entities": {
                "main": "Varlıklar",
                "jhipster-needle-menu-add-entry": "JHipster will add additional entities here (do not translate!)"
            },
            "account": {
                "main": "Hesap",
                "settings": "Ayarlar",
                "password": "Şifre",
                "sessions": "Oturumlar",
                "login": "Giriş",
                "logout": "Çıkış",
                "register": "Kayıt"
            },
            "admin": {
                "main": "Yönetim",
                <%_ if (applicationType === 'gateway') { _%>
                "gateway": "Gateway",
                <%_ } _%>
                "userManagement": "Kullanıcı yönetimi",
                "tracker": "Kullanıcı Takip",
                "metrics": "Ölçümler",
                "health": "Sağlık",
                "configuration": "Yapılandırma",
                "logs": "Kayıtlar",
                <%_ if (databaseType !== 'no' && databaseType !== 'cassandra') { _%>
                "audits": "Denetim",
                <%_ } _%>
                "apidocs": "API",
                "database": "Veritabanı",
                "jhipster-needle-menu-add-admin-element": "JHipster will add additional menu entries here (do not translate!)"
            },
            "language": "Dil"
        },
        "form": {
            "username": "Kullanıcı Adı",
            "username.placeholder": "Kullanıcı Adınız",
            "currentpassword": "Mevcut Şifre",
            "currentpassword.placeholder": "Mevcut Şifreniz",
            "newpassword": "Yeni Şifre",
            "newpassword.placeholder": "Yeni Şifreniz",
            "confirmpassword": "Yeni Şifre Tekrar",
            "confirmpassword.placeholder": "Yeni Şifreniz Tekrar",
            "email": "E-posta",
            "email.placeholder": "E-posta adresiniz"
        },
        "messages": {
            "info": {
                "authenticated": {
                    "prefix": "",
                    "link": "Giriş",
                    "suffix": " yapmak istiyorsanız, varsayılan hesaplardan birini deneyebilirsiniz:<br/>- Yönetici (kullanıcı adı=\"admin\" ve şifre=\"admin\") <br/>- Kullanıcı (kullanıcı adı=\"user\" and şifre=\"user\")."
                },
                "register": {
                    "noaccount": "Henüz bir hesabınız yok mu?",
                    "link": "Yeni hesap oluştur"
                }
            },
            "error": {
                "dontmatch" : "Şifreler eşleşmedi!"
            },
            "validate": {
                "newpassword": {
                    "required": "Şifre zorunlu alandır.",
                    "minlength": "Şifreniz en az 5 karakter olmak zorundadır",
                    "maxlength": "Şifreniz 50 karakterden uzun olamaz",
                    "strength": "Şifre karmaşıklığı:"
                },
                "confirmpassword": {
                    "required": "Tekrar şifresi zorunludur.",
                    "minlength": "Tekrar şifreniz en az 5 karakter olmalıdır",
                    "maxlength": "Tekrar şifreniz 50 karakterden uzun olamaz"
                },
                "email": {
                    "required": "E-posta zorunlu alandır.",
                    "invalid": "E-posta alanı uygun değil.",
                    "minlength": "E-posta adresi en az 5 karakter olmalıdır",
                    "maxlength": "E-posta adresi 50 karakterden fazla olamaz"
                }
            }
        },
        "field": {
            "id" : "ID"
        },
        "ribbon": {
            "dev": "Development"
        },
        "item-count": "Toplam {{total}} kaydın {{first}} - {{second}} arası gösteriliyor."
    },
    "entity": {
        "action": {
            "addblob": "Add blob",
            "addimage": "Resim Ekle",
            "back": "Geri",
            "cancel": "İptal",
            "delete": "Sil",
            "edit": "Düzenle",
            "open": "Aç",
            "save": "Kaydet",
            "view": "Görüntüle"
        },
        "detail": {
            "field": "Alan",
            "value": "Değer"
        },
        "delete": {
            "title": "Silme işlemini onayla"
        },
        "validation": {
            "required": "Bu alan gerekli.",
            "minlength": "Bu alan en az {{min}} karakterden oluşabilir.",
            "maxlength": "Bu alan en fazla {{max}} karakterden oluşabilir.",
            "min": "Bu alan en az {{min}} olmalı.",
            "max": "Bu alan en fazla {{max}} olmalı.",
            "minbytes": "Bu alanan en az {{min}} byte olmalı.",
            "maxbytes": "Bu alan en fazla {{max}} byte olmalı.",
            "pattern": "Bu alan {{pattern}} şablonuna uymuyor.",
            "number": "Bu alan numara içermeli.",
            "datetimelocal": "Bu alan tarih veya zaman içermeli.",
            "patternLogin": "Bu alan harf, rakam veya e-posta adresi içermeli."
        }
    },
    "error": {
        "internalServerError": "Internal server error",
        "server.not.reachable": "Sunucuya ulaşılamıyor",
        "url.not.found": "Bulunamadı",
        "NotNull": "{{fieldName}} alanı boş bırakılamaz!",
        "Size": "{{fieldName}} alanı min/max gerekliliklere uymuyor!",
        "userexists": "Kullanıcı adı daha önce alınmış!",
        "emailexists": "E-posta adresi zaten kullanılıyor!",
        "idexists": "A new {{entityName}} cannot already have an ID",
        "idnull": "Invalid ID"
    },
    "footer": "Burası sayfa alt bilgisi"
}
