<%#
 Copyright 2013-2025 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1>__jhiTranslateTag__('reset.request.title')</h1>

      <<%= jhiPrefixDashed %>-alert-error />

      @if (!success()) {
        <div class="alert alert-warning">
          <span>__jhiTranslateTag__('reset.request.messages.info')</span>
        </div>
        <form name="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
          <div class="mb-3">
            <label class="form-label" for="email">__jhiTranslateTag__('global.form.email.label')</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="__jhiTranslatePipe__('global.form.email.placeholder')"
              formControlName="email"
              data-cy="emailResetPassword"
            />

            @let emailRef = resetRequestForm.get('email')!;
            @if (emailRef.invalid && (emailRef.dirty || emailRef.touched)) {
              <div>
                @if (emailRef?.errors?.required) {
                  <small class="form-text text-danger">__jhiTranslateTag__('global.messages.validate.email.required')</small>
                }
                @if (emailRef?.errors?.email) {
                  <small class="form-text text-danger">__jhiTranslateTag__('global.messages.validate.email.invalid')</small>
                }

                @if (emailRef?.errors?.minlength) {
                  <small class="form-text text-danger">__jhiTranslateTag__('global.messages.validate.email.minlength')</small>
                }

                @if (emailRef?.errors?.maxlength) {
                  <small class="form-text text-danger">__jhiTranslateTag__('global.messages.validate.email.maxlength')</small>
                }
              </div>
            }
          </div>
          <button type="submit" [disabled]="resetRequestForm.invalid" class="btn btn-primary" data-cy="submit">
            __jhiTranslateTag__('reset.request.form.button')
          </button>
        </form>
      } @else {
        <div class="alert alert-success">
          <span>__jhiTranslateTag__('reset.request.messages.success')</span>
        </div>

      }
    </div>
  </div>
</div>
