<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 translate="register.title">Registration</h1>

            <div class="alert alert-success" *ngIf="success" translate="register.messages.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" *ngIf="error" translate="register.messages.error.fail">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists" translate="register.messages.error.userexists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists" translate="register.messages.error.emailexists">
                <strong>E-mail is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" translate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>
        </div>
        <%_ if (enableSocialSignIn) { _%>
        <div class="col-md-4 col-md-offset-2">
        <%_ } else { _%>
        <div class="col-md-8 col-md-offset-2">
        <%_ } _%>
            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm">
                <div class="form-group">
                    <label class="control-label" for="login" translate="global.form.username">Username</label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="{{'global.form.login.placeholder'}}"
                            required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">
                    <div *ngIf="login.dirty && login.invalid">
                        <p class="help-block" *ngIf="login.errors.required" translate="register.messages.validate.login.required">
                            Your username is required.
                        </p>
                        <p class="help-block" *ngIf="login.errors.minlength"
                                translate="register.messages.validate.login.minlength">
                            Your username is required to be at least 1 character.
                        </p>
                        <p class="help-block" *ngIf="login.errors.maxlength"
                                translate="register.messages.validate.login.maxlength">
                            Your username cannot be longer than 50 characters.
                        </p>
                        <p class="help-block" *ngIf="login.errors.pattern"
                               translate="register.messages.validate.login.pattern">
                            Your username can only contain lower-case letters and digits.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email" translate="global.form.email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="{{'global.form.email.placeholder'}}"
                            [(ngModel)]="registerAccount.email" minlength=5 maxlength=100 required>
                    <div *ngIf="email.dirty && email.invalid">
                        <p class="help-block" *ngIf="email.errors.required"
                                translate="global.messages.validate.email.required">
                            Your e-mail is required.
                        </p>
                        <p class="help-block" *ngIf="email.errors.invalid"
                               translate="global.messages.validate.email.invalid">
                            Your e-mail is invalid.
                        </p>
                        <p class="help-block" *ngIf="email.errors.minlength"
                               translate="global.messages.validate.email.minlength">
                            Your e-mail is required to be at least 5 characters.
                        </p>
                        <p class="help-block" *ngIf="email.errors.maxlength"
                               translate="global.messages.validate.email.maxlength">
                            Your e-mail cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password" translate="global.form.newpassword">New password</label>
                    <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="{{'global.form.newpassword.placeholder'}}"
                            [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                    <div *ngIf="password.dirty && password.invalid">
                        <p class="help-block" *ngIf="password.errors.required"
                                translate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </p>
                        <p class="help-block" *ngIf="password.errors.minlength"
                                translate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 4 characters.
                        </p>
                        <p class="help-block" *ngIf="password.errors.maxlength"
                                translate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="registerAccount.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword" translate="global.form.confirmpassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="{{'global.form.confirmpassword.placeholder'}}"
                            [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <p class="help-block" *ngIf="confirmPasswordInput.errors.required"
                               translate="global.messages.validate.confirmpassword.required">
                            Your confirmation password is required.
                        </p>
                        <p class="help-block" *ngIf="confirmPasswordInput.errors.minlength"
                              translate="global.messages.validate.confirmpassword.minlength">
                            Your confirmation password is required to be at least 4 characters.
                        </p>
                        <p class="help-block" *ngIf="confirmPasswordInput.errors.maxlength"
                               translate="global.messages.validate.confirmpassword.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary" translate="register.form.button">Register</button>
            </form>
            <p></p>
            <div class="alert alert-warning" translate="global.messages.info.authenticated" translate-compile>
                If you want to <a class="alert-link" (click)="login(loginModal)">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
            </div>
        </div>
        <%_ if (enableSocialSignIn) { _%>
        <div class="col-md-4">
            <br/>
            <jh-social ng-provider="google"></jh-social>
            <jh-social ng-provider="facebook"></jh-social>
            <jh-social ng-provider="twitter"></jh-social>
            <!-- jhipster-needle-add-social-button -->
        </div>
        <%_ } _%>
    </div>
</div>
<!-- this is a workaround untill ng-bootstrap supports components as modal content https://github.com/ng-bootstrap/ng-bootstrap/issues/680 -->
<template #loginModal let-dismiss="dismiss">
    <<%=jhiPrefix%>-login-modal [modalRef]="modalRef" [dismiss]="dismiss"></<%=jhiPrefix%>-login-modal>
</template>
