import * as React from 'react';
import { TranslatorContext } from 'react-jhipster';
import * as moment from 'moment';

export interface IDurationFormat {
  value: any;
  blankOnInvalid?: boolean;
  locale?: string;
}

export const DurationFormat = ({ value, blankOnInvalid, locale }: IDurationFormat) => {
  if (blankOnInvalid && !value) {
    return null;
  }

  if (!locale) {
    locale = TranslatorContext.context.locale;
  }

  return <span title={value}>{moment.duration(value).locale(locale).humanize()}</span>;
};
