<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (userData(); as userDataRef) {
      <div>
        <h2 data-cy="userDataDetailsHeading"><span jhiTranslate="gatewayApp.userData.detail.title">User Data</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ userDataRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.userData.address">Address</span></dt>
          <dd>
            <span>{{ userDataRef.address }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/user-data', userDataRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
