<template>
  <div>
    <div class="row-md">
      <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
      </div>
      <div class="col-md-9">
        <h1>{{ t$('error.title') }}</h1>

        <div v-if="errorMessage">
          <div class="alert alert-danger">{{ errorMessage }}</div>
        </div>
        <div v-if="error403" class="alert alert-danger">{{ t$('error.http.403') }}</div>
        <div v-if="error404" class="alert alert-warning">{{ t$('error.http.404') }}</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./error.component.ts"></script>
