<template>
    <div class="modal-body">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="alert alert-danger" v-if="authenticationError" v-html="$t('login.messages.error.authentication')">
                    <strong>Failed to sign in!</strong> Please check your credentials and try again.
                </div>
            </div>
            <div class="col-md-8">
                <form class="form" role="form" v-on:submit.prevent="doLogin()">
                    <div class="form-group">
                        <label for="_username" v-text="$t('global.form.username')">Login</label>
                        <input type="text" class="form-control" name="username" id="_username" v-bind:placeholder="$t('global.form[\'username.placeholder\']')"
                               v-model="login">
                    </div>
                    <div class="form-group">
                        <label for="_password" v-text="$t('login.form.password')">Password</label>
                        <input type="password" class="form-control" name="password" id="_password" v-bind:placeholder="$t('login.form[\'password.placeholder\']')"
                               v-model="password">
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="_rememberMe">
                            <input class="form-check-input" type="checkbox" name="rememberMe" id="_rememberMe" v-model="rememberMe" checked>
                            <span v-text="$t('login.form.rememberme')">Remember me</span>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary" v-text="$t('login.form.button')">Sign in</button>
                </form>
                <p></p>
                <div class="alert alert-warning">
                    <router-link class="alert-link" to="/resetPassword" v-text="$t('login.password.forgot')">Did you forget your password?</router-link>
                </div>
                <div class="alert alert-warning">
                    <span v-text="$t('global.messages.info.register.noaccount')">You don't have an account yet?</span>
                    <router-link class="alert-link" to="/register" v-text="$t('global.messages.info.register.link')">Register a new account</router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios'
    import Principal from './Principal';

    export default {
        mixins: [Principal],
        data() {
          return {
              authenticationError: null,
              login: null,
              password: null,
              rememberMe: null
          }
        },
        methods: {
            doLogin: function () {
                let vm = this;
                <%_ if (authenticationType === 'jwt') { _%>
                const data = { username: this.username, password: this.password, rememberMe: this.rememberMe };
                axios.post('api/authenticate', data
                ).then(function (result) {
                    const bearerToken = result.headers.authorization;
                    if (bearerToken && bearerToken.slice(0, 7) === 'Bearer ') {
                        const jwt = bearerToken.slice(7, bearerToken.length);
                        if (vm.rememberMe) {
                            localStorage.setItem('jhi-authenticationToken', jwt);
                        } else {
                            sessionStorage.setItem('jhi-authenticationToken', jwt);
                        }
                    }
                <%_ } else { _%>
                const data =
                    'j_username=' +
                    encodeURIComponent(this.login) +
                    '&j_password=' +
                    encodeURIComponent(this.password) +
                    '&remember-me=' +
                    this.rememberMe +
                    '&submit=Login';
                axios.post('api/authentication', data,{
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(function () {
                <%_ } _%>
                    vm.authenticationError = false;
                    vm.$root.$emit('bv::hide::modal','loginModal');
                    vm.retrieveAccount();
                }).catch(()=> {
                    this.authenticationError = true;
                });
            }
        },
        watch:{
            $route (){
                this.$root.$emit('bv::hide::modal','loginModal');
            }
        }
    }
</script>
