<%#
 Copyright 2013-2019 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
{
    "global": {
        "title": "<%= capitalizedBaseName %>",
        "browsehappy": "Ваш браузер <strong>застарів</strong>. Будь ласка, <a href=\"http://browsehappy.com/?locale=ru\">оновіть ваш браузер</a>.",
        "menu": {
            "home": "Головна",
            "jhipster-needle-menu-add-element": "JHipster will add additional menu entries here (do not translate!)",
            "entities": {
                "main": "Сутності",
                "jhipster-needle-menu-add-entry": "JHipster will add additional entities here (do not translate!)"
            },
            "account": {
                "main": "Профіль",
                "settings": "Налаштування",
                "password": "Пароль",
                "sessions": "Сесії",
                "login": "Увійти",
                "logout": "Вийти",
                "register": "Зареєструватися"
            },
            "admin": {
                "main": "Адміністрування",
                <%_ if (applicationType === 'gateway') { _%>
                "gateway": "Gateway",
                <%_ } _%>
                "userManagement": "Управління користувачами",
                "tracker": "Трекер користувача",
                "metrics": "Метрики",
                "health": "Стан",
                "configuration": "Налаштування",
                "logs": "Логи",
                <%_ if ((databaseType !== 'no' || authenticationType === 'uaa') && databaseType !== 'cassandra') { _%>
                "audits": "Аудит",
                <%_ } _%>
                "apidocs": "API",
                "database": "База даних",
                "jhipster-needle-menu-add-admin-element": "JHipster will add additional menu entries here (do not translate!)"
            },
            "language": "Мова"
        },
        "form": {
            "username.label": "Логін",
            "username.placeholder": "Ваш логін",
            "newpassword.label": "Новий пароль",
            "newpassword.placeholder": "Новий пароль",
            "confirmpassword.label": "Підтвердження нового пароля",
            "confirmpassword.placeholder": "Підтвердіть новий пароль",
            "email.label": "Електронна пошта",
            "email.placeholder": "Ваша електронна пошта"
        },
        "messages": {
            "info": {
                "authenticated": {
                    "prefix": "Якщо ви хочете",
                    "link": "авторизуватися",
                    "suffix": ", ви можете спробувати облікові записи за замовчуванням:<br/>- Адмiністратор (логін=\"admin\" і пароль=\"admin\") <br/>- Користувач (логін=\"user\" і пароль=\"user\")."
                },
                "register": {
                    "noaccount": "У вас немає облікового запису?",
                    "link": "Створити новий обліковий запис"
                }
            },
            "error": {
                "dontmatch": "Пароль і його підтвердження не збігаються!"
            },
            "validate": {
                "newpassword": {
                    "required": "Пароль необхідно вказати.",
                    "minlength": "Довжина пароля повинна бути хоча б 4 символів",
                    "maxlength": "Пароль не може бути довшим ніж 50 cимволів",
                    "strength": "Складність пароля:"
                },
                "confirmpassword": {
                    "required": "Підтвердження пароля необхідно вказати.",
                    "minlength": "Довжина підтвердження пароля повинна бути хоча б 4 символів",
                    "maxlength": "Підтвердження пароля не може бути довшим ніж 50 cимволів"
                },
                "email": {
                    "required": "Електронну пошту необхідно вказати",
                    "invalid": "Eлектронна пошта невірна",
                    "minlength": "Довжина електронної пошти повинна бути хоча б 5 символів",
                    "maxlength": "Довжина електронної пошти не може бути більшою, ніж 50 cимволів"
                }
            }
        },
        "field": {
            "id" : "ID"
        },
        "ribbon": {
            "dev": "Розробка"
        },
        "item-count": "Показано {{first}} - {{second}} з {{total}} пунктів."
    },
    "entity": {
        "action": {
            "addblob": "Додати двійковий об'єкт",
            "addimage": "Додати зображення",
            "back": "Назад",
            "cancel": "Відміна",
            "delete": "Видалити",
            "edit": "Змінити",
            "open": "Відкрити",
            "save": "Зберегти",
            "view": "Перегляд"
        },
        "detail": {
            "field": "Поле",
            "value": "Значення"
        },
        "delete": {
            "title": "Підтвердіть операцію видалення"
        },
        "validation": {
            "required": "Це поле є обов'язковим для заповнення.",
            "minlength": "Це поле є обов'язковим, принаймні {{min}} символів.",
            "maxlength": "Це поле не може бути довшим ніж {{max}} символів.",
            "min": "Це поле повинно бути більше ніж {{min}}.",
            "max": "Це поле не може бути більше ніж {{max}}.",
            "minbytes": "Це поле повинно бути більше ніж {{min}} байтів.",
            "maxbytes": "Це поле не може бути більше ніж {{max}} байтов.",
            "pattern": "Це поле повинно слідувати моделі {{pattern}}.",
            "number": "Це поле повинно бути числом.",
            "datetimelocal": "Це поле повинно бути 'дата і час'."
        }
    },
    "error": {
        "internalServerError": "Внутрішня помилка сервера",
        "server.not.reachable": "Сервер тимчасово недоступний",
        "url.not.found": "Не знайдено",
        "NotNull": "Поле {{fieldName}} не може бути пустим!",
        "Size": "Поле {{fieldName}} не відповідає вимогам мін/макс розміру!",
        "userexists": "Ім'я користувача вже використовується!",
        "emailexists": "Електронна пошта вже використовується!",
        "idexists": "Новий {{entityName}} не може мати даний ID",
        "idnull": "Invalid ID",
        "file": {
            "could.not.extract": "Could not extract file",
            "not.image": "File was expected to be an image but was found to be \"{{ fileType }}\""
        }
    },
    "footer": "Це ваш футер"
}
