<template>
  <div class="info jhi-item-count">
    <span v-text="t$('global.item-count', { first, second, total })">Showing {{ first }} - {{ second }} of {{ total }} items.</span>
  </div>
</template>

<script lang="ts" src="./jhi-item-count.component.ts"></script>
