<%#
 Copyright 2013-2019 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
{
    "global": {
        "title": "<%= capitalizedBaseName %>",
        "browsehappy": "Դուք օգտագործում եք <strong>հին</strong> browser. Խնդրում ենք <a href=\"http://browsehappy.com/?locale=en\">թարմացնել Ձեր browser</a> աշխատանքը բարելավելու համար:",
        "menu": {
            "home": "Գլխավոր",
            "jhipster-needle-menu-add-element": "JHipster will add additional menu entries here (do not translate!)",
            "entities": {
                "main": "Էություններ",
                "jhipster-needle-menu-add-entry": "JHipster will add additional entities here (do not translate!)"
            },
            "account": {
                "main": "Հաշիվ",
                "settings": "Կարգավորումներ",
                "password": "Գաղտնաբառ",
                "sessions": "Միացումներ",
                "login": "Մտնել",
                "logout": "Դուրս",
                "register": "Գրանցվել"
            },
            "admin": {
                "main": "Կառավարում",
                <%_ if (applicationType === 'gateway') { _%>
                "gateway": "Gateway",
                <%_ } _%>
                "userManagement": "Օգվողի կառավարում",
                "tracker": "Օգտվողի tracker",
                "metrics": "Մետրիկա",
                "health": "Health",
                "configuration": "Կարգավորումներ",
                "logs": "Logs",
                <%_ if ((databaseType !== 'no' || authenticationType === 'uaa') && databaseType !== 'cassandra') { _%>
                "audits": "Աուդիտ",
                <%_ } _%>
                "apidocs": "API",
                "database": "Տվյալների հենքեր",
                "jhipster-needle-menu-add-admin-element": "JHipster will add additional menu entries here (do not translate!)"
            },
            "language": "Լեզու"
        },
        "form": {
            "username.label": "Օգվողի անուն",
            "username.placeholder": "Ձեր օգտվողի անունը",
            "currentpassword.label": "Current password",
            "currentpassword.placeholder": "Current password",
            "newpassword.label": "Նոր գաղտնաբառ",
            "newpassword.placeholder": "Նոր գաղտնաբառ",
            "confirmpassword.label": "Նոր գաղտնաբառի հաստատում",
            "confirmpassword.placeholder": "Հաստատեք նոր գաղտնաբառը",
            "email.label": "Email",
            "email.placeholder": "Ձեր email"
        },
        "messages": {
            "info": {
                "authenticated": {
                    "prefix": "Եթե դուք ցանկանում եք ",
                    "link": "Մուտք գործել",
                    "suffix": ", դուք կարող եք փորձել հետևյալ հաշիվները<br/>- Administrator (login=\"admin\" and password=\"admin\") <br/>- User (login=\"user\" and password=\"user\")."
                },
                "register": {
                    "noaccount": "Դուք դեռ չունե՞ք հաշիվ",
                    "link": "Գրանցել նոր հաշիվ"
                }
            },
            "error": {
                "dontmatch": "Գաղտնաբառը և հաստատումը չեն համընկնում!"
            },
            "validate": {
                "newpassword": {
                    "required": "Գաղտնաբառը պետք է նշված լինի:",
                    "minlength": "Գաղտնաբառի երկարությունը պետք է լինի առնվազն 4 նիշ:",
                    "maxlength": "Գաղտնաբառը չի կարող լինել ավելի երկար, քան 50 նիշ:",
                    "strength": "Գաղտնաբառի բարդությունը:"
                },
                "confirmpassword": {
                    "required": "Գաղտնաբառի հաստատումը պետք է նշված լինի:",
                    "minlength": "Գաղտնաբառի երկարության հաստատումը պետք է լինի առնվազն 4 նիշ:",
                    "maxlength": "Գաղտնաբառի հաստատումը չի կարող լինել ավելի երկար, քան 50 նիշ:"
                },
                "email": {
                    "required": "Ձեր email պետք է նշված լինի:",
                    "invalid": "Ձեր email պետք է նշված լինի:",
                    "minlength": "Ձեր email երկարության հաստատումը պետք է լինի առնվազն 5 նիշ:",
                    "maxlength": "Ձեր email հաստատումը չի կարող լինել ավելի երկար, քան 50 նիշ:"
                }
            }
        },
        "field": {
            "id": "ID"
        },
        "ribbon": {
            "dev": "Development"
        },
        "item-count": "Showing {{first}} - {{second}} of {{total}} items."
    },
    "entity": {
        "action": {
            "addblob": "Ավելացնել blob",
            "addimage": "Ավելացնել նկար",
            "back": "Ետ",
            "cancel": "Չեղարկում",
            "delete": "Հեռացնել",
            "edit": "Փոփոխել",
            "open": "Բացել",
            "save": "Պահպանել",
            "view": "Դիտել"
        },
        "detail": {
            "field": "Դաշտ",
            "value": "Արժեք"
        },
        "delete": {
            "title": "Հաստատել հեռացնելու գործողությունը "
        },
        "validation": {
            "required": "Պարտադիր լրացման դաշտ:",
            "minlength": "Այս դաշտը պարտադիր է պետք է ունենա {{ min }} նիշ:",
            "maxlength": "Այս դաշտը չի կարող լինել երկար, քան {{ max }} նիշ:",
            "min": "Այս դաշտը պետք է լինի մեծ, քան {{ min }}:",
            "max": "Այս դաշտը չի կարող լինել մեծ, քան {{ max }}:",
            "minbytes": "Այս դաշտը պետք է լինի մեծ, քան {{ min }} բայթ:",
            "maxbytes": "Այս դաշտը չի կարող լինել մեծ, քան {{ max }} բայթ:",
            "pattern": "Այս դաշտը պետք է հետևի {{ pattern }} մոդելի:",
            "number": "Այս դաշտը պետք է լինի թիվ:",
            "datetimelocal": "Այս դաշտը պետք է լինի ամսաթիվ և ժամ:"
        }
    },
    "error": {
        "internalServerError": "Internal server error",
        "server.not.reachable": "Server not reachable",
        "url.not.found": "Not found",
        "NotNull": "Դաշտը {{ fieldName }} չի կարող լինել դատարկ!",
        "Size": "Դաշտը {{ fieldName }} չի համապատասխանում փոքրագ./առավելագ. չափերին!",
        "userexists": "Օգտվողի անունը արդեն օգտագործվում է!",
        "emailexists": "Email արդեն օգտագործվում է!",
        "idexists": "Նորը {{ entityName }} չի կարող ունենալ ID",
        "idnull": "Invalid ID"
    },
    "footer": "Սա Ձեր footer է"
}
