<%#
 Copyright 2013-2022 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
import React, { useState, useEffect } from 'react';
import { Col, Row, Button, Form } from 'reactstrap';
import { Translate, translate, ValidatedTextInput } from 'react-jhipster';
import { toast } from 'react-toastify';
import { useSearchParams } from 'react-router-dom';
import { handlePasswordResetFinish, reset } from '../password-reset.reducer';
import PasswordStrengthBar from 'app/shared/layout/password/password-strength-bar';
import { useAppDispatch, useAppSelector } from 'app/config/store';
import { useForm } from 'react-hook-form';

export const PasswordResetFinishPage = () => {
  const dispatch = useAppDispatch();

  const [searchParams] = useSearchParams();
  const key = searchParams.get('key');
  const { register, handleSubmit, setValue, formState: { errors, touchedFields }} = useForm();
  const [password, setPassword] = useState('');

  useEffect(
    () => () => {
      dispatch(reset());
    },
    []
  );
  const successMessage = useAppSelector(state => state.passwordReset.successMessage);

  useEffect(() => {
    if (successMessage) {
<%_ if (enableTranslation) { _%>
      toast.success(translate(successMessage));
<%_ } else { _%>
      toast.success(successMessage);
<%_ } _%>
    }
  }, [successMessage]);

  const handleValidSubmit = data => {
    dispatch(handlePasswordResetFinish({ key: data.key, newPassword: data.newPassword }));
  }

  const updatePassword = event => {
    setPassword(event.target.value);
    setValue('newPassword', event.target.value, { shouldValidate: true, shouldDirty: true, shouldTouch: true });
  }

  const getResetForm = () => {
    return (
      // eslint-disable-next-line @typescript-eslint/no-misused-promises
      <Form onSubmit={ handleSubmit(handleValidSubmit) }>
        <ValidatedTextInput
          register={ register }
          touchedFields={ touchedFields }
          errors={ errors }
          setValue={ setValue }
          name="newPassword"
          validate={{
            required: translate('global.messages.validate.newpassword.required') ,
            minLength: { value: 4, message: translate('global.messages.validate.newpassword.minlength') },
            maxLength: { value: 50, message: translate('global.messages.validate.newpassword.maxlength') },
          }}
          labelPlaceholderKey="global.form.newpassword.label"
          inputPlaceholderKey="global.form.newpassword.placeholder"
          type="password"
          updateValueOverrideMethod={ updatePassword }
        />
        <PasswordStrengthBar password={password} />
        <ValidatedTextInput
          register={ register }
          touchedFields={ touchedFields }
          errors={ errors }
          setValue={ setValue }
          name="confirmPassword"
          validate={{
            required: translate('global.messages.validate.confirmpassword.required'),
            minLength: { value: 4, message: translate('global.messages.validate.confirmpassword.minlength') },
            maxLength: { value: 50, message: translate('global.messages.validate.confirmpassword.maxlength') },
            validate: v => v === password || translate('global.messages.error.dontmatch'),
          }}
          labelPlaceholderKey="global.form.confirmpassword.label"
          inputPlaceholderKey="global.form.confirmpassword.placeholder"
          type="password"
        />
        <Button color="success" type="submit" data-cy="submit">
          <Translate contentKey="reset.finish.form.button">Validate new password</Translate>
        </Button>
      </Form>
    );
  };

  return (
    <div>
      <Row className="justify-content-center">
        <Col md="4">
          <h1>
            <Translate contentKey="reset.finish.title">Reset password</Translate>
          </h1>
          <div>{key ? getResetForm() : null}</div>
        </Col>
      </Row>
    </div>
  );
};

export default PasswordResetFinishPage;
