<%#
 Copyright 2013-2025 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
import { Component, input, computed } from '@angular/core';
<%_ if (enableTranslation) { _%>
import TranslateDirective from '../language/translate.directive';
<%_ } _%>

/**
 * A component that will take care of item count statistics of a pagination.
 */
@Component({
  selector: '<%= jhiPrefixDashed %>-item-count',
  template: `
<%_ if (enableTranslation) { _%>
    <div <%= jhiPrefix %>Translate="global.item-count" [translateValues]="{ first: first(), second: second(), total: total() }"></div>
<%_ } else { _%>
    <div>__jhiTransformTranslate__('global.item-count', { "first": "{{ first() }}", "second": "{{ second() }}", "total": "{{ total() }}" })</div>
<%_ } _%>
  `,
<%_ if (enableTranslation) { _%>
  imports: [TranslateDirective],
<%_ } _%>
})
export default class ItemCountComponent {
  /**
   * @param params  Contains parameters for component:
   *                    page          Current page number
   *                    totalItems    Total number of items
   *                    itemsPerPage  Number of items per page
   */
  params = input<{
    page?: number;
    totalItems?: number;
    itemsPerPage?: number;
  }>();

  first = computed(() => {
    const params = this.params();
    if (params?.page && params.totalItems !== undefined && params.itemsPerPage) {
      return (params.page - 1) * params.itemsPerPage + 1;
    }
    return undefined;
  });

  second = computed(() => {
    const params = this.params();
    if (params?.page && params.totalItems !== undefined && params.itemsPerPage) {
      return params.page * params.itemsPerPage < params.totalItems ? params.page * params.itemsPerPage : params.totalItems;
    }
    return undefined;
  });

  total = computed(() => this.params()?.totalItems);
}
