<%#
 Copyright 2013-2022 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
import React, { useState, useEffect } from 'react';
import { Translate, translate } from 'react-jhipster';
import { Button, Col, Form, FormFeedback, FormGroup, Input, Label, Row } from 'reactstrap';
import { toast } from 'react-toastify';

import { useAppDispatch, useAppSelector } from 'app/config/store';
import { getSession } from 'app/shared/reducers/authentication';
import PasswordStrengthBar from 'app/shared/layout/password/password-strength-bar';
import { savePassword, reset } from './password.reducer';
import { useForm } from 'react-hook-form';

export const PasswordPage = () => {
  const [newPassword, setNewPassword] = useState('');
  const dispatch = useAppDispatch();
  const { register, handleSubmit, setValue, formState: { errors }} = useForm({
    mode: 'onTouched'
  });
  useEffect(() => {
    dispatch(reset());
    dispatch(getSession());
    return () => {
      dispatch(reset());
    };
  }, []);

  const handleValidSubmit = data => {
    dispatch(savePassword({ currentPassword: data.currentPassword, newPassword: data.newPassword }));
  };

  const account = useAppSelector(state => state.authentication.account);
  const successMessage = useAppSelector(state => state.password.successMessage);
  const errorMessage = useAppSelector(state => state.password.errorMessage);

  useEffect(() => {
    if (successMessage) {
<%_ if (enableTranslation) { _%>
      toast.success(translate(successMessage));
    } else if (errorMessage) {
      toast.error(translate(errorMessage));
<%_ } else { _%>
      toast.success(successMessage);
    } else if (errorMessage) {
      toast.error(errorMessage);
<%_ } _%>
    }
    dispatch(reset());
  }, [successMessage, errorMessage]);

  const updateCurrentPassword = event => { setValue('currentPassword', event.target.value); };
  const updateNewPassword = event => { setNewPassword(event.target.value); setValue('newPassword', event.target.value); };
  const updateConfirmPassword = event => { setValue('confirmPassword', event.target.value); };

  return (
    <div>
      <Row className="justify-content-center">
        <Col md="8">
          <h2 id="password-title">
            <Translate contentKey="password.title" interpolate={{ username: account.login }}>
              Password for {account.login}
            </Translate>
          </h2>
          {/* eslint-disable-next-line @typescript-eslint/no-misused-promises */}
          <Form id="password-form" onSubmit={ handleSubmit(handleValidSubmit) }>
            <FormGroup>
              <Label id="currentPasswordLabel" for="currentPassword">
                {translate('global.form.currentpassword.label')}
              </Label>
              <Input
                id="currentPassword"
                name="currentPassword"
                placeholder={ translate('global.form.currentpassword.placeholder') }
                type="password"
                {...register('currentPassword', { required: translate('global.messages.validate.newpassword.required') })}
                data-cy="currentPassword"
                valid={!errors.currentPassword}
                invalid={!!errors.currentPassword}
                onChange={updateCurrentPassword}
              />
              <FormFeedback hidden={!errors.currentPassword}>{errors.currentPassword?.message}</FormFeedback>
            </FormGroup>
            <FormGroup>
              <Label id="newPasswordLabel" for="newPassword">
                {translate('global.form.newpassword.label')}
              </Label>
              <Input
                name="newPassword"
                placeholder={translate('global.form.newpassword.placeholder')}
                type="password"
                {...register('newPassword', {
                  required: translate('global.messages.validate.newpassword.required'),
                  minLength: { value: 4, message: translate('global.messages.validate.newpassword.minlength') },
                  maxLength: { value: 50, message: translate('global.messages.validate.newpassword.maxlength') }
                })}
                data-cy="newPassword"
                valid={!errors.newPassword}
                invalid={!!errors.newPassword}
                onChange={updateNewPassword}
              />
              <FormFeedback hidden={!errors.newPassword}>{errors.newPassword?.message}</FormFeedback>
              <PasswordStrengthBar password={newPassword} />
            </FormGroup>
            <FormGroup>
              <Label id="confirmPasswordLabel" for="confirmPassword">
                {translate('global.form.confirmpassword.label')}
              </Label>
              <Input
                name="confirmPassword"
                placeholder={translate('global.form.confirmpassword.placeholder')}
                type="password"
                {...register('confirmPassword', {
                  required: translate('global.messages.validate.confirmpassword.required'),
                  minLength: { value: 4, message: translate('global.messages.validate.confirmpassword.minlength') },
                  maxLength: { value: 50, message: translate('global.messages.validate.confirmpassword.maxlength') },
                  validate: v => v === newPassword || translate('global.messages.error.dontmatch'),
                })}
                data-cy="confirmPassword"
                valid={!errors.confirmPassword}
                invalid={!!errors.confirmPassword}
                onChange={updateConfirmPassword}
              />
              <FormFeedback hidden={!errors.confirmPassword}>{errors.confirmPassword?.message}</FormFeedback>
            </FormGroup>
            <Button color="success" type="submit" data-cy="submit">
              <Translate contentKey="password.form.button">Save</Translate>
            </Button>
          </Form>
        </Col>
      </Row>
    </div>
  );
};

export default PasswordPage;
