<%#
 Copyright 2013-2025 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
{
    "global": {
        "title": "<%= capitalizedBaseName %>",
        "browsehappy": "<strong>古い</strong>ブラウザーが使われています。より良い体験を得るために<a href=\"http://browsehappy.com/?locale=en\">ブラウザをアップデート</a>してください。",
        "menu": {
            "home": "ホーム",
            "jhipster-needle-menu-add-element": "JHipster will add additional menu entries here (do not translate!)",
            "entities": {
                "main": "エンティティ",
                "jhipster-needle-menu-add-entry": "JHipster will add additional entities here (do not translate!)"
            },
            "account": {
                "main": "アカウント",
                "settings": "設定",
                "password": "パスワード",
                "sessions": "セッション",
                "login": "ログイン",
                "logout": "ログアウト",
                "register": "登録"
            },
            "admin": {
                "main": "管理",
<%_ if (applicationTypeGateway) { _%>
                "gateway": "ゲートウェイ",
<%_ } _%>
                "userManagement": "ユーザー管理",
                "tracker": "ユーザートラッカー",
                "metrics": "メトリクス",
                "health": "ヘルスステータス",
                "configuration": "設定",
                "logs": "ログ",
                "apidocs": "API",
                "database": "データベース",
                "jhipster-needle-menu-add-admin-element": "JHipster will add additional menu entries here (do not translate!)"
            },
            "language": "言語"
        },
        "form": {
            "username.label": "ユーザー名",
            "username.placeholder": "ユーザー名",
            "currentpassword.label": "現在のパスワード",
            "currentpassword.placeholder": "現在のパスワード",
            "newpassword.label": "新しいパスワード",
            "newpassword.placeholder": "新しいパスワード",
            "confirmpassword.label": "新しいパスワード(確認)",
            "confirmpassword.placeholder": "新しいパスワード(確認)",
            "email.label": "メールアドレス",
            "email.placeholder": "あなたのメールアドレス"
        },
        "messages": {
            "info": {
                "authenticated": {
                    "prefix": "",
                    "link": "ログイン",
                    "suffix": "を試したければ, デフォルトアカウント:<br/>- 管理者 (ユーザー名=\"admin\", パスワード=\"admin\") <br/>- ユーザー (login=\"user\", password=\"user\")."
                },
                "register": {
                    "noaccount": "アカウントをまだお持ちでないですか?",
                    "link": "アカウントを登録する"
                }
            },
            "error": {
                "dontmatch" : "パスワードが一致しません!"
            },
            "validate": {
                "newpassword": {
                    "required": "パスワードを入力してください。",
                    "minlength": "パスワードは4文字以上で入力してください。",
                    "maxlength": "パスワードは50文字以下で入力してください。",
                    "strength": "パスワード強度:"
                },
                "confirmpassword": {
                    "required": "パスワード(確認)を入力してください。",
                    "minlength": "パスワード(確認)は4文字以上で入力してください。",
                    "maxlength": "パスワード(確認)は50文字以下で入力してください。"
                },
                "email": {
                    "required": "メールアドレスを入力してください。",
                    "invalid": "正しいメールアドレスを入力してください。",
                    "minlength": "メールアドレスは5文字以上で入力してください。",
                    "maxlength": "メールアドレスは50文字以下で入力してください。"
                }
            }
        },
        "field": {
            "id" : "ID"
        },
        "ribbon": {
            "dev": "Development"
        },
        "item-count": "{{total}}件中 {{first}} - {{second}}件目を表示しています。"
    },
    "entity": {
        "action": {
            "addblob": "Blobの追加",
            "addimage": "イメージの追加",
            "back": "戻る",
            "cancel": "キャンセル",
            "delete": "削除",
            "edit": "編集",
            "open": "開く",
            "save": "保存",
            "view": "表示",
            "show": "表示 {{otherEntity}}"
        },
        "detail": {
            "field": "フィールド",
            "value": "値"
        },
        "delete": {
            "title": "削除の確認"
        },
        "validation": {
            "required": "このフィールドを入力してください。",
            "minlength": "このフィールドは{{min}}文字以上で入力してください。",
            "maxlength": "このフィールドは{{max}}文字以下で入力してください。",
            "min": "このフィールドは{{min}}以上で入力してください。",
            "max": "このフィールドは{{max}}以下で入力してください。",
            "minbytes": "このフィールドは{{min}}バイト以上で入力してください。",
            "maxbytes": "このフィールドは{{max}}バイト以下で入力してください。",
            "pattern": "このフィールドはパターン{{pattern}}に従い入力してください。",
            "number": "このフィールドは数値を入力してください。",
            "datetimelocal": "このフィールドは日付と時刻を入力してください。"
        },
        "filters": {
          "set": "次のフィルタが設定されています。",
          "clear": "フィルタのクリア",
          "clearAll": "すべてのフィルタのクリア"
        }
    },
    "error": {
        "internalServerError": "サーバ内部エラー",
        "server.not.reachable": "サーバーに到達できません。",
        "url.not.found": "見つかりません",
        "NotNull": "フィールド{{fieldName}}を空にすることはできません。",
        "Size": "フィールド{{fieldName}}が最小/最大サイズ要件を満たしていません。",
        "userexists": "ログイン名はすでに使用されています!",
        "emailexists": "電子メールは既に使用されています。",
        "idexists": "新しい{{entityName}}にIDを設定することはできません。",
        "idnull": "IDがありません。",
        "idinvalid": "無効なIDです。",
        "idnotfound": "IDが見つかりません。",
        "file": {
            "could.not.extract": "ファイルを抽出できませんでした。",
            "not.image": "ファイルはイメージ形式である必要がありますが、\"{{ fileType }}\" 形式がアップロードされました。"
        }
    },
    "footer": "フッターです"
}
