<%#
 Copyright 2013-2018 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
<!doctype html>
<html class="no-js" lang="<% if (enableTranslation) { %><%= nativeLanguage %><% } else { %>en<% } %>" dir="ltr">
<head>
    <base href="./" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= baseName %></title>
    <meta name="description" content=""><% if (enableTranslation) { %>
    <meta name="google" value="notranslate"><% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="manifest" href="manifest.webapp" />
    <style type="text/css">
        body, html {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        }
        p {
            display: block;
            font-size: 1.17em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: normal;
        }
        .app-loading {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            top: 10em;
        }
        @keyframes lds-pacman-1 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            50% {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            100% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
        }
        @-webkit-keyframes lds-pacman-1 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            50% {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            100% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
        }
        @keyframes lds-pacman-2 {
            0% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
            50% {
                -webkit-transform: rotate(225deg);
                transform: rotate(225deg);
            }
            100% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
        @-webkit-keyframes lds-pacman-2 {
            0% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
            50% {
                -webkit-transform: rotate(225deg);
                transform: rotate(225deg);
            }
            100% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
        @keyframes lds-pacman-3 {
            0% {
                -webkit-transform: translate(190px, 0);
                transform: translate(190px, 0);
                opacity: 0;
            }
            20% {
                opacity: 1;
            }
            100% {
                -webkit-transform: translate(70px, 0);
                transform: translate(70px, 0);
                opacity: 1;
            }
        }
        @-webkit-keyframes lds-pacman-3 {
            0% {
                -webkit-transform: translate(190px, 0);
                transform: translate(190px, 0);
                opacity: 0;
            }
            20% {
                opacity: 1;
            }
            100% {
                -webkit-transform: translate(70px, 0);
                transform: translate(70px, 0);
                opacity: 1;
            }
        }

        .lds-pacman {
            position: relative;
            margin: auto;
        }
        .lds-pacman > div:nth-child(2) div {
            position: absolute;
            top: 40px;
            left: 40px;
            width: 120px;
            height: 60px;
            border-radius: 120px 120px 0 0;
            background: #bbcedd;
            -webkit-animation: lds-pacman-1 1s linear infinite;
            animation: lds-pacman-1 1s linear infinite;
            -webkit-transform-origin: 60px 60px;
            transform-origin: 60px 60px;
        }
        .lds-pacman > div:nth-child(2) div:nth-child(2) {
            -webkit-animation: lds-pacman-2 1s linear infinite;
            animation: lds-pacman-2 1s linear infinite;
        }
        .lds-pacman > div:nth-child(1) div {
            position: absolute;
            top: 92px;
            left: -8px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-image: url("./content/images/hipster192.png");
            background-size:contain;
            -webkit-animation: lds-pacman-3 1s linear infinite;
            animation: lds-pacman-3 1.5s linear infinite;
        }
        .lds-pacman > div:nth-child(1) div:nth-child(1) {
            -webkit-animation-delay: -0.67s;
            animation-delay: -1s;
        }
        .lds-pacman > div:nth-child(1) div:nth-child(2) {
            -webkit-animation-delay: -0.33s;
            animation-delay: -0.50s;
        }
        .lds-pacman > div:nth-child(1) div:nth-child(3) {
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }
        .lds-pacman {
            width: 200px !important;
            height: 200px !important;
            -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
            transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
        }
        .hide{
            display:none;
        }
    </style>
    <!-- jhipster-needle-add-resources-to-root - JHipster will add new resources here -->
</head>
<body>
    <!--[if lt IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <<%= jhiPrefixDashed %>-main>
        <div class="app-loading">
            <div class="lds-css ng-scope">
                <div class="lds-pacman">
                    <div><div></div><div></div><div></div></div>
                    <div><div></div><div></div><div></div></div>
                </div>
            </div>
        </div>
        <div class="app-loading">
            <div id="jhipster-error" class="hide">
                <p>An error has occured :-(</p>
                <ul>
                    <li>Be sure you compiled TypeScript code into JavaScript</li>
                    <li>You can use npm start</li>
                </ul>
            </div>
        </div>
    </<%= jhiPrefixDashed %>-main>
    <noscript>
        <h1>You must enable javascript to view this page.</h1>
    </noscript>
    <script type="text/javascript" language="javascript">
        window.onload=function() {
            setTimeout(func1, 4000);
        }
        function func1() {
            document.getElementById("jhipster-error").className="show";
        }
    </script>
    <!-- uncomment this for adding service worker
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', function() {
                    navigator.serviceWorker.register('/service-worker.js')
                        .then(function () {
                            console.log('Service Worker Registered');
                        });
                });
            }
        </script>
    -->
    <!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>-->
</body>
</html>
