<div>

    <h2 translate="metrics.title">Application Metrics</h2>
    <p>
        <button type="button" class="btn btn-primary" ng-click="init()" translate="metrics.refresh.button"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
    </p>

    <h3 translate="metrics.jvm.title">JVM Metrics</h3>
    <div class="row">
        <div class="col-md-4">
            <b translate="metrics.jvm.memory.title">Memory</b>
            <p>{{'metrics.jvm.memory.total' | translate}} ({{metrics.gauges["jvm.memory.total.used"].value / 1000000 | number:0}}M / {{metrics.gauges["jvm.memory.total.max"].value / 1000000 | number:0}}M)</p>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     aria-valuenow='{{metrics.gauges["jvm.memory.total.used"].value / 1000000 | number:0}}'
                     aria-valuemin="0"
                     aria-valuemax='{{metrics.gauges["jvm.memory.total.max"].value / 1000000 | number:0}}'
                     style='width: {{metrics.gauges["jvm.memory.total.used"].value * 100 / metrics.gauges["jvm.memory.total.max"].value  | number:0}}%'>
                    {{metrics.gauges["jvm.memory.total.used"].value * 100 / metrics.gauges["jvm.memory.total.max"].value  | number:0}}%
                </div>
            </div>
            <p>{{'metrics.jvm.memory.heap' | translate}} ({{metrics.gauges["jvm.memory.heap.used"].value / 1000000 | number:0}}M / {{metrics.gauges["jvm.memory.heap.max"].value / 1000000 | number:0}}M)</p>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     aria-valuenow='{{metrics.gauges["jvm.memory.heap.used"].value / 1000000 | number:0}}'
                     aria-valuemin="0"
                     aria-valuemax='{{metrics.gauges["jvm.memory.heap.max"].value / 1000000 | number:0}}'
                     style='width: {{metrics.gauges["jvm.memory.heap.usage"].value * 100 | number:0}}%'>
                    {{(metrics.gauges["jvm.memory.heap.usage"].value * 100 | number:0)}}%
                </div>
            </div>
            <p>{{'metrics.jvm.memory.nonheap' | translate}} ({{metrics.gauges["jvm.memory.non-heap.used"].value / 1000000 | number:0}}M / {{metrics.gauges["jvm.memory.non-heap.max"].value / 1000000 | number:0}}M)</p>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     aria-valuenow='{{metrics.gauges["jvm.memory.non-heap.used"].value / 1000000 | number:0}}'
                     aria-valuemin="0"
                     aria-valuemax='{{metrics.gauges["jvm.memory.non-heap.max"].value / 1000000 | number:0}}'
                     style='width: {{metrics.gauges["jvm.memory.non-heap.usage"].value * 100 | number:0}}%'>
                    {{(metrics.gauges["jvm.memory.non-heap.usage"].value * 100 | number:0)}}%
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <b translate="metrics.jvm.threads.title">Threads</b> (Total: {{metrics.gauges["jvm.threads.count"].value}})
            <p>{{'metrics.jvm.threads.runnable' | translate}} {{metrics.gauges["jvm.threads.runnable.count"].value}}</p>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     aria-valuenow='{{metrics.gauges["jvm.threads.runnable.count"].value}}'
                     aria-valuemin="0"
                     aria-valuemax='{{metrics.gauges["jvm.threads.count"].value}}'
                     style='width: {{metrics.gauges["jvm.threads.runnable.count"].value * 100 / metrics.gauges["jvm.threads.count"].value | number:0}}%'>
                    {{metrics.gauges["jvm.threads.runnable.count"].value * 100 / metrics.gauges["jvm.threads.count"].value | number:0}}%
                </div>
            </div>
            <p>{{'metrics.jvm.threads.timewaiting' | translate}} ({{metrics.gauges["jvm.threads.timed_waiting.count"].value}})</p>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-warning" role="progressbar"
                     aria-valuenow='{{metrics.gauges["jvm.threads.timed_waiting.count"].value}}'
                     aria-valuemin="0"
                     aria-valuemax='{{metrics.gauges["jvm.threads.count"].value}}'
                     style='width: {{metrics.gauges["jvm.threads.timed_waiting.count"].value * 100 / metrics.gauges["jvm.threads.count"].value | number:0}}%'>
                    {{metrics.gauges["jvm.threads.timed_waiting.count"].value * 100 / metrics.gauges["jvm.threads.count"].value | number:0}}%
                </div>
            </div>
            <p>{{'metrics.jvm.threads.waiting' | translate}} ({{metrics.gauges["jvm.threads.waiting.count"].value}})</p>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-warning" role="progressbar"
                     aria-valuenow='{{metrics.gauges["jvm.threads.waiting.count"].value}}'
                     aria-valuemin="0"
                     aria-valuemax='{{metrics.gauges["jvm.threads.count"].value}}'
                     style='width: {{metrics.gauges["jvm.threads.waiting.count"].value * 100 / metrics.gauges["jvm.threads.count"].value | number:0}}%'>
                    {{metrics.gauges["jvm.threads.waiting.count"].value * 100 / metrics.gauges["jvm.threads.count"].value | number:0}}%
                </div>
            </div>
            <p>{{'metrics.jvm.threads.blocked' | translate}}  ({{metrics.gauges["jvm.threads.blocked.count"].value}})</p>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-danger" role="progressbar"
                     aria-valuenow='{{metrics.gauges["jvm.threads.blocked.count"].value}}'
                     aria-valuemin="0"
                     aria-valuemax='{{metrics.gauges["jvm.threads.count"].value}}'
                     style='width: {{metrics.gauges["jvm.threads.blocked.count"].value * 100 / metrics.gauges["jvm.threads.count"].value | number:0}}%'>
                    {{metrics.gauges["jvm.threads.blocked.count"].value * 100 / metrics.gauges["jvm.threads.count"].value | number:0}}%
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <b translate="metrics.jvm.gc.title">Garbage collections</b>
            <div class="row">
                <div class="col-md-9" translate="metrics.jvm.gc.marksweepcount">Mark Sweep count</div>
                <div class="col-md-3">{{metrics.gauges["jvm.garbage.PS-MarkSweep.count"].value}}</div>
            </div>
            <div class="row">
                <div class="col-md-9" translate="metrics.jvm.gc.marksweeptime">Mark Sweep time</div>
                <div class="col-md-3">{{metrics.gauges["jvm.garbage.PS-MarkSweep.time"].value}}ms</div>
            </div>
            <div class="row">
                <div class="col-md-9" translate="metrics.jvm.gc.scavengecount">Scavenge count</div>
                <div class="col-md-3">{{metrics.gauges["jvm.garbage.PS-Scavenge.count"].value}}</div>
            </div>
            <div class="row">
                <div class="col-md-9" translate="metrics.jvm.gc.scavengetime">Scavenge time</div>
                <div class="col-md-3">{{metrics.gauges["jvm.garbage.PS-Scavenge.time"].value}}ms</div>
            </div>
        </div>
    </div>

    <h3 translate="metrics.jvm.http.title">HTTP requests (events per second)</h3>
    <p>{{'metrics.jvm.http.active' | translate}} <b>{{metrics.counters["com.codahale.metrics.servlet.AbstractInstrumentedFilter.activeRequests"].count | number:0}}</b> - {{'metrics.jvm.http.total' | translate}} <b>{{metrics.timers["com.codahale.metrics.servlet.AbstractInstrumentedFilter.requests"].count | number:0}}</b></p>
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th translate="metrics.jvm.http.table.code">Code</th>
            <th translate="metrics.jvm.http.table.count">Count</th>
            <th translate="metrics.jvm.http.table.mean">Mean</th>
            <th>{{'metrics.jvm.http.table.average' | translate}} (1 min)</th>
            <th>{{'metrics.jvm.http.table.average' | translate}} (5 min)</th>
            <th>{{'metrics.jvm.http.table.average' | translate}} (15 min)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td translate="metrics.jvm.http.code.ok">OK</td>
            <td>
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                    aria-valuenow='{{metrics.meters["com.codahale.metrics.servlet.AbstractInstrumentedFilter.responseCodes.ok"].count * 100 / metrics.timers["com.codahale.metrics.servlet.AbstractInstrumentedFilter.requests"].count}}'
                    aria-valuemin="0"
                    aria-valuemax='{{metrics.timers["com.codahale.metrics.servlet.AbstractInstrumentedFilter.requests"].count}}'
                    style='width:
                    {{(metrics.meters["com.codahale.metrics.servlet.AbstractInstrumentedFilter.responseCodes.ok"].count * 100 / metrics.timers["com.codahale.metrics.servlet.AbstractInstrumentedFilter.requests"].count) | number:0}}%'>
                    {{metrics.meters["com.codahale.metrics.servlet.AbstractInstrumentedFilter.responseCodes.ok"].count}}
                </div>
            </td>
            <td>
                {{metrics.meters["com.codahale.metrics.servlet.AbstractInstrumentedFilter.responseCodes.ok"].mean_rate | number:2}}
            </td>
            <td>{{metrics.meters["com.codahale.metrics.servlet.AbstractInstrumentedFilter.responseCodes.ok"].m1_rate | number:2}}
            </td>
            <td>{{metrics.meters["com.codahale.metrics.servlet.AbstractInstrumentedFilter.responseCodes.ok"].m5_rate | number:2}}
            </td>
            <td>
                {{metrics.meters["com.codahale.metrics.servlet.AbstractInstrumentedFilter.responseCodes.ok"].m15_rate | number:2}}
            </td>
        </tr>
        <tr>
            <td translate="metrics.jvm.http.code.notfound">Not Found</td>
            <td>
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-warning" role="progressbar"
                         aria-valuenow='{{metrics.meters["com.codahale.metrics.servlet.AbstractInstrumentedFilter.responseCodes.notFound"].count * 100 / metrics.timers["com.codahale.metrics.servlet.AbstractInstrumentedFilter.requests"].count}}'
                         aria-valuemin="0"
                         aria-valuemax='{{metrics.timers["com.codahale.metrics.servlet.AbstractInstrumentedFilter.requests"].count}}'
                         style='width:
                    {{(metrics.meters["com.codahale.metrics.servlet.AbstractInstrumentedFilter.responseCodes.notFound"].count * 100 / metrics.timers["com.codahale.metrics.servlet.AbstractInstrumentedFilter.requests"].count) | number:0}}%'>
                        {{metrics.meters["com.codahale.metrics.servlet.AbstractInstrumentedFilter.responseCodes.notFound"].count}}
                    </div>
            </td>
            <td>
                {{metrics.meters["com.codahale.metrics.servlet.AbstractInstrumentedFilter.responseCodes.notFound"].mean_rate | number:2}}
            </td>
            <td>
                {{metrics.meters["com.codahale.metrics.servlet.AbstractInstrumentedFilter.responseCodes.notFound"].m1_rate | number:2}}
            </td>
            <td>
                {{metrics.meters["com.codahale.metrics.servlet.AbstractInstrumentedFilter.responseCodes.notFound"].m5_rate | number:2}}
            </td>
            <td>
                {{metrics.meters["com.codahale.metrics.servlet.AbstractInstrumentedFilter.responseCodes.notFound"].m15_rate | number:2}}
            </td>
        </tr>
        <tr>
            <td translate="metrics.jvm.http.code.servererror">Server error</td>
            <td>
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-danger" role="progressbar"
                         aria-valuenow='{{metrics.meters["com.codahale.metrics.servlet.AbstractInstrumentedFilter.responseCodes.serverError"].count * 100 / metrics.timers["com.codahale.metrics.servlet.AbstractInstrumentedFilter.requests"].count}}'
                         aria-valuemin="0"
                         aria-valuemax='{{metrics.timers["com.codahale.metrics.servlet.AbstractInstrumentedFilter.requests"].count}}'
                         style='width:
                    {{(metrics.meters["com.codahale.metrics.servlet.AbstractInstrumentedFilter.responseCodes.serverError"].count * 100 / metrics.timers["com.codahale.metrics.servlet.AbstractInstrumentedFilter.requests"].count) | number:0}}%'>
                        {{metrics.meters["com.codahale.metrics.servlet.AbstractInstrumentedFilter.responseCodes.serverError"].count}}
                    </div>
            </td>
            <td>
                {{metrics.meters["com.codahale.metrics.servlet.AbstractInstrumentedFilter.responseCodes.serverError"].mean_rate | number:2}}
            </td>
            <td>
                {{metrics.meters["com.codahale.metrics.servlet.AbstractInstrumentedFilter.responseCodes.serverError"].m1_rate | number:2}}
            </td>
            <td>
                {{metrics.meters["com.codahale.metrics.servlet.AbstractInstrumentedFilter.responseCodes.serverError"].m5_rate | number:2}}
            </td>
            <td>
                {{metrics.meters["com.codahale.metrics.servlet.AbstractInstrumentedFilter.responseCodes.serverError"].m15_rate | number:2}}
            </td>
        </tr>
        </tbody>
    </table>
</div>

<h3 translate="metrics.servicesstats.title">Services statistics (time in millisecond)</h3>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th translate="metrics.servicesstats.table.name">Service name</th>
            <th translate="metrics.servicesstats.table.count">Count</th>
            <th translate="metrics.servicesstats.table.mean">Mean</th>
            <th translate="metrics.servicesstats.table.min">Min</th>
            <th translate="metrics.servicesstats.table.p50">p50</th>
            <th translate="metrics.servicesstats.table.p75">p75</th>
            <th translate="metrics.servicesstats.table.p95">p95</th>
            <th translate="metrics.servicesstats.table.p99">p99</th>
            <th translate="metrics.servicesstats.table.max">Max</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>AccountResource.changePassword</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.changePassword"].count}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.changePassword"].mean * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.changePassword"].min * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.changePassword"].p50 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.changePassword"].p75 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.changePassword"].p95 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.changePassword"].p99 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.changePassword"].max * 1000 | number:0}}</td>
            </tr>
            <tr>
                <td>AccountResource.getAccount</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.getAccount"].count}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.getAccount"].mean * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.getAccount"].min * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.getAccount"].p50 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.getAccount"].p75 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.getAccount"].p95 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.getAccount"].p99 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.getAccount"].max * 1000 | number:0}}</td>
            </tr>
            <tr>
                <td>AccountResource.getCurrentSessions</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.getCurrentSessions"].count}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.getCurrentSessions"].mean * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.getCurrentSessions"].min * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.getCurrentSessions"].p50 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.getCurrentSessions"].p75 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.getCurrentSessions"].p95 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.getCurrentSessions"].p99 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.getCurrentSessions"].max * 1000 | number:0}}</td>
            </tr>
            <tr>
                <td>AccountResource.invalidateSession</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.invalidateSession"].count}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.invalidateSession"].mean * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.invalidateSession"].min * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.invalidateSession"].p50 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.invalidateSession"].p75 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.invalidateSession"].p95 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.invalidateSession"].p99 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.invalidateSession"].max * 1000 | number:0}}</td>
            </tr>
            <tr>
                <td>AccountResource.saveAccount</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.saveAccount"].count}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.saveAccount"].mean * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.saveAccount"].min * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.saveAccount"].p50 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.saveAccount"].p75 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.saveAccount"].p95 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.saveAccount"].p99 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.AccountResource.saveAccount"].max * 1000 | number:0}}</td>
            </tr>
            <tr>
                <td>UserResource.getUser</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.UserResource.getUser"].count}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.UserResource.getUser"].mean * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.UserResource.getUser"].min * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.UserResource.getUser"].p50 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.UserResource.getUser"].p75 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.UserResource.getUser"].p95 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.UserResource.getUser"].p99 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.UserResource.getUser"].max * 1000 | number:0}}</td>
            </tr>
            <tr>
                <td>LogsResource.getList</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.LogsResource.getList"].count}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.LogsResource.getList"].mean * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.LogsResource.getList"].min * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.LogsResource.getList"].p50 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.LogsResource.getList"].p75 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.LogsResource.getList"].p95 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.LogsResource.getList"].p99 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.LogsResource.getList"].max * 1000 | number:0}}</td>
            </tr>
            <tr>
                <td>LogsResource.changeLevel</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.LogsResource.changeLevel"].count}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.LogsResource.changeLevel"].mean * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.LogsResource.changeLevel"].min * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.LogsResource.changeLevel"].p50 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.LogsResource.changeLevel"].p75 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.LogsResource.changeLevel"].p95 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.LogsResource.changeLevel"].p99 * 1000 | number:0}}</td>
                <td>{{metrics.timers["<%=packageName%>.web.rest.LogsResource.changeLevel"].max * 1000 | number:0}}</td>
            </tr>
        </tbody>
    </table>
</div>
<% if (hibernateCache == 'ehcache') { %>
<h3 translate="metrics.ehcache.title">Ehcache statistics</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="metrics.ehcache.cachename">Cache name</th>
                    <th translate="metrics.ehcache.objects">Objects</th>
                    <th translate="metrics.ehcache.hits">Hits</th>
                    <th translate="metrics.ehcache.misses">Misses</th>
                    <th translate="metrics.ehcache.evictioncount">Eviction count</th>
                    <th translate="metrics.ehcache.mean">Mean get time (ms)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>User</td>
                    <td>{{metrics.gauges["net.sf.ehcache.Cache.<%=packageName%>.domain.User.objects"].value}}</td>
                    <td>{{metrics.gauges["net.sf.ehcache.Cache.<%=packageName%>.domain.User.hits"].value}}</td>
                    <td>{{metrics.gauges["net.sf.ehcache.Cache.<%=packageName%>.domain.User.misses"].value}}</td>
                    <td>{{metrics.gauges["net.sf.ehcache.Cache.<%=packageName%>.domain.User.eviction-count"].value}}</td>
                    <td>{{metrics.gauges["net.sf.ehcache.Cache.<%=packageName%>.domain.User.mean-get-time"].value | number:2}}</td>
                </tr>
                <tr>
                    <td>Authority</td>
                    <td>{{metrics.gauges["net.sf.ehcache.Cache.<%=packageName%>.domain.Authority.objects"].value}}</td>
                    <td>{{metrics.gauges["net.sf.ehcache.Cache.<%=packageName%>.domain.Authority.hits"].value}}</td>
                    <td>{{metrics.gauges["net.sf.ehcache.Cache.<%=packageName%>.domain.Authority.misses"].value}}</td>
                    <td>{{metrics.gauges["net.sf.ehcache.Cache.<%=packageName%>.domain.Authority.eviction-count"].value}}</td>
                    <td>{{metrics.gauges["net.sf.ehcache.Cache.<%=packageName%>.domain.Authority.mean-get-time"].value | number:2}}</td>
                </tr>
                <tr>
                    <td>PersistentToken</td>
                    <td>{{metrics.gauges["net.sf.ehcache.Cache.<%=packageName%>.domain.PersistentToken.objects"].value}}</td>
                    <td>{{metrics.gauges["net.sf.ehcache.Cache.<%=packageName%>.domain.PersistentToken.hits"].value}}</td>
                    <td>{{metrics.gauges["net.sf.ehcache.Cache.<%=packageName%>.domain.PersistentToken.misses"].value}}</td>
                    <td>{{metrics.gauges["net.sf.ehcache.Cache.<%=packageName%>.domain.PersistentToken.eviction-count"].value}}</td>
                    <td>{{metrics.gauges["net.sf.ehcache.Cache.<%=packageName%>.domain.PersistentToken.mean-get-time"].value | number:2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
<% } %>
</div>
