<div ng-controller="LoginController">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>Authentication</h1>

            <div class="alert alert-danger" ng-show="authenticationError">
                <strong>Authentication failed!</strong> Please check your credentials and try again.
            </div>
            <form class="form" role="form">
                <div class="form-group">
                    <label for="username">Login</label>
                    <input type="text" class="form-control" id="username" placeholder="Your login" ng-model="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Your password"
                           ng-model="password">
                </div>
                <div class="form-group">
                    <label for="rememberMe">Automatic login</label>
                    <input type="checkbox" class="form-control" id="rememberMe"
                           ng-model="rememberMe" checked>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="login()">Authenticate</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
