<div ng-controller="MainController" ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <img  class="img-responsive img-rounded" src="images/hipster.jpg">
        </div>
        <div class="col-md-8">
            <h1>Welcome, Java Hipster!</h1>
            <p class="lead">This is your homepage</p>

            <div class="alert alert-success" ng-show="authenticated">
                You are logged in as user "{{account.login}}".
            </div>

            <div class="alert alert-warning" ng-hide="authenticated">
                If you want to <a href="#/login">authenticate</a>, you can try the default login="admin" and
                password="admin".
            </div>

            <p>
                If you have any question on JHipster:
            </p>

            <ul>
                <li><a href="http://jhipster.github.io/" target="_blank">JHipster homepage</a></li>
                <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank">JHipster bug tracker</a></li>
                <li><a href="https://twitter.com/java_hipster" target="_blank">contact @java_hipster on Twitter</a></li>
            </ul>

            <p>
             If you like JHipster, don't forget to give us a star on <a href="https://github.com/jhipster/generator-jhipster" target="_blank">Github</a>!
            </p>
        </div>
    </div>
</div>
