<%#
 Copyright 2013-2018 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
import React from 'react';
import { Collapse, Card, CardBody, Row } from 'reactstrap';

export interface IThreadItemProps {
  threadDumpInfo: any;
}

export interface IThreadItemState {
  collapse: boolean;
}

export class ThreadItem extends React.Component<IThreadItemProps, IThreadItemState> {
  state: IThreadItemState = {
    collapse: false
  };

  toggleStackTrace = () => {
    this.setState({
      collapse: !this.state.collapse
    });
  };

  render() {
    const { threadDumpInfo } = this.props;

    return <div>
      <a onClick={this.toggleStackTrace} style={{ color: 'hotpink' }}>
        {this.state.collapse ? <span>Hide StackTrace</span> : <span>Show StackTrace</span>}
      </a>
      <Collapse isOpen={this.state.collapse}>
        <Card>
          <CardBody>
            <Row className="break" style={{ overflowX: 'scroll' }}>
              {Object.entries(threadDumpInfo.stackTrace).map(([stK, stV]: [string, any]) => (
                <samp key={`detail-${stK}`}>
                  {stV.className}.{stV.methodName}
                  <code>({stV.fileName}:{stV.lineNumber})</code>
                </samp>
              ))}
              <span className="mt-1"/>
              </Row>
          </CardBody>
        </Card>
      </Collapse>
    </div>;
  }
}

export default ThreadItem;
