<div>
<%_ var keyPrefix = angularAppName + '.'+ entityInstance + '.'; _%>
    <h2 translate="<%= keyPrefix %>home.title"><%= entityClass %>s</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="<%= entityInstance %>.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="<%= keyPrefix %>home.createLabel">Create a new <%= entityClass %></span>
                </button>
            </div>
            <%_ if (searchEngine == 'elasticsearch') { _%>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a <%= entityClass %></span>
                    </button>
                </form>
            </div>
            <%_ } _%>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr<% if (pagination != 'no') { %> jh-sort="predicate" ascending="reverse" callback="<%=pagination != 'infinite-scroll' ? 'loadAll' : 'reset'%>()"<% } %>>
                    <th<% if (pagination != 'no') { %> jh-sort-by="id"<% } %>><span translate="global.field.id">ID</span><% if (pagination != 'no') { %> <span class="glyphicon glyphicon-sort"></span><% } %></th>
                    <%_ for (fieldId in fields) { _%>
                    <th<% if (pagination != 'no') { %> jh-sort-by="<%= fields[fieldId].fieldName%>"<% } %>><span translate="<%=keyPrefix + fields[fieldId].fieldName %>"><%=fields[fieldId].fieldNameCapitalized%></span><% if (pagination != 'no') { %> <span class="glyphicon glyphicon-sort"></span><% } %></th>
                    <%_ } _%>
                    <%_ for (relationshipId in relationships) { _%>
                        <%_ if (relationships[relationshipId].relationshipType == 'many-to-one'
                                || (relationships[relationshipId].relationshipType == 'one-to-one' && relationships[relationshipId].ownerSide == true)
                                || (relationships[relationshipId].relationshipType == 'many-to-many' && relationships[relationshipId].ownerSide == true && pagination == 'no')) {
                            var fieldName = dto == 'no' ? "." + relationships[relationshipId].otherEntityField : relationships[relationshipId].otherEntityFieldCapitalized;_%>
                    <th<% if (pagination != 'no') { %> jh-sort-by="<%=relationships[relationshipId].relationshipName + (fieldName)%>"<% } %>><span translate="<%= keyPrefix + relationships[relationshipId].relationshipName%>"><%=relationships[relationshipId].relationshipName%></span><% if (pagination != 'no') { %> <span class="glyphicon glyphicon-sort"></span><% } %></th>
                        <%_ } _%>
                    <%_ } _%>
                    <th></th>
                </tr>
            </thead>
            <tbody<% if (pagination == 'infinite-scroll') { %> infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page"<% } %>>
                <tr ng-repeat="<%=entityInstance %> in <%=entityInstance %>s track by <%=entityInstance %>.id">
                    <td><a ui-sref="<%= entityInstance %>.detail({id:<%= entityInstance %>.id})">{{<%=entityInstance %>.id}}</a></td>
                    <%_ for (fieldId in fields) { _%>
                        <%_ if (fields[fieldId].fieldType == 'byte[]' && fields[fieldId].fieldTypeBlobContent == 'image') { _%>
                    <td>
                        <img data-ng-src="{{'data:' + <%=entityInstance %>.<%=fields[fieldId].fieldName%>ContentType + ';base64,' + <%=entityInstance %>.<%=fields[fieldId].fieldName%>}}" style="max-height: 30px;" ng-if="<%= entityInstance %>.<%= fields[fieldId].fieldName %>"/> {{<%= entityInstance %>.<%= fields[fieldId].fieldName %>ContentType}} {{byteSize(<%= entityInstance %>.<%= fields[fieldId].fieldName %>)}}
                    </td>
                        <%_ } else if (fields[fieldId].fieldType == 'byte[]' && fields[fieldId].fieldTypeBlobContent == 'any') { _%>
                    <td>{{abbreviate(<%= entityInstance %>.<%= fields[fieldId].fieldName %>)}} {{<%= entityInstance %>.<%= fields[fieldId].fieldName %>ContentType}} {{byteSize(<%= entityInstance %>.<%= fields[fieldId].fieldName %>)}}</td>
                        <%_ } else if (fields[fieldId].fieldIsEnum) { _%>
                    <td translate="{{'<%= angularAppName %>.<%= fields[fieldId].fieldType %>.' + <%= entityInstance %>.<%= fields[fieldId].fieldName %>}}">{{<%= entityInstance %>.<%= fields[fieldId].fieldName %>}}</td>
                        <%_ } else if (fields[fieldId].fieldType == 'ZonedDateTime' || fields[fieldId].fieldType == 'Date') { _%>
                    <td>{{<%=entityInstance %>.<%=fields[fieldId].fieldName%> | date:'medium'}}</td>
                    <%_ } else if (fields[fieldId].fieldType == 'LocalDate') { _%>
                        <td>{{<%=entityInstance %>.<%=fields[fieldId].fieldName%> | date:'mediumDate'}}</td>
                        <%_ } else { _%>
                    <td>{{<%=entityInstance %>.<%=fields[fieldId].fieldName%>}}</td>
                        <%_ } _%>
                    <%_ } _%>
                    <%_ for (relationshipId in relationships) {
                            var relationshipType = relationships[relationshipId].relationshipType;
                            var ownerSide = relationships[relationshipId].ownerSide;
                            var relationshipFieldName = relationships[relationshipId].relationshipFieldName;
                            var otherEntityName = relationships[relationshipId].otherEntityName;
                            var otherEntityField = relationships[relationshipId].otherEntityField;
                            var otherEntityFieldCapitalized = relationships[relationshipId].otherEntityFieldCapitalized; _%>
                        <%_ if (relationshipType == 'many-to-one'
                                || (relationshipType == 'one-to-one' && ownerSide == true)
                                || (relationshipType == 'many-to-many' && ownerSide == true && pagination == 'no')) { _%>
                    <td>
                            <%_ if (otherEntityName == 'user') { _%>
                                <%_ if (relationshipType == 'many-to-many') { _%>
                        <span ng-repeat="<%= relationshipFieldName %> in <%= entityInstance %>.<%= relationshipFieldName %>s">
                            {{<%= relationshipFieldName %>.<%= otherEntityField %>}}{{$last ? '' : ', '}}
                        <span>
                                <%_ } else { _%>
                                    <%_ if (dto == 'no') { _%>
                        {{<%= entityInstance + "." + relationshipFieldName + "." + otherEntityField %>}}
                                    <%_ } else { _%>
                        {{<%= entityInstance + "." + relationshipFieldName + otherEntityFieldCapitalized %>}}
                                    <%_ } _%>
                                <%_ } _%>
                            <%_ } else { _%>
                                <%_ if (relationshipType == 'many-to-many') { _%>
                        <span ng-repeat="<%= relationshipFieldName %> in <%= entityInstance %>.<%= relationshipFieldName %>s">
                            <a class="form-control-static" ui-sref="<%= otherEntityName %>.detail({id: {{<%= relationshipFieldName %>.id}}})">{{<%= relationshipFieldName %>.<%= otherEntityField %>}}</a>{{$last ? '' : ', '}}
                        <span>
                                <%_ } else { _%>
                                    <%_ if (dto == 'no') { _%>
                        <a ui-sref="<%= otherEntityName %>.detail({id:<%= entityInstance + "." + relationshipFieldName + ".id" %>})">{{<%= entityInstance + "." + relationshipFieldName + "." + otherEntityField %>}}</a>
                                    <%_ } else { _%>
                        <a ui-sref="<%= otherEntityName %>.detail({id:<%= entityInstance + "." + relationshipFieldName + "Id" %>})">{{<%= entityInstance + "." + relationshipFieldName + otherEntityFieldCapitalized %>}}</a>
                                    <%_ } _%>
                                <%_ } _%>
                            <%_ } _%>
                    </td>
                        <%_ } _%>
                    <%_ } _%>
                    <td>
                        <button type="submit"
                                ui-sref="<%= entityInstance %>.detail({id:<%= entityInstance %>.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="<%= entityInstance %>.edit({id:<%=entityInstance %>.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="<%= entityInstance %>.delete({id:<%=entityInstance %>.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <%_ if (pagination == 'pager') { _%>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
    <%_ } else if (pagination == 'pagination') { _%>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
    <%_ } _%>
</div>
