<div>
<% var keyPrefix = angularAppName + '.'+ entityInstance; %>
    <h2 translate="<%=keyPrefix %>.title"><%= entityClass %>s</h2>

    <div class="row">
        <div class="col-md-5">
            <h4 translate="<%=keyPrefix %>.subTitle">General information</h4><% for (fieldId in fields) { %>
            <p class="input-group">
                <span class="input-group-addon" translate="<%= keyPrefix %>.<%=fields[fieldId].fieldName%>"><%=fields[fieldId].fieldNameCapitalized%></span>
                <input type="text" class="input-sm form-control" value="{{<%= entityInstance %>.<%=fields[fieldId].fieldName%>}}" readonly>
            </p><% } %><% for (relationshipId in relationships) {
    if (relationships[relationshipId].relationshipType == 'many-to-one') { 
       var otherEntityName = relationships[relationshipId].otherEntityName; %>
            <p class="input-group">
                <span class="input-group-addon" translate="<%= keyPrefix %>.<%=otherEntityName%>"><%=otherEntityName%></span>
                <input type="text" class="input-sm form-control" value="{{<%=entityInstance %>.<%=otherEntityName%>.<%=relationships[relationshipId].otherEntityField%>}}" readonly>
            </p><% } 
    } %>
        </div>
    </div>
    <a ui-sref="<%= entityInstance %>" translate="<%= angularAppName %>.button.back">Back</a>
</div>