<% var keyPrefix = angularAppName + '.'+ entityInstance + '.'; %>
<form name="editForm" role="form" novalidate ng-submit="save()"<% if (validation) { %> show-validation<% } %>>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="my<%= entityClass %>Label" translate="<%= keyPrefix %>home.createOrEditLabel">Create or edit a <%= entityClass %></h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="<%=entityInstance %>.id" readonly>
        </div>
<% for (fieldId in fields) {
    var fieldInputType = 'text';
    var ngModelOption = '';
    var translationKey = keyPrefix + fields[fieldId].fieldName;
    if (fields[fieldId].fieldType == 'Integer' || fields[fieldId].fieldType == 'Long' || fields[fieldId].fieldType == 'Float' || fields[fieldId].fieldType == 'Double' || fields[fieldId].fieldType == 'BigDecimal') {
        fieldInputType = 'number';
    } else if (fields[fieldId].fieldType == 'LocalDate') {
        fieldInputType = 'date';
    } else if (fields[fieldId].fieldType == 'DateTime') {
        fieldInputType = 'datetime-local';
    } else if (fields[fieldId].fieldType == 'Boolean') {
        fieldInputType = 'checkbox';
    } else if (fields[fieldId].fieldType == 'byte[]') {
        fieldInputType = 'hidden';
    } %>
        <div class="form-group"<% if (fields[fieldId].fieldType == 'byte[]') { %> ngf-drop ngf-change="set<%= fields[fieldId].fieldNameCapitalized %>($files, <%= entityInstance %>)"<% if (fields[fieldId].fieldTypeBlobContent == 'image') { %> ngf-accept="'image/*'"<% } %><% } %>>
            <label translate="<%= translationKey %>" for="field_<%= fields[fieldId].fieldName %>"><%=fields[fieldId].fieldNameCapitalized%></label><%
            if (fields[fieldId].fieldIsEnum) { %>
            <select class="form-control" name="<%= fields[fieldId].fieldName %>" ng-model="<%= entityInstance %>.<%= fields[fieldId].fieldName %>" id="field_<%= fields[fieldId].fieldName %>"<% if (fields[fieldId].fieldValidate == true && fields[fieldId].fieldValidateRules.indexOf('required') != -1) { %> required<% } %>><%
               var enumPrefix = angularAppName + '.'+ fields[fieldId].fieldType;
               var values = fields[fieldId].fieldValues.split(",");
               for (key in values) {
                 var value = values[key]; %>
               <option value="<%= value %>" translate="<%=enumPrefix%>.<%=value%>"><%= value %></option><%
               } %>
            </select><% } else { %><% if (fields[fieldId].fieldType == 'byte[]') { %>
            <div><% if (fields[fieldId].fieldTypeBlobContent == 'image') { %>
                <img data-ng-src="{{'data:image/*;base64,' + <%=entityInstance %>.<%=fields[fieldId].fieldName%>}}" style="max-height: 100px;" ng-if="<%= entityInstance %>.<%= fields[fieldId].fieldName %>"/><% } %>
                <div class="help-block clearfix"><% if (fields[fieldId].fieldTypeBlobContent == 'any') { %>
                    <span class="pull-left">{{abbreviate(<%= entityInstance %>.<%= fields[fieldId].fieldName %>) + ' ' + byteSize(<%= entityInstance %>.<%= fields[fieldId].fieldName %>)}}</span><% } else { %>
                    <span class="pull-left">{{byteSize(<%= entityInstance %>.<%= fields[fieldId].fieldName %>)}}</span><% } %>
                    <button ng-click="<%= entityInstance %>.<%= fields[fieldId].fieldName %>=null"
                            ng-if="<%= entityInstance %>.<%= fields[fieldId].fieldName %>"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="set<%= fields[fieldId].fieldNameCapitalized %>($files, <%= entityInstance %>)"<% if (fields[fieldId].fieldTypeBlobContent == 'image') { %> accept="image/*" translate="entity.action.addimage"<% } else { %> translate="entity.action.addblob"<% } %>>
                    <% if (fields[fieldId].fieldTypeBlobContent == 'image') { %>Add image<% } else { %>Add blob<% } %>
                </button>
            </div><% } %>
            <input type="<%= fieldInputType %>" class="form-control" name="<%= fields[fieldId].fieldName %>" id="field_<%= fields[fieldId].fieldName %>"
                    ng-model="<%= entityInstance %>.<%= fields[fieldId].fieldName %>"<% if (fields[fieldId].fieldType == 'DateTime') { %> ng-model-options="{timezone: 'UTC'}"<% } %>
                    <%- include ng_validators -%>><% } %>
<% if (fields[fieldId].fieldValidate == true) { %>
            <div ng-show="editForm.<%= fields[fieldId].fieldName %>.$invalid"><% if (fields[fieldId].fieldValidateRules.indexOf('required') != -1) { %>
                <p class="help-block"
                    ng-show="editForm.<%= fields[fieldId].fieldName %>.$error.required" translate="entity.validation.required">
                    This field is required.
                </p><% } %><% if (fields[fieldId].fieldValidateRules.indexOf('minlength') != -1) { %>
                <p class="help-block"
                    ng-show="editForm.<%= fields[fieldId].fieldName %>.$error.minlength" translate="entity.validation.minlength" translate-value-min="<%= fields[fieldId].fieldValidateRulesMinlength %>">
                    This field is required to be at least <%= fields[fieldId].fieldValidateRulesMinlength %> characters.
                </p><% } %><% if (fields[fieldId].fieldValidateRules.indexOf('maxlength') != -1) { %>
                <p class="help-block"
                    ng-show="editForm.<%= fields[fieldId].fieldName %>.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="<%= fields[fieldId].fieldValidateRulesMaxlength %>">
                    This field cannot be longer than <%= fields[fieldId].fieldValidateRulesMaxlength %> characters.
                </p><% } %><% if (fields[fieldId].fieldValidateRules.indexOf('min') != -1) { %>
                <p class="help-block"
                    ng-show="editForm.<%= fields[fieldId].fieldName %>.$error.min" translate="entity.validation.min" translate-value-min="<%= fields[fieldId].fieldValidateRulesMin %>">
                    This field should be more than <%= fields[fieldId].fieldValidateRulesMin %>.
                </p><% } %><% if (fields[fieldId].fieldValidateRules.indexOf('max') != -1) { %>
                <p class="help-block"
                    ng-show="editForm.<%= fields[fieldId].fieldName %>.$error.max" translate="entity.validation.max" translate-value-max="<%= fields[fieldId].fieldValidateRulesMax %>">
                    This field cannot be more than <%= fields[fieldId].fieldValidateRulesMax %>.
                </p><% } %><% if (fields[fieldId].fieldValidateRules.indexOf('minbytes') != -1) { %>
                <p class="help-block"
                   ng-show="editForm.<%= fields[fieldId].fieldName %>.$error.minbytes" translate="entity.validation.minbytes" translate-value-min="<%= fields[fieldId].fieldValidateRulesMinbytes %>">
                    This field should be more than <%= fields[fieldId].fieldValidateRulesMinbytes %>.
                </p><% } %><% if (fields[fieldId].fieldValidateRules.indexOf('maxbytes') != -1) { %>
                <p class="help-block"
                   ng-show="editForm.<%= fields[fieldId].fieldName %>.$error.maxbytes" translate="entity.validation.maxbytes" translate-value-max="<%= fields[fieldId].fieldValidateRulesMaxbytes %>">
                    This field cannot be more than <%= fields[fieldId].fieldValidateRulesMaxbytes %>.
                </p><% } %><% if (fields[fieldId].fieldValidateRules.indexOf('pattern') != -1) { %>
                <p class="help-block"
                    ng-show="editForm.<%= fields[fieldId].fieldName %>.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="<%= fields[fieldId].fieldValidateRulesPattern %>">
                    This field should follow pattern "<%= fields[fieldId].fieldValidateRulesPattern %>".
                </p><% } %><% if (fields[fieldId].fieldType == 'Integer' || fields[fieldId].fieldType == 'Long' || fields[fieldId].fieldType == 'Float' || fields[fieldId].fieldType == 'Double' || fields[fieldId].fieldType == 'BigDecimal') { %>
                <p class="help-block"
                    ng-show="editForm.<%= fields[fieldId].fieldName %>.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p><% } %><% if (fields[fieldId].fieldType == 'DateTime') { %>
                <p class="help-block"
                    ng-show="editForm.<%= fields[fieldId].fieldName %>.$error.datetimelocal" translate="entity.validation.datetimelocal">
                    This field should be a date and time.
                </p><% } %>
            </div><% } %>
        </div><% } %>
<% for (relationshipId in relationships) {
    var relationshipType = relationships[relationshipId].relationshipType;
    var ownerSide = relationships[relationshipId].ownerSide;
    var otherEntityName = relationships[relationshipId].otherEntityName;
    var relationshipName = relationships[relationshipId].relationshipName;
    var relationshipFieldName = relationships[relationshipId].relationshipFieldName;
    var otherEntityField = relationships[relationshipId].otherEntityField;
    var otherEntityFieldCapitalized = relationships[relationshipId].otherEntityFieldCapitalized;
    var translationKey = keyPrefix + relationshipName; 
-%>
<% if (relationshipType == 'many-to-one') { -%>
        <div class="form-group">
            <label translate="<%= translationKey %>" for="field_<%= relationshipName %>"><%=relationshipName %></label>
            <% if (dto == 'no') { %>
            <select class="form-control" id="field_<%= relationshipName %>" name="<%= relationshipName %>" ng-model="<%= entityInstance %>.<%=relationshipFieldName %>" ng-options="<%=otherEntityName %> as <%=otherEntityName %>.<%=otherEntityField %> for <%=otherEntityName %> in <%=otherEntityName.toLowerCase() %>s track by <%=otherEntityName %>.id"></select>
            <% } else { %>
            <select class="form-control" id="field_<%= relationshipName %>" name="<%= relationshipName %>" ng-model="<%= entityInstance %>.<%=relationshipFieldName %>Id" ng-options="<%=otherEntityName %>.id as <%=otherEntityName %>.<%=otherEntityField %> for <%=otherEntityName %> in <%=otherEntityName.toLowerCase() %>s"></select>
            <% } %>
        </div>
<% } else if (relationshipType == 'one-to-one' && ownerSide == true) { -%>
        <div class="form-group">
            <label translate="<%= translationKey %>" for="field_<%= relationshipName %>"><%=relationshipName %></label>
            <% if (dto == 'no') { %>
            <select class="form-control" id="field_<%= relationshipName %>" name="<%= relationshipName %>" ng-model="<%= entityInstance %>.<%=relationshipFieldName %>" ng-options="<%=otherEntityName %> as <%=otherEntityName %>.<%=otherEntityField %> for <%=otherEntityName %> in <%=relationshipFieldName.toLowerCase() %>s track by <%=otherEntityName %>.id"></select>
            <% } else { %>
            <select class="form-control" id="field_<%= relationshipName %>" name="<%= relationshipName %>" ng-model="<%= entityInstance %>.<%=relationshipFieldName %>Id" ng-options="<%=otherEntityName %>.id as <%=otherEntityName %>.<%=otherEntityField %> for <%=otherEntityName %> in <%=relationshipFieldName.toLowerCase() %>s"></select>
            <% } %>
        </div>
<% } else if (relationshipType == 'many-to-many' && relationships[relationshipId].ownerSide == true) { -%>
        <div class="form-group">
            <label translate="<%= translationKey %>" for="field_<%= relationshipName %>"><%=relationshipName %></label>
            <select class="form-control" id="field_<%= relationshipName %>" multiple name="<%= relationshipName %>" ng-model="<%=entityInstance %>.<%=relationshipFieldName %>s" ng-options="<%=otherEntityName %> as <%=otherEntityName %>.<%=otherEntityField %> for <%=otherEntityName %> in <%=otherEntityName.toLowerCase() %>s track by <%=otherEntityName %>.id"></select>
        </div>
<% } -%>
<% } -%>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
