<% var keyPrefix = angularAppName + '.'+ entityInstance; %>
<div>
    <h2><span translate="<%= keyPrefix %>.detail.title"><%= entityClass %></span> {{<%= entityInstance %>.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody><% for (fieldId in fields) { %>
            <tr>
                <td>
                    <span translate="<%= keyPrefix %>.<%=fields[fieldId].fieldName%>"><%=fields[fieldId].fieldNameCapitalized%></span>
                </td>
                <td><% if (fields[fieldId].fieldIsEnum) {
                    var enumPrefix = angularAppName + '.'+ fields[fieldId].fieldType; %>
                    <span class="input-sm form-control readonly" translate="<%=enumPrefix%>.SELECT"
                          translate-interpolation="messageformat" translate-values="{ VALUE: <%= entityInstance %>.<%=fields[fieldId].fieldName%> }"></span><%
                    } else if (fields[fieldId].fieldType == 'byte[]' && fields[fieldId].fieldTypeBlobContent == 'image') { %>
                    <img data-ng-src="{{'data:image/*;base64,' + <%=entityInstance %>.<%=fields[fieldId].fieldName%>}}" style="max-width: 100%;" ng-if="<%= entityInstance %>.<%= fields[fieldId].fieldName %>"/><%
                    } else { %>
                    <span class="form-control-static">{{<%= entityInstance %>.<%=fields[fieldId].fieldName%>}}</span><%
                    } %>
                </td>
            </tr><% } %><% for (relationshipId in relationships) {
            if (relationships[relationshipId].relationshipType == 'many-to-one'
                || (relationships[relationshipId].relationshipType == 'one-to-one' && relationships[relationshipId].ownerSide == true)) {
                var relationshipName = relationships[relationshipId].relationshipName;
                var relationshipFieldName = relationships[relationshipId].relationshipFieldName;
                var otherEntityName = relationships[relationshipId].otherEntityName;
                var otherEntityField = relationships[relationshipId].otherEntityField;
                var otherEntityFieldCapitalized = relationships[relationshipId].otherEntityFieldCapitalized;
                %>
            <tr>
                <td>
                    <span translate="<%= keyPrefix %>.<%= relationshipName %>"><%=relationshipName%></span>
                </td>
                <td>
<% if (dto == 'no') { -%>
                    <a class="form-control-static" ui-sref="<%= otherEntityName %>.detail({id:<%= entityInstance + "." + relationshipFieldName + ".id" %>})">{{<%= entityInstance + "." + relationshipFieldName + "." + otherEntityField %>}}</a>
<% } else { -%>
                    <a class="form-control-static" ui-sref="<%= otherEntityName %>.detail({id:<%= entityInstance + "." + relationshipFieldName + "Id" %>})">{{<%= entityInstance + "." + relationshipFieldName + otherEntityFieldCapitalized %>}}</a>
<% } -%>
                </td>
            </tr><% } } %>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
