<div class="modal-header">
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="showHealthLabel"><% if (enableTranslation) { %>
		{{'health.indicator.' + baseName(currentHealth.name) | translate}}<% } else { %><span class="text-capitalize">{{ baseName(currentHealth.name) }}</span><% } %>
        {{subSystemName(currentHealth.name)}}
    </h4>
</div>
<div class="modal-body pad">
    <div *ngIf="currentHealth.details">
        <h4 translate="health.details.properties">Properties</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-6 text-left" translate="health.details.name">Name</th>
                    <th class="col-md-6 text-left" translate="health.details.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entry of currentHealth.details | keys">
                    <td class="col-md-6 text-left">{{entry.key}}</td>
                    <td class="col-md-6 text-left">{{entry.value}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="currentHealth.error">
        <h4 translate="health.details.error">Error</h4>
            <pre>{{currentHealth.error}}</pre>
    </div>
</div>
<div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-default pull-left" type="button" (click)="activeModal.dismiss('closed')">Done</button>
</div>
