<template>
  <div class="info jhi-item-count">
        <span v-if="i18nEnabled"
              v-bind:html="$t('global.item-count')">Showing {{first}} - {{second}} of {{total}} items.</span>
    <span v-if="!i18nEnabled">
            Showing {{((page - 1) * itemsPerPage) === 0 ? 1 : ((page - 1) * itemsPerPage + 1)}} -
            {{(page * itemsPerPage) < total ? (page * itemsPerPage) : total}}
            of {{total}} items.
        </span>
  </div>
</template>

<script lang="ts" src="./jhi-item-count.component.ts">
</script>
