<%#
 Copyright 2013-2018 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
import React from 'react';

import ErrorBoundaryRoute from 'app/shared/error/error-boundary-route';
<%_ if (!skipUserManagement) { _%>
import UserManagement from './user-management';
<%_ } _%>
import Logs from './logs/logs';
import Health from './health/health';
import Metrics from './metrics/metrics';
import Configuration from './configuration/configuration';
<%_ if (databaseType !== 'no' && databaseType !== 'cassandra') { _%>
import Audits from './audits/audits';
<%_ } _%>
import Docs from './docs/docs';
<%_ if (applicationType === 'gateway' && serviceDiscoveryType) { _%>
import Gateway from './gateway/gateway';
<%_ } _%>
<%_ if (websocket === 'spring-websocket') { _%>
import Tracker from './tracker/tracker';
<%_ } _%>

const Routes = ({ match }) => (
  <div>
<%_ if (!skipUserManagement) { _%>
    <ErrorBoundaryRoute path={`${match.url}/user-management`} component={UserManagement} />
<%_ } _%>
<%_ if (websocket === 'spring-websocket') { _%>
    <ErrorBoundaryRoute exact path={`${match.url}/tracker`} component={Tracker} />
<%_ } _%>
    <ErrorBoundaryRoute exact path={`${match.url}/health`} component={Health} />
<%_ if (applicationType === 'gateway' && serviceDiscoveryType) { _%>
    <ErrorBoundaryRoute exact path={`${match.url}/gateway`} component={Gateway} />
<%_ } _%>
    <ErrorBoundaryRoute exact path={`${match.url}/metrics`} component={Metrics} />
    <ErrorBoundaryRoute exact path={`${match.url}/docs`} component={Docs} />
    <ErrorBoundaryRoute exact path={`${match.url}/configuration`} component={Configuration} />
<%_ if (databaseType !== 'no' && databaseType !== 'cassandra') { _%>
    <ErrorBoundaryRoute exact path={`${match.url}/audits`} component={Audits} />
<%_ } _%>
    <ErrorBoundaryRoute exact path={`${match.url}/logs`} component={Logs} />
  </div>
);

export default Routes;
