<template>
  <div>
    <div class="row justify-content-center">
      <div class="col-md-8 toastify-container">
        <h2 v-if="username" id="settings-title">
          <span v-html="t$('settings.title', { username: username })">
            User settings for [
            <strong>
              {{ username }}
            </strong>
            ]
          </span>
        </h2>

        <div v-if="success" class="alert alert-success" role="alert" v-html="t$('settings.messages.success')">
          <strong>Settings saved!</strong>
        </div>

        <div v-if="errorEmailExists" class="alert alert-danger" role="alert" v-html="t$('register.messages.error.emailexists')">
          <strong>Email is already in use!</strong> Please choose another one.
        </div>

        <form v-if="settingsAccount" id="settings-form" name="form" novalidate @submit.prevent="save()">
          <div class="form-group">
            <label class="form-control-label" for="firstName" v-text="t$('settings.form.firstname')">First Name</label>
            <input
              id="firstName"
              v-model="v$.settingsAccount.firstName.$model"
              type="text"
              class="form-control"
              name="firstName"
              :placeholder="t$('settings.form[\'firstname.placeholder\']')"
              :class="{ valid: !v$.settingsAccount.firstName.$invalid, invalid: v$.settingsAccount.firstName.$invalid }"
              minlength="1"
              maxlength="50"
              required
              data-cy="firstname"
            />
            <div v-if="v$.settingsAccount.firstName.$anyDirty && v$.settingsAccount.firstName.$invalid">
              <small
                v-if="!v$.settingsAccount.firstName.required"
                class="form-text text-danger"
                v-text="t$('settings.messages.validate.firstname.required')"
              >
                Your first name is required.
              </small>
              <small
                v-if="!v$.settingsAccount.firstName.minLength"
                class="form-text text-danger"
                v-text="t$('settings.messages.validate.firstname.minlength')"
              >
                Your first name is required to be at least 1 character.
              </small>
              <small
                v-if="!v$.settingsAccount.firstName.maxLength"
                class="form-text text-danger"
                v-text="t$('settings.messages.validate.firstname.maxlength')"
              >
                Your first name cannot be longer than 50 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="lastName" v-text="t$('settings.form.lastname')">Last Name</label>
            <input
              id="lastName"
              v-model="v$.settingsAccount.lastName.$model"
              type="text"
              class="form-control"
              name="lastName"
              :placeholder="t$('settings.form[\'lastname.placeholder\']')"
              :class="{ valid: !v$.settingsAccount.lastName.$invalid, invalid: v$.settingsAccount.lastName.$invalid }"
              minlength="1"
              maxlength="50"
              required
              data-cy="lastname"
            />
            <div v-if="v$.settingsAccount.lastName.$anyDirty && v$.settingsAccount.lastName.$invalid">
              <small
                v-if="!v$.settingsAccount.lastName.required"
                class="form-text text-danger"
                v-text="t$('settings.messages.validate.lastname.required')"
              >
                Your last name is required.
              </small>
              <small
                v-if="!v$.settingsAccount.lastName.minLength"
                class="form-text text-danger"
                v-text="t$('settings.messages.validate.lastname.minlength')"
              >
                Your last name is required to be at least 1 character.
              </small>
              <small
                v-if="!v$.settingsAccount.lastName.maxLength"
                class="form-text text-danger"
                v-text="t$('settings.messages.validate.lastname.maxlength')"
              >
                Your last name cannot be longer than 50 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="email" v-text="t$('global.form[\'email.label\']')">Email</label>
            <input
              id="email"
              v-model="v$.settingsAccount.email.$model"
              type="email"
              class="form-control"
              name="email"
              :placeholder="t$('global.form[\'email.placeholder\']')"
              :class="{ valid: !v$.settingsAccount.email.$invalid, invalid: v$.settingsAccount.email.$invalid }"
              minlength="5"
              maxlength="254"
              email
              required
              data-cy="email"
            />
            <div v-if="v$.settingsAccount.email.$anyDirty && v$.settingsAccount.email.$invalid">
              <small
                v-if="!v$.settingsAccount.email.required"
                class="form-text text-danger"
                v-text="t$('global.messages.validate.email.required')"
              >
                Your email is required.
              </small>
              <small
                v-if="!v$.settingsAccount.email.email"
                class="form-text text-danger"
                v-text="t$('global.messages.validate.email.invalid')"
              >
                Your email is invalid.
              </small>
              <small
                v-if="!v$.settingsAccount.email.minLength"
                class="form-text text-danger"
                v-text="t$('global.messages.validate.email.minlength')"
              >
                Your email is required to be at least 5 characters.
              </small>
              <small
                v-if="!v$.settingsAccount.email.maxLength"
                class="form-text text-danger"
                v-text="t$('global.messages.validate.email.maxlength')"
              >
                Your email cannot be longer than 100 characters.
              </small>
            </div>
          </div>
<%_ if (enableTranslation) { _%>
          <div class="form-group" v-if="languages && Object.keys(languages).length > 1">
            <label for="langKey" v-text="t$('settings.form.language')">Language</label>
            <select class="form-control" id="langKey" name="langKey" v-model="settingsAccount.langKey" data-cy="langKey">
              <option v-for="(language, key) in languages" :value="key" :key="`lang-${key}`">
                {{ language.name }}
              </option>
            </select>
          </div>
<%_ } _%>
          <button type="submit" :disabled="v$.settingsAccount.$invalid" class="btn btn-primary"
            v-text="t$('settings.form.button')" data-cy="submit">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./settings.component.ts"></script>
