<%#
 Copyright 2013-2025 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
import './header.scss';

import React, { useState<% if (enableI18nRTL) { %>, useEffect<% } %> } from 'react';
import { Translate<% if (enableTranslation) { %>, Storage<% } %> } from 'react-jhipster';
import {
  Navbar,
  Nav,
  NavbarToggler,
  Collapse
} from 'reactstrap';
import LoadingBar from 'react-redux-loading-bar';

import { Home, Brand } from './header-components';
import { AdminMenu, EntitiesMenu, AccountMenu<%_ if (enableTranslation) { _%>, LocaleMenu<%_ } _%>} from '../menus';
<%_ if (enableTranslation) { _%>
import { useAppDispatch } from 'app/config/store';
import { setLocale } from 'app/shared/reducers/locale';
<%_ } _%>

export interface IHeaderProps {
  isAuthenticated: boolean;
  isAdmin: boolean;
  ribbonEnv: string;
  isInProduction: boolean;
  isOpenAPIEnabled: boolean;
<%_ if (enableTranslation) { _%>
  currentLocale: string;
<%_ } _%>
}


const Header = (props: IHeaderProps) => {
  const [menuOpen, setMenuOpen] = useState(false);

<%_ if (enableTranslation) { _%>
  const dispatch = useAppDispatch();

  const handleLocaleChange = event => {
    const langKey = event.target.value;
    Storage.session.set('locale', langKey);
    dispatch(setLocale(langKey));
  }
<%_ } _%>

  const renderDevRibbon = () => props.isInProduction === false ? (
    <div className="ribbon dev">
      <a href="">
<%_ if (enableTranslation) { _%>
        <Translate contentKey={`global.ribbon.${props.ribbonEnv}`} />
<%_ } else { _%>
        Development
<%_ } _%>
      </a>
    </div>
  ) : null;

  const toggleMenu = () => setMenuOpen(!menuOpen);

  /* jhipster-needle-add-element-to-menu - JHipster will add new menu items here */

  return (
    <div id="app-header">
      {renderDevRibbon()}
      <LoadingBar className="loading-bar"/>
      <Navbar data-cy="navbar" <% if (clientThemeNone || !clientThemeLight) { %>dark<% } else { %>light<% } %> expand="md" fixed="top" className="<%_ if (clientThemeNone) { _%>jh-navbar<%_ } else { _%>bg-<%= clientThemeVariant %><%_ } _%>">
        <NavbarToggler aria-label="Menu" onClick={toggleMenu} />
        <Brand />
        <Collapse isOpen={menuOpen} navbar>
          <Nav id="header-tabs" className="ms-auto" navbar>
            <Home />
            {props.isAuthenticated && <EntitiesMenu />}
            {props.isAuthenticated && props.isAdmin &&
            <AdminMenu showOpenAPI={props.isOpenAPIEnabled} <% if (devDatabaseTypeH2Any) { %> showDatabase={!props.isInProduction} <%_ } _%> />}
          <%_ if (enableTranslation) { _%>
            <LocaleMenu currentLocale={props.currentLocale} onClick={handleLocaleChange} />
          <%_ } _%>
            <AccountMenu isAuthenticated={props.isAuthenticated} />
          </Nav>
        </Collapse>
      </Navbar>
    </div>
  );
};

export default Header;
