<%#
 Copyright 2013-2025 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
{
    "global": {
        "title": "<%= capitalizedBaseName %>",
        "browsehappy": "Sie benutzen einen <strong>veralteten</strong> Browser. Bitte <a href=\"http://browsehappy.com/?locale=de/\">aktualisieren Sie Ihren Browser</a>, um die Benutzerfreundlichkeit zu erhöhen.",
        "menu": {
            "home": "Startseite",
            "jhipster-needle-menu-add-element": "JHipster will add additional menu entries here (do not translate!)",
            "entities": {
                "main": "Entitäten",
                "jhipster-needle-menu-add-entry": "JHipster will add additional entities here (do not translate!)"
            },
            "account": {
                "main": "Zugang",
                "settings": "Einstellungen",
                "password": "Passwort",
                "sessions": "Sitzungen",
                "login": "Anmelden",
                "logout": "Abmelden",
                "register": "Registrierung"
            },
            "admin": {
                "main": "Administration",
<%_ if (applicationTypeGateway) { _%>
                "gateway": "Gateway",
<%_ } _%>
                "userManagement": "Benutzerverwaltung",
                "tracker": "Benutzer Aktivitäten",
                "metrics": "Metriken",
                "health": "Status",
                "configuration": "Konfiguration",
                "logs": "Protokoll",
                "apidocs": "API",
                "database": "Datenbank",
                "jhipster-needle-menu-add-admin-element": "JHipster will add additional menu entries here (do not translate!)"
            },
            "language": "Sprache"
        },
        "form": {
            "username.label": "Benutzername",
            "username.placeholder": "Ihr Benutzername",
            "currentpassword.label": "Aktuelles Passwort",
            "currentpassword.placeholder": "Aktuelles Passwort",
            "newpassword.label": "Neues Passwort",
            "newpassword.placeholder": "Neues Passwort",
            "confirmpassword.label": "Neues Passwort bestätigen",
            "confirmpassword.placeholder": "Bestätigen Sie Ihr neues Passwort",
            "email.label": "Email Adresse",
            "email.placeholder": "Ihre Email Adresse"
        },
        "messages": {
            "info": {
                "authenticated": {
                    "prefix": "Wenn Sie sich ",
                    "link": "anmelden",
                    "suffix": " möchten, versuchen Sie es mit <br/>- Administrator (Name=\"admin\" und Passwort=\"admin\")<br/>- Benutzer (Name=\"user\" und Passwort=\"user\")."
                },
                "register": {
                    "noaccount": "Sie haben noch keinen Zugang?",
                    "link": "Registrieren Sie sich"
                }
            },
            "error": {
                "dontmatch": "Das bestätigte Passwort entspricht nicht dem neuen Passwort!"
            },
            "validate": {
                "newpassword": {
                    "required": "Ein neues Passwort wird benötigt.",
                    "minlength": "Das neue Passwort muss mindestens 4 Zeichen lang sein",
                    "maxlength": "Das neue Passwort darf nicht länger als 50 Zeichen sein",
                    "strength": "Passwortstärke:"
                },
                "confirmpassword": {
                    "required": "Sie müssen das Passwort bestätigen.",
                    "minlength": "Das bestätigte Passwort muss mindestens 4 Zeichen lang sein",
                    "maxlength": "Das bestätigte Passwort darf nicht länger als 50 Zeichen sein"
                },
                "email": {
                    "required": "Ihre Email Adresse wird benötigt.",
                    "invalid": "Ihre Email Adresse ist ungültig.",
                    "minlength": "Ihre Email Adresse muss mindestens 5 Zeichen lang sein",
                    "maxlength": "Ihre Email Adresse darf nicht länger als 50 Zeichen sein"
                }
            }
        },
        "field": {
            "id":  "ID"
        },
        "ribbon": {
            "dev": "Entwicklung"
        },
        "item-count": "Ergebnis {{first}} - {{second}} von {{total}} Elemente."
    },
    "entity": {
        "action": {
            "addblob": "Blob hinzufügen",
            "addimage": "Bild hinzufügen",
            "back": "Zurück",
            "cancel": "Abbrechen",
            "delete": "Löschen",
            "edit": "Bearbeiten",
            "open": "Öffnen",
            "save": "Speichern",
            "view": "Details",
            "show": "Zeige {{otherEntity}}"
        },
        "detail": {
            "field": "Feld",
            "value": "Wert"
        },
        "delete": {
            "title": "Löschen bestätigen"
        },
        "validation": {
            "required": "Dieses Feld wird benötigt.",
            "minlength": "Dieses Feld muss mind. {{min}} Zeichen lang sein.",
            "maxlength": "Dieses Feld darf max. {{max}} Zeichen lang sein.",
            "min": "Dieses Feld muss mind. {{min}} sein.",
            "max": "Dieses Feld darf max. {{max}} sein.",
            "minbytes": "Dieses Feld sollte mehr als {{min}} bytes haben.",
            "maxbytes": "Dieses Feld sollte nicht mehr als {{max}} bytes haben.",
            "pattern": "Dieses Feld muss das Muster {{pattern}} erfüllen.",
            "number": "Dieses Feld muss eine Zahl sein.",
            "datetimelocal": "Dieses Feld muss eine Datums- und Zeitangabe enthalten.",
            "patternLogin": "Dieses Feld darf nur Buchstaben, Ziffern und E-Mail-Adressen enthalten."
        },
        "filters": {
          "set": "Folgende Filter sind gesetzt",
          "clear": "Filter entfernen",
          "clearAll": "Alle Filter entfernen"
        }
    },
    "error": {
        "internalServerError": "Interner Serverfehler",
        "server.not.reachable": "Server ist nicht erreichbar",
        "url.not.found": "Nicht gefunden",
        "NotNull": "Feld {{fieldName}} kann nicht leer sein!",
        "Size": "Feld {{fieldName}} erfüllt nicht die minimalen/maximalen Voraussetzungen!",
        "userexists": "Benutzername bereits vergeben!",
        "emailexists": "Email wird bereits verwendet!",
        "idexists": "Ein neuer {{entityName}} kann noch keine ID haben",
        "idnull": "Ungültige ID",
        "idinvalid": "Ungültige ID",
        "idnotfound": "ID konnte nicht gefunden werden",
<%_ if (searchEngineElasticsearch) { _%>
        "querySyntaxError": "Ungültige Suchanfrage",
<%_ } _%>
        "file": {
            "could.not.extract": "Datei konnte nicht extrahiert werden",
            "not.image": "Es wird erwartet, dass die Datei ein Bild ist. Die Datei ist jedoch vom Typ \"{{ fileType }}\""
        }
    },
    "footer": "Dies ist Ihre Fußzeile"
}
