import * as React from 'react';
import { Button, Col, Alert, Row } from 'reactstrap';
import { connect } from 'react-redux';
import { Translate, translate } from 'react-jhipster';
import { AvForm, AvField } from 'availity-reactstrap-validation';

<%_ if (enableTranslation) { _%>
import { locales } from 'app/config/translation';
<%_ } _%>
import { getSession } from 'app/shared/reducers/authentication';
import { saveAccountSettings, reset } from './settings.reducer';

const successAlert = (
  <Alert color="success" >
    <strong>
      <Translate contentKey="settings.messages.success">
        Settings saved!
      </Translate>
    </strong>
  </Alert>
);

export interface IUserSettingsProps {
  account: any;
  getSession: Function;
  saveAccountSettings: Function;
  reset: Function;
  updateSuccess: boolean;
}

export interface IUserSettingsState {
  account: any;
}

export class SettingsPage extends React.Component<IUserSettingsProps, IUserSettingsState> {
  state: IUserSettingsState = {
    account: this.props.account
  };

  componentDidMount() {
    this.props.getSession();
  }

  componentWillUnmount() {
    this.props.reset();
  }

  componentWillReceiveProps(nextProps) {
    this.setState({
      account: nextProps.account
    });
  }

  <%_ if (enableTranslation) { _%>
  setLangKey = event => {
    this.setState({
      account: {
        ...this.state.account,
        langKey: event.target.value
      }
    });
  };

  <%_ } _%>
  handleValidSubmit = (event, values) => {
    const account = {
      ...this.state.account,
      ...values<% if (enableTranslation) { %>,
      langKey: this.state.account.langKey<% } %>
    };

    this.props.saveAccountSettings(account);
    event.persist();
  };

  render() {
    const { account } = this.state;
    const { updateSuccess } = this.props;

    return (
      <div>
        <Row className="justify-content-center">
          <Col md="8" >
            <h2><Translate contentKey="settings.title" interpolate={{ username: account.login }}>User settings for [{account.login}]</h2>
            { (updateSuccess) ? successAlert : null }
            <AvForm onValidSubmit={this.handleValidSubmit}>
              {/* First name */}
              <AvField
                className="form-control"
                name="firstName"
                label={<Translate contentKey="settings.form.firstname">First name</Translate>}
                id="firstName"
                placeholder={translate('settings.form.firstname.placeholder', null, 'Your first name')}
                validate={{
                  required: { value: true, errorMessage: translate('settings.messages.validate.firstname.required', null, 'Your first name is required.') },
                  minLength: { value: 1, errorMessage: translate('settings.messages.validate.firstname.minlength', null, 'Your first name is required to be at least 1 character') },
                  maxLength: { value: 50, errorMessage: translate('settings.messages.validate.firstname.maxlength', null, 'Your first name cannot be longer than 50 characters') }
                }}
                value={account.firstName}
              />
              {/* Last name */}
              <AvField
                className="form-control"
                name="lastName"
                label={<Translate contentKey="settings.form.lastname">Last name</Translate>}
                id="lastName"
                placeholder={translate('settings.form.lastname.placeholder', null, 'Your last name')}
                validate={{
                  required: { value: true, errorMessage: translate('settings.messages.validate.lastname.required', null, 'Your last name is required.') },
                  minLength: { value: 1, errorMessage: translate('settings.messages.validate.lastname.minlength', null, 'Your last name is required to be at least 1 character') },
                  maxLength: { value: 50, errorMessage: translate('settings.messages.validate.lastname.maxlength', null, 'Your last name cannot be longer than 50 characters') }
                }}
                value={account.lastName}
              />
              {/* Email */}
              <AvField
                name="email"
                label={<Translate contentKey="global.form.email">Email</Translate>}
                placeholder={translate('global.form.email.placeholder', null, 'Your email')}
                type="email"
                validate={{
                  required: { value: true, errorMessage: translate('global.messages.validate.email.required', null, 'Your email is required.') },
                  minLength: { value: 5, errorMessage: translate('global.messages.validate.email.minlength', null, 'Your email is required to be at least 5 characters.') },
                  maxLength: { value: 254, errorMessage: translate('global.messages.validate.email.maxlength', null, 'Your email cannot be longer than 50 characters.') }
                }}
                value={account.email}
              />
              <%_ if (enableTranslation) { _%>
              {/* Language key */}
              <AvField
                type="select"
                id="langKey"
                name="langKey"
                className="form-control"
                label={translate('settings.form.language', null, 'Language')}
                onChange={this.setLangKey}
                defaultValue={account.langKey}
              >
                {/* TODO: Add findLanguageFromKey translation to options */}
                {locales.map(lang => (
                  <option value={lang} key={lang}>
                    {lang}
                  </option>
                ))}
              </AvField>
              <%_ } _%>
              <Button color="primary" type="submit">
                <Translate contentKey="settings.form.button">Save</Translate>
              </Button>
            </AvForm>
          </Col>
        </Row>
      </div>
    );
  }
}

const mapStateToProps = ({ authentication, settings }) => ({
  account: authentication.account,
  isAuthenticated: authentication.isAuthenticated,
  updateSuccess: settings.updateSuccess,
  updateFailure: settings.updateFailure
});

const mapDispatchToProps = { getSession, saveAccountSettings, reset };

export default connect(mapStateToProps, mapDispatchToProps)(SettingsPage);
