<%#
 Copyright 2013-2025 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
<h4>__jhiTranslateTag__('metrics.jvm.threads.title')</h4>

<span><span>__jhiTranslateTag__('metrics.jvm.threads.runnable')</span> {{ threadStats().threadDumpRunnable }}</span>

<ngb-progressbar
  [value]="threadStats().threadDumpRunnable"
  [max]="threadStats().threadDumpAll"
  [striped]="true"
  [animated]="false"
  type="success"
>
  <span>{{ (threadStats().threadDumpRunnable * 100) / threadStats().threadDumpAll | number: '1.0-0' }}%</span>
</ngb-progressbar>

<span><span>__jhiTranslateTag__('metrics.jvm.threads.timedwaiting')</span> ({{ threadStats().threadDumpTimedWaiting }})</span>

<ngb-progressbar
  [value]="threadStats().threadDumpTimedWaiting"
  [max]="threadStats().threadDumpAll"
  [striped]="true"
  [animated]="false"
  type="warning"
>
  <span>{{ (threadStats().threadDumpTimedWaiting * 100) / threadStats().threadDumpAll | number: '1.0-0' }}%</span>
</ngb-progressbar>

<span><span>__jhiTranslateTag__('metrics.jvm.threads.waiting')</span> ({{ threadStats().threadDumpWaiting }})</span>

<ngb-progressbar
  [value]="threadStats().threadDumpWaiting"
  [max]="threadStats().threadDumpAll"
  [striped]="true"
  [animated]="false"
  type="warning"
>
  <span>{{ (threadStats().threadDumpWaiting * 100) / threadStats().threadDumpAll | number: '1.0-0' }}%</span>
</ngb-progressbar>

<span><span>__jhiTranslateTag__('metrics.jvm.threads.blocked')</span> ({{ threadStats().threadDumpBlocked }})</span>

<ngb-progressbar
  [value]="threadStats().threadDumpBlocked"
  [max]="threadStats().threadDumpAll"
  [striped]="true"
  [animated]="false"
  type="success"
>
  <span>{{ (threadStats().threadDumpBlocked * 100) / threadStats().threadDumpAll | number: '1.0-0' }}%</span>
</ngb-progressbar>

<div>Total: {{ threadStats().threadDumpAll }}</div>

<button class="hand btn btn-primary btn-sm" (click)="open()" data-toggle="modal" data-target="#threadDump">
  <span>Expand</span>
</button>
