server:
    port: 8080

liquibase:
    context: prod

spring:
    profiles:
        active: prod<% if (databaseType == 'sql') { %>
    datasource:<% if (prodDatabaseType == 'oracle') { %>
        driverClassName: oracle.jdbc.OracleDriver<% } %>
        dataSourceClassName: <% if (prodDatabaseType == 'mysql') { %>com.mysql.jdbc.jdbc2.optional.MysqlDataSource<% } else if (prodDatabaseType == 'postgresql') { %>org.postgresql.ds.PGSimpleDataSource<% } else if (prodDatabaseType == 'oracle') { %>oracle.jdbc.pool.OracleDataSource<% } else { %>org.hsqldb.jdbc.JDBCDataSource<% } %>
        url: <% if (prodDatabaseType == 'mysql') { %>jdbc:mysql://localhost:3306/<%= baseName %>?useUnicode=true&characterEncoding=utf8<% } else if (prodDatabaseType == 'postgresql') { %><% } else if (prodDatabaseType == 'oracle') { %>jdbc:oracle:thin:@localhost:1521:<%= baseName %><% } %>
        databaseName: <% if (prodDatabaseType == 'postgresql') { %><%= baseName %><% } %>
        serverName: <% if (prodDatabaseType == 'postgresql') { %>localhost<% } %>
        username: <% if (prodDatabaseType == 'mysql') { %>root<% } else if (prodDatabaseType == 'postgresql') { %><%= baseName %><% } %>
        password: <% if (prodDatabaseType == 'mysql') { %>
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true<% } %>

    jpa:
        database-platform: <% if (prodDatabaseType == 'mysql') { %>org.hibernate.dialect.MySQLInnoDBDialect<% } else if (prodDatabaseType == 'postgresql') { %>org.hibernate.dialect.PostgreSQL82Dialect<% } else if (prodDatabaseType == 'oracle') { %>org.hibernate.dialect.Oracle10gDialect<% } else { %>org.hibernate.dialect.HSQLDialect<% } %>
        database: <% if (prodDatabaseType == 'mysql') { %>MYSQL<% } else if (prodDatabaseType == 'postgresql') { %>POSTGRESQL<% } else if (prodDatabaseType == 'oracle') { %>ORACLE<% } else { %>HSQL<% } %>
        openInView: false
        show_sql: false
        generate-ddl: false
        hibernate:
            ddl-auto: none
            naming-strategy: org.hibernate.cfg.EJB3NamingStrategy
        properties:
            hibernate.cache.use_second_level_cache: <% if (hibernateCache == 'ehcache' || hibernateCache == 'hazelcast') { %>true<% } else { %>false<% } %>
            hibernate.cache.use_query_cache: false
            hibernate.generate_statistics: false
            <% if (hibernateCache == 'ehcache') { %>hibernate.cache.region.factory_class: org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory<% } else if (hibernateCache == 'hazelcast') { %>hibernate.cache.region.factory_class: <%=packageName%>.config.hazelcast.HazelcastCacheRegionFactory<% } %>
            <% if (hibernateCache == 'hazelcast') { %>hibernate.cache.use_minimal_puts: true
            hibernate.cache.hazelcast.use_lite_member: true<% } %><% } %><% if (databaseType == 'mongodb') { %>
    data:
        mongodb:
            host: localhost
            port: 27017
            database: <%= baseName %><% } %><% if (databaseType == 'cassandra') { %>
    data:
        cassandra:
            contactPoints: localhost
            protocolVersion: V2
            compression: LZ4
            keyspaceName: <%= baseName %><% } %><% if (searchEngine == 'elasticsearch') { %>
    data:
        elasticsearch:
            cluster-name:
            cluster-nodes: localhost:9200<% } %>
    thymeleaf:
        mode: XHTML
        cache: true

metrics:
    jmx.enabled: true<% if (javaVersion == '8') { %>
    spark:
        enabled: false
        host: localhost
        port: 9999<% } %>
    graphite:
        enabled: false
        host: localhost
        port: 2003
        prefix: <%= baseName %>

http:
    cache:
        timeToLiveInDays: 31

<% if (clusteredHttpSession == 'hazelcast' || hibernateCache == 'hazelcast' || hibernateCache == 'ehcache') {%>cache:
    timeToLiveSeconds: 3600<% } if (clusteredHttpSession == 'hazelcast' || hibernateCache == 'hazelcast') {%>
    hazelcast:
        debug: false
        stickySession: false
        backupCount: 1<% } if (hibernateCache == 'ehcache') { %>
    ehcache:
        maxBytesLocalHeap: 256M<% } %>
