server:
    port: 8080

liquibase:
    context: dev

spring:
    profiles:
        active: dev<% if (databaseType == 'sql') { %>
    datasource:<% if (devDatabaseType == 'oracle') { %>
        driverClassName: oracle.jdbc.OracleDriver<% } %>
        dataSourceClassName: <% if (devDatabaseType == 'mysql') { %>com.mysql.jdbc.jdbc2.optional.MysqlDataSource<% } else if (devDatabaseType == 'postgresql') { %>org.postgresql.ds.PGSimpleDataSource<% } else if (devDatabaseType == 'oracle') { %>oracle.jdbc.pool.OracleDataSource<% } else { %>org.h2.jdbcx.JdbcDataSource<% } %>
        url: <% if (devDatabaseType == 'mysql') { %>jdbc:mysql://localhost:3306/<%= baseName %>?useUnicode=true&characterEncoding=utf8<% } else if (devDatabaseType == 'postgresql') { %><% } else if (devDatabaseType == 'oracle') { %>jdbc:oracle:thin:@localhost:1521:<%= baseName %><% } else { %>jdbc:h2:mem:jhipster;DB_CLOSE_DELAY=-1<% } %>
        databaseName: <% if (devDatabaseType == 'postgresql') { %><%= baseName %><% } %>
        serverName: <% if (devDatabaseType == 'postgresql') { %>localhost<% } %>
        username: <% if (devDatabaseType == 'mysql') { %>root<% } else if (devDatabaseType == 'postgresql') { %><%= baseName %><% } %>
        password: <% if (devDatabaseType == 'mysql') { %>
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true<% } %>

    jpa:
        database-platform: <% if (devDatabaseType == 'mysql') { %>org.hibernate.dialect.MySQLInnoDBDialect<% } else if (devDatabaseType == 'postgresql') { %>org.hibernate.dialect.PostgreSQL82Dialect<% } else if (devDatabaseType == 'oracle') { %>org.hibernate.dialect.Oracle10gDialect<% } else { %>org.hibernate.dialect.H2Dialect<% } %>
        database: <% if (devDatabaseType == 'mysql') { %>MYSQL<% } else if (devDatabaseType == 'postgresql') { %>POSTGRESQL<% } else if (devDatabaseType == 'oracle') { %>ORACLE<% } else { %>H2<% } %>
        openInView: false
        show_sql: true
        generate-ddl: false
        hibernate:
            ddl-auto: none
            naming-strategy: org.hibernate.cfg.EJB3NamingStrategy
        properties:
            hibernate.cache.use_second_level_cache: <% if (hibernateCache == 'ehcache' || hibernateCache == 'hazelcast') { %>true<% } else { %>false<% } %>
            hibernate.cache.use_query_cache: false
            hibernate.generate_statistics: true<% if (hibernateCache == 'ehcache') { %>
            hibernate.cache.region.factory_class: org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory<% } else if (hibernateCache == 'hazelcast') { %>
            hibernate.cache.region.factory_class: <%=packageName%>.config.hazelcast.HazelcastCacheRegionFactory<% } %><% if (hibernateCache == 'hazelcast') { %>
            hibernate.cache.use_minimal_puts: true
            hibernate.cache.hazelcast.use_lite_member: true<% } %><% } %><% if (databaseType == 'mongodb') { %>
    data:
        mongodb:
            host: localhost
            port: 27017
            database: <%= baseName %><% } %><% if (databaseType == 'cassandra') { %>
    data:
        cassandra:
            contactPoints: localhost
            protocolVersion: V2
            compression: LZ4
            keyspaceName: <%= baseName %><% } %><% if (searchEngine == 'elasticsearch') { %>
    data:
        elasticsearch:
            cluster-name:
            cluster-nodes:
            properties:
                path:
                  logs: target/elasticsearch/log
                  data: target/elasticsearch/data <% } %>
    messages:
        cache-seconds: 1
    thymeleaf:
        mode: XHTML
        cache: false

metrics:
    jmx.enabled: true<% if (javaVersion == '8') { %>
    spark:
        enabled: false
        host: localhost
        port: 9999<% } %>
    graphite:
        enabled: false
        host: localhost
        port: 2003
        prefix: <%= baseName %>

<% if (clusteredHttpSession == 'hazelcast' || hibernateCache == 'hazelcast' || hibernateCache == 'ehcache') { %>cache:
    timeToLiveSeconds: 3600<% } if (clusteredHttpSession == 'hazelcast' || hibernateCache == 'hazelcast') { %>
    hazelcast:
        debug: true
        stickySession: false
        backupCount: 1<% } if (hibernateCache == 'ehcache') { %>
    ehcache:
        maxBytesLocalHeap: 16M<% } %>
