<%#
 Copyright 2013-2018 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
{
    "global": {
        "title": "<%= capitalizedBaseName %>",
        "browsehappy": "Koristite <strong>zastareli</strong> pretraživač. Molimo vas <a href=\"http://browsehappy.com/?locale=en\">nadogradite pretraživač</a> kako biste poboljšali Vaše iskustvo.",
        "menu": {
            "home": "Početna stranica",
            "jhipster-needle-menu-add-element": "JHipster will add additional menu entries here (do not translate!)",
            "entities": {
                "main": "Entiteti",
                "jhipster-needle-menu-add-entry": "JHipster will add additional entities here (do not translate!)"
            },
            "account": {
                "main": "Profil",
                "settings": "Podešavanja",
                "password": "Lozinka",
                "sessions": "Sesije",
                "login": "Prijavi me",
                "logout": "Odjavi me",
                "register": "Registruj me"
            },
            "admin": {
                "main": "Administracija",
                <%_ if (applicationType === 'gateway') { _%>
                "gateway": "Gateway",
                <%_ } _%>
                "userManagement": "Korisnički manadžment",
                "tracker": "Praćenje korisnika",
                "metrics": "Metrika",
                "health": "Ispravnost sistema",
                "configuration": "Konfiguracija",
                "logs": "Logovi",
                <%_ if (databaseType !== 'no' && databaseType !== 'cassandra') { _%>
                "audits": "Revizije",
                <%_ } _%>
                "apidocs": "API",
                "database": "Baza podataka",
                "jhipster-needle-menu-add-admin-element": "JHipster will add additional menu entries here (do not translate!)"
            },
            "language": "Jezik"
        },
        "form": {
            "username": "Korisničko ime",
            "username.placeholder": "Vaše korisničko ime",
            "newpassword": "Nova lozinka",
            "newpassword.placeholder": "Vaša nova lozinka",
            "confirmpassword": "Potvrdite lozinku",
            "confirmpassword.placeholder": "Potvrdite vašu lozinku",
            "email": "Email",
            "email.placeholder": "Vaš email"
        },
        "messages": {
            "info": {
                "authenticated": {
                    "prefix": "Ako želite da se ",
                    "link": "prijavite",
                    "suffix": ", možete probati sa univerzanlnim korisničkim nalozima:<br/>- Administrator (korisničko ime=\"admin\" i lozinka=\"admin\") <br/>- User (korisničko ime=\"user\" i lozinka=\"user\")."
                },
                "register": {
                    "noaccount": "Još uvek nemate profil?",
                    "link": "Registrujte svoj profil"
                }
            },
            "error": {
                "dontmatch": "Lozinke se ne poklapaju!"
            },
            "validate": {
                "newpassword": {
                    "required": "Lozinka je obavezna.",
                    "minlength": "Korisničko ime mora imati najmanje 4 karaktera.",
                    "maxlength": "Lozinka ne može biti duže od 50 karaktera.",
                    "strength": "Jačina lozinke:"
                },
                "confirmpassword": {
                    "required": "Potvrda lozinke je obavezna.",
                    "minlength": "Potvrda lozinke mora imati najmanje 4 karaktera.",
                    "maxlength": "Potvrda lozinke ne može biti duža od 50 karaktera."
                },
                "email": {
                    "required": "Vaš email je obavezan.",
                    "invalid": "Vaš email is neispravan.",
                    "minlength": "Vaš email mora imati najmanje 5 karaktera.",
                    "maxlength": "Vaš email ne može biti duži od 50 karaktera."
                }
            }
        },
        "field": {
            "id": "ID"
        },
        "ribbon": {
            "dev": "Razvojno okruženje"
        },
        "item-count": "Showing {{first}} - {{second}} of {{total}} items."
    },
    "entity": {
        "action": {
            "addblob": "Dodaj blob",
            "addimage": "Dodaj sliku",
            "back": "Nazad",
            "cancel": "Otkaži",
            "delete": "Obriši",
            "edit": "Izmeni",
            "open": "Otvori",
            "save": "Sačuvaj",
            "view": "Pregled"
        },
        "detail": {
            "field": "Polje",
            "value": "Vrednost"
        },
        "delete": {
            "title": "Potvrdi brisanje"
        },
        "validation": {
            "required": "Polje je obavezno.",
            "minlength": "Polje mora biti veće od {{ min }} karaktera.",
            "maxlength": "Polje ne može biti duže od {{ max }} karaktera.",
            "min": "Polje mora biti veče od {{ min }}.",
            "max": "Polje ne sme biti veće od {{ max }}.",
            "minbytes": "Polje mora biti veće od {{ min }} bajtova.",
            "maxbytes": "Polje ne može biti veće od {{ max }} bajtova.",
            "pattern": "Polje mora da sledi obrazac {{ pattern }}.",
            "number": "Polje mora biti broj.",
            "datetimelocal": "Polje mora biti datum i vreme."
        }
    },
    "error": {
        "internalServerError": "Internal server error",
        "server.not.reachable": "Server nije dostupan",
        "url.not.found": "Stranica nije pronađena",
        "NotNull": "Polje {{ fieldName }} ne može biti prazno!",
        "Size": "Polje {{ fieldName }} ne zadovoljava minimalna i maksimalna ograničenja!",
        "userexists": "Korisiničko ime već postoji!",
        "emailexists": "Email je već upotrebljen!",
        "idexists": "Novi {{ entityName }} ne može sadržati ID",
        "idnull": "Invalid ID"
    },
    "footer": "Ovo je vaše podnožje"
}
