<%#
 Copyright 2013-2019 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
import './header.<%= styleSheetExt %>';

import React, { useState<% if (enableI18nRTL) { %>, useEffect<% } %> } from 'react';
import { Translate<% if (enableTranslation) { %>, Storage<% } %> } from 'react-jhipster';
import {
  Navbar,
  Nav,
  NavbarToggler,
  NavbarBrand,
  Collapse
} from 'reactstrap';
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';

import { NavLink as Link } from 'react-router-dom';
import LoadingBar from 'react-redux-loading-bar';

<%_ if (enableTranslation && enableI18nRTL) { _%>
import { isRTL } from 'app/config/translation';
<%_ } _%>

import { Home, Brand } from './header-components';
import { AdminMenu, EntitiesMenu, AccountMenu<%_ if (enableTranslation) { _%>, LocaleMenu<%_ } _%>} from '../menus';

export interface IHeaderProps {
  isAuthenticated: boolean;
  isAdmin: boolean;
  ribbonEnv: string;
  isInProduction: boolean;
  isSwaggerEnabled: boolean;
<%_ if (enableTranslation) { _%>
  currentLocale: string;
  onLocaleChange: Function;
<%_ } _%>
}


const Header = (props: IHeaderProps) => {
  const [menuOpen, setMenuOpen] = useState(false);
  <%_ if (enableI18nRTL) { _%>
  useEffect(() => document.querySelector('html').setAttribute('dir', isRTL(Storage.session.get('locale')) ? 'rtl' : 'ltr'));
  <%_ } _%>

  <%_ if (enableTranslation) { _%>
  const handleLocaleChange = event => {
    const langKey = event.target.value;
    Storage.session.set('locale', langKey);
    props.onLocaleChange(langKey);
    <%_ if (enableI18nRTL) { _%>
    document.querySelector('html').setAttribute('dir', isRTL(langKey) ? 'rtl' : 'ltr');
    <%_ } _%>
  }
  <%_ } _%>

  const renderDevRibbon = () => props.isInProduction === false ? (
    <div className="ribbon dev">
      <a href="">
        <%_ if (enableTranslation) { _%>
        <Translate contentKey={`global.ribbon.${props.ribbonEnv}`} />
        <%_ } else { _%>
        Development
        <%_ } _%>
      </a>
    </div>
  ) : null;

  const toggleMenu = () => setMenuOpen(!menuOpen);

  /* jhipster-needle-add-element-to-menu - JHipster will add new menu items here */

  return (
    <div id="app-header">
      {renderDevRibbon()}
      <LoadingBar className="loading-bar"/>
      <Navbar <% if (clientTheme === 'none' || clientThemeVariant !== 'light') { %>dark<% } else { %>light<% } %> expand="sm" fixed="top" className="<%_ if (clientTheme === 'none') { _%>jh-navbar<%_ } else { _%>bg-<%= clientThemeVariant %><%_ } _%>">
        <NavbarToggler aria-label="Menu" onClick={toggleMenu} />
        <Brand />
        <Collapse isOpen={menuOpen} navbar>
          <Nav id="header-tabs" className="ml-auto" navbar>
            <Home />
            {props.isAuthenticated && <EntitiesMenu />}
            {props.isAuthenticated && props.isAdmin &&
              <AdminMenu showSwagger={props.isSwaggerEnabled} <% if (devDatabaseType === 'h2Disk' || devDatabaseType === 'h2Memory') { %> showDatabase={!props.isInProduction} <%_ } _%> />}
          <%_ if (enableTranslation) { _%>
            <LocaleMenu currentLocale={props.currentLocale} onClick={handleLocaleChange} />
          <%_ } _%>
            <AccountMenu isAuthenticated={props.isAuthenticated} />
          </Nav>
        </Collapse>
      </Navbar>
    </div>
  );
};

export default Header;
