<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.social.registration.title}">JHipster activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
    </head>
    <body>
        <p th:text="#{email.social.registration.greeting(${user.firstName})}">
            Dear
        </p>
        <p th:text="#{email.social.registration.text1(${provider})}">
            Your JHipster account has been created with the social connection: Provider.
        </p>
        <p>
            <span th:text="#{email.social.registration.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">JHipster.</em>
        </p>
    </body>
</html>
