<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 translate="reset.request.title">Reset your password</h1>

            <div class="alert alert-danger" translate="reset.request.messages.notfound" *ngIf="errorEmailNotExists">
                <strong>E-Mail address isn't registered!</strong> Please check and try again.
            </div>

            <div class="alert alert-warning" *ngIf="!success">
                <p translate="reset.request.messages.info">Enter the e-mail address you used to register.</p>
            </div>

            <div class="alert alert-success" *ngIf="success == 'OK'">
                <p translate="reset.request.messages.success">Check your e-mails for details on how to reset your password.</p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                <div class="form-group">
                    <label class="control-label" for="email" translate="global.form.email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           [(ngModel)]="resetAccount.email" minlength=5 maxlength=100 #emailInput="ngModel" required>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <p class="help-block"
                           *ngIf="emailInput.errors.required" translate="global.messages.validate.email.required">
                            Your e-mail is required.
                        </p>
                        <p class="help-block"
                           *ngIf="emailInput.errors.email" translate="global.messages.validate.email.invalid">
                            Your e-mail is invalid.
                        </p>
                        <p class="help-block"
                           *ngIf="emailInput.errors.minlength" translate="global.messages.validate.email.minlength">
                            Your e-mail is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                           *ngIf="emailInput.errors.maxlength" translate="global.messages.validate.email.maxlength">
                            Your e-mail cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <button type="submit" [disabled]="resetRequestForm.form.invalid" class="btn btn-primary" translate="reset.request.form.button">Reset</button>
            </form>

        </div>
    </div>
</div>
