<div class="modal-header">
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="dismiss('closed')"><span aria-hidden="true">x</span>
    </button>
    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="dismiss('closed')">&times;</button>-->
    <h4 class="modal-title" translate="login.title">Sign in</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 translate="login.title">Sign in</h1>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger" *ngIf="authenticationError" translate="login.messages.error.authentication">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <form class="form" role="form" (ngSubmit)="login()">
                <div class="form-group">
                    <label for="username" translate="global.form.username">Login</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="{{'global.form.username.placeholder' | translate}}"
                    [(ngModel)]="username">
                </div>
                <div class="form-group">
                    <label for="password" translate="login.form.password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                           [(ngModel)]="password">
                </div>
                <div class="form-group">
                    <label for="rememberMe">
                        <input type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" checked>
                        <span translate="login.form.rememberme">Remember me</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary" translate="login.form.button">Sign in</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <a class="alert-link" href="" (click)="requestResetPassword()" translate="login.password.forgot">Did you forget your password?</a>
            </div>
            <div class="alert alert-warning" translate="global.messages.info.register" translate-compile>
                You don't have an account yet? <a class="alert-link" href="" (click)="register()">Register a new account</a>
            </div>
        </div>
    </div>
</div>
