<div *ngIf="user">
    <h2><span jhi-translate="userManagement.detail.title">User</span> "{{user.login}}"</h2>
    <dl class="dl-horizontal">
        <dt><span jhi-translate="userManagement.login">Login</span></dt>
        <dd><span>{{user.login}}</span></dd>
        <dt><span jhi-translate="userManagement.firstName">First Name</span></dt>
        <dd>{{user.firstName}}</dd>
        <dt><span jhi-translate="userManagement.lastName">Last Name</span></dt>
        <dd>{{user.lastName}}</dd>
        <dt><span jhi-translate="userManagement.email">Email</span></dt>
        <dd>{{user.email}}</dd>
        <dt><span jhi-translate="userManagement.activated">Activated</span></dt>
        <dd>{{user.activated}}</dd>
        <%_ if (enableTranslation) { _%>
        <dt><span jhi-translate="userManagement.langKey">Lang Key</span></dt>
        <dd>{{user.langKey}}</dd>
        <%_ } _%>
        <dt><span jhi-translate="userManagement.createdBy">Created By</span></dt>
        <dd>{{user.createdBy}}</dd>
        <dt><span jhi-translate="userManagement.createdDate">Created Date</span></dt>
        <dd>{{user.createdDate | date:'dd/MM/yy HH:mm' }}</dd>
        <dt><span jhi-translate="userManagement.lastModifiedBy">Last Modified By</span></dt>
        <dd>{{user.lastModifiedBy}}</dd>
        <dt><span jhi-translate="userManagement.lastModifiedDate">Last Modified Date</span></dt>
        <dd>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</dd>
        <dt><span jhi-translate="userManagement.profiles">Profiles</span></dt>
        <dd>
            <ul class="list-unstyled">
                <li *ngFor="let authority of user.authorities"><span>{{authority}}</span></li>
            </ul>
        </dd>
    </dl>
    <button type="submit"
            uiSref="user-management"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span jhi-translate="entity.action.back"> Back</span>
    </button>
</div>
