<div>
    <h2 translate="userManagement.home.title">Users</h2>
    <jhi-alert></jhi-alert>
    <div class="row">
      <div class="col-md-4">
          <button class="btn btn-primary" ui-sref="user-management.new">
              <span class="glyphicon glyphicon-flash"></span> <span translate="userManagement.home.createLabel">Create a new User</span>
          </button>
      </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.field.id">ID</th>
                <th translate="userManagement.login">Login</th>
                <th translate="userManagement.email">Email</th>
                <th></th>
                <% if (enableTranslation) { %><th translate="userManagement.langKey">Lang Key</th><% } %>
                <th translate="userManagement.profiles">Profiles</th><% if (databaseType == 'sql' || databaseType == 'mongodb') { %>
                <th translate="userManagement.createdDate">Created Date</th>
                <th translate="userManagement.lastModifiedBy">Last Modified By</th>
                <th translate="userManagement.lastModifiedDate">Last Modified Date</th><% } %>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in vm.users track by user.id">
                <td><a ui-sref="user-management-detail({login:user.login})">{{user.id}}</a></td>
                <td>{{user.login}}</td>
                <td>{{user.email}}</td>
                <td>
                    <span class="label label-danger" ng-click="vm.setActive(user, true)" ng-show="!user.activated"
                          translate="userManagement.deactivated" style="cursor: pointer;">Deactivated</span>
                    <span class="label label-success" ng-click="vm.setActive(user, false)" ng-show="user.activated"
                          translate="userManagement.activated" style="cursor: pointer;">Activated</span>
                </td>
                <% if (enableTranslation) { %><td>{{user.langKey}}</td><% } %>
                <td>
                    <div ng-repeat="authority in user.authorities">
                        <span class="label label-info">{{ authority }}</span>
                    </div>
                </td><% if (databaseType == 'sql' || databaseType == 'mongodb') { %>
                <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{user.lastModifiedBy}}</td>
                <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td><% } %>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="user-management-detail({login:user.login})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="user-management.edit({login:user.login})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="user-management.delete({login:user.login})"
                                class="btn btn-danger btn-sm" ng-disabled="vm.currentAccount.login==user.login">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <%_ if (databaseType == 'sql' || databaseType == 'mongodb') { _%>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.loadAll()"></uib-pagination>
    </div>
    <%_ } _%>
</div>
