<%#
 Copyright 2013-2023 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

 in this file 'withExample' is performed only when withExample is true @cmi-tic-harika
 
-%>
import './home.scss';

<%_ if (authenticationTypeOauth2) { _%>
import React, { useEffect, useState } from 'react';
<%_ } else { _%>
import React from 'react';
<%_ } _%>
import { Link } from 'react-router-dom';
import { Translate } from 'react-jhipster';
import { Row, Col, Alert } from 'reactstrap';

<%_ if (authenticationTypeOauth2) { _%>
import { getLoginUrl, REDIRECT_URL } from 'app/shared/util/url-utils';
<%_ } _%>
import { useAppSelector } from 'app/config/store';
<%_ if(withExample) { _%>
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import { useNavigate } from 'react-router-dom';
<%_ } _%>

export const Home = () => {
  const account = useAppSelector(state => state.authentication.account);
  <%_ if(withExample) { _%>
    const navigate = useNavigate();
  <%_ } _%>
<%_ if (authenticationTypeOauth2) { _%>
  useEffect(() => {
    const redirectURL = localStorage.getItem(REDIRECT_URL);
    if (redirectURL) {
      localStorage.removeItem(REDIRECT_URL);
      location.href = `${location.origin}${redirectURL}`;
    }
  });
<%_ } _%>
<%_ if(withExample) { _%>
  if(account.login){
    navigate('/reminder');
  }
<%_ } _%>

  return (
    <Row>
      <%_ if(withExample) { _%>
        <span></span>
      <%_ } else { _%>
      <Col md="3" className="pad">
        <span className="hipster rounded" />
      </Col>
      <Col md="9">
        <h2><Translate contentKey="home.title">Welcome, <%= backendType %> Hipster!</Translate></h2>
        <p className="lead"><Translate contentKey="home.subtitle">This is your homepage</Translate></p>
        <%_ } _%>
        {
          (account?.login) ? (
            <div>
              <%_ if(withExample) { _%>
                  <h1 style={{ textAlign: 'center', padding: 50, color: '#012C78' }}>Welcome to <%= capitalizedBaseName %> home page</h1>
                  <Alert style={{ backgroundColor: '#EDEDED', borderColor: '#EDEDED' }}>
                    <span style={{ color: '#012C78' }}>
                    <Translate contentKey="home.logged.message" interpolate={{ username: account.login }}>
                      You are logged in as user {account.login}.
                    </Translate>
                  </span>
                  </Alert>
                    <br></br>
                    <div style={{ display: 'flex', flexDirection: 'row', justifyContent: 'space-between' }}>
                      Here is an example of reminder application, you can click the icon to add your own reminder
                      <div>
                        <Link to="/reminder/new" className="btn btn-primary jh-create-entity" id="jh-create-entity" data-cy="entityCreateButton"style={{ backgroundColor: '#CADCFC', borderColor: '#CADCFC' }}
                        >
                          <FontAwesomeIcon icon="plus" style={{ color: '#012C78' }} />
                          &nbsp; <span style={{ color: '#012C78' }}>Create new Reminder</span>
                        </Link>
                      </div>
                    </div>
              <%_ } else { _%>
              <Alert color="success">
                <Translate contentKey="home.logged.message" interpolate={{ username: account.login }}>You are logged in as user {account.login}.</Translate>
              </Alert>
              <%_ } _%>
            </div>
          ) : (
            <div>
              <%_ if(withExample) { _%>
                <h1 style={{ textAlign: 'center', padding: 50, color: '#012C78' }}>Welcome to <%= capitalizedBaseName %> home page</h1> 
                <div
                style={{
                  display: 'flex',
                  flexDirection: 'row',
                  justifyContent: 'space-between',
                  marginLeft: 150,
                  marginRight: 150,
                  marginTop: 0,
                  marginBottom: 50,
                  color: '#012C78',
                }}
              >
                <div>
                  <img src="content/images/TIC.png" style={{ width: '650px', height: '650px' }}></img>
                </div>
                <div style={{marginTop:100}}>
                  <h5>
                    Click here to <span></span>
                    <a href={getLoginUrl()} style={{ color: '#012C78' }}>
                      sign in
                    </a>
                  </h5>
                  <br />
                  <h5>This is an application using our WDA</h5>
                  <h5>
                    Our products can be found here... &nbsp;
                    <a href="http://wda-ui.s3-website.ap-south-1.amazonaws.com/" target="_blank" style={{ color: '#012C78' }}>
                      TIC_HomePage
                    </a>
                  </h5>
                  <br />
                  <h5>
                    For more detailed information regarding our project you can refer our &nbsp;
                    <a href=" https://comakeit-tic.github.io/" target="_blank" style={{ color: '#012C78' }}>
                      Documentation
                    </a>
                  </h5>
                </div>
              </div>
              <%_ } else { _%>
              <Alert color="warning">
                <Translate contentKey="global.messages.info.authenticated.prefix">If you want to </Translate>
                <% if (!enableTranslation) { %><span>&nbsp;</span><% } %>
<%_ if (authenticationTypeOauth2) { _%>
                <a href={getLoginUrl()} className="alert-link">
                  <Translate contentKey="global.messages.info.authenticated.link">sign in</Translate>
                </a>
<%_ } else { _%>
                <Link to="/login" className="alert-link"><Translate contentKey="global.messages.info.authenticated.link"> sign in</Translate></Link>
<%_ } _%>
                <Translate contentKey="global.messages.info.authenticated.suffix">, you can try the default accounts:
                  <br />- Administrator (login=&quot;admin&quot; and password=&quot;admin&quot;)
                  <br />- User (login=&quot;user&quot; and password=&quot;user&quot;).
                </Translate>
              </Alert>
              

<%_ if (generateUserManagement) { _%>
              <Alert color="warning">
                <Translate contentKey="global.messages.info.register.noaccount">You do not have an account yet?</Translate>&nbsp;
                <Link to="/account/register" className="alert-link"><Translate contentKey="global.messages.info.register.link">Register a new account</Translate></Link>
              </Alert>
<%_ } _%>
<%_ } _%>
            </div>
          )
        }
        <%_ if(withExample) { _%>
          <span></span>
        <%_ } else { _%>
        <p>
          <Translate contentKey="home.question">If you have any question on JHipster:</Translate>
        </p>

        <ul>
          <li>
            <a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer">
              <Translate contentKey="home.link.homepage">JHipster homepage</Translate>
            </a>
          </li>
          <li>
            <a href="https://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener noreferrer">
              <Translate contentKey="home.link.stackoverflow">JHipster on Stack Overflow</Translate>
            </a>
          </li>
          <li>
            <a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener noreferrer">
              <Translate contentKey="home.link.bugtracker">JHipster bug tracker</Translate>
            </a>
          </li>
          <li>
            <a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">
              <Translate contentKey="home.link.chat">JHipster public chat room</Translate>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer">
              <Translate contentKey="home.link.follow">follow @jhipster on Twitter</Translate>
            </a>
          </li>
        </ul>

        <p>
          <Translate contentKey="home.like">If you like JHipster, do not forget to give us a star on</Translate>
          {' '}
          <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">GitHub</a>!
        </p>
      </Col>
        <%_ } _%>
    </Row>
  );
};

export default Home;
