.jenkins-job-instances {
  .avatar {
    &.succeeded {
      background-color: #338633 !important;
    }
    &.failed {
      background-color: #e64949 !important;
    }
  }
  .job-details {
    height: auto !important;
    p {
      margin: 3px 0px;
    }
    .job-status {
      &.succeeded {
        color: #338633;
      }
      &.failed {
        color: #e64949;
      }
    }
  }
}
