<div class="table-responsive" *ngIf="loggers">
    <h2>Logs</h2>

    <p>There are {{ loggers.length }} loggers.</p>

    <span>Filter</span> <input type="text" [(ngModel)]="filter" class="form-control">

    <table class="table table-condensed table-striped table-bordered">
        <thead>
        <tr title="click to order">
            <th (click)="orderProp = 'name'; reverse=!reverse"><span>Name</span></th>
            <th (click)="orderProp = 'level'; reverse=!reverse"><span>Level</span></th>
        </tr>
        </thead>

        <tr *ngFor="let logger of (loggers | filter:filter:'name' | orderBy:orderProp:reverse)">
            <td><small>{{logger.name | slice:0:140}}</small></td>
            <td>
                <button (click)="changeLevel(logger.name, 'TRACE')" [ngClass]="(logger.level=='TRACE') ? 'btn-danger' : 'btn-default'" class="btn btn-default btn-xs">TRACE</button>
                <button (click)="changeLevel(logger.name, 'DEBUG')" [ngClass]="(logger.level=='DEBUG') ? 'btn-warning' : 'btn-default'" class="btn btn-default btn-xs">DEBUG</button>
                <button (click)="changeLevel(logger.name, 'INFO')" [ngClass]="(logger.level=='INFO') ? 'btn-info' : 'btn-default'" class="btn btn-default btn-xs">INFO</button>
                <button (click)="changeLevel(logger.name, 'WARN')" [ngClass]="(logger.level=='WARN') ? 'btn-success' : 'btn-default'" class="btn btn-default btn-xs">WARN</button>
                <button (click)="changeLevel(logger.name, 'ERROR')" [ngClass]="(logger.level=='ERROR') ? 'btn-primary' : 'btn-default'" class="btn btn-default btn-xs">ERROR</button>
            </td>
        </tr>
    </table>
</div>
