{
    "global": {
        "title": "<%= capitalizedBaseName %>",
        "browsehappy": "നിങ്ങൾ <strong>പഴയ</strong> ബ്രൗസർ ഉപയോഗിച്ചു കൊണ്ടിരിക്കുന്നു. നിങ്ങളുടെ അനുഭവം മെച്ചപ്പെടുത്തുന്നതിനായി നിങ്ങളുടെ <a href=\"http://browsehappy.com/?locale=ml\">ബ്രൗസർ അപ്ഡേറ്റ് ചെയ്യുക</a>",
        "menu": {
            "home": "ഹോം",
            "jhipster-needle-menu-add-element": "JHipster ഇവിടെ കൂടുതൽ മെനു എന്റ്രികൾ ചേർക്കും (ഭാഷമാറ്റരുത്!)",
            "entities": {
                "main": "എന്റിറ്റികൾ",
                "jhipster-needle-menu-add-entry": "JHipster ഇവിടെ കൂടുതൽ എന്റിറ്റികൾ ചേർക്കും (ഭാഷമാറ്റരുത്!)"
            },
            "account": {
                "main": "അക്കൗണ്ട്",
                "settings": "സെറ്റിംഗുകൾ",
                "password": "പാസ്വേഡ്",
                "sessions": "സെഷനുകൾ",
                "login": "ലോഗിൻ ചെയ്യുക",
                "logout": "ലോഗൗട്ട് ചെയ്യുക",
                "register": "റെജിസ്റ്റർ ചെയ്യുക"
            },
            "admin": {
                "main": "അഡ്മിൻ",
                "gateway": "ഗേറ്റ്വേ",
                "userManagement": "വ്യവസ്ഥാപന മാനേജ്മെന്റ്",
                "tracker": "ഉപയോക്തൃ ട്രാക്കർ",
                "metrics": "മെത്രിക്‌സ്",
                "health": "ആരോഗ്യം",
                "configuration": "സംരചന",
                "logs": "ലോഗുകൾ",
                "apidocs": "API",
                "database": "ഡാറ്റാബേസ്",
                "jhipster-needle-menu-add-admin-element": "JHipster ഇവിടെ കൂടുതൽ അഡ്മിൻ മെനു എന്റ്രികൾ ചേർക്കും (ഭാഷമാറ്റരുത്!)"
            },
            "language": "ഭാഷ"
        },
        "form": {
            "username.label": "ഉപയോക്തൃനാമം",
            "username.placeholder": "നിങ്ങളുടെ ഉപയോക്തൃനാമം",
            "currentpassword.label": "বর্তমান പാസ്വേഡ്ഡ്",
            "currentpassword.placeholder": "বর্তমান പാസ്വേഡ്ഡ്",
            "newpassword.label": "പുതിയ പാസ്വേഡ്ഡ്",
            "newpassword.placeholder": "പുതിയ പാസ്വേഡ്ഡ്",
            "confirmpassword.label": "പുതിയ പാസ്വേഡ്ഡിന്റെ സ്ഥിരീകരണം",
            "confirmpassword.placeholder": "പുതിയ പാസ്വേഡ്ഡിന്റെ സ്ഥിരീകരണം ചെയ്യുക",
            "email.label": "ഇമെയിൽ",
            "email.placeholder": "നിങ്ങളുടെ ഇമെയിൽ"
        },
        "messages": {
            "info": {
                "authenticated": {
                    "prefix": "നിങ്ങൾ ",
                    "link": "ലോഗിൻ ചെയ്യുക",
                    "suffix": " ചെയ്യാൻ ആഗ്രഹിക്കുന്നുവെങ്കിൽ, ദയവായി അടിസ്ഥാന അക്കൗണ്ടുകൾ പരിശ്രമിക്കൂ:<br/>- അഡ്മിൻ (ലോഗിൻ=\"admin\" ആൻഡ് പാസ്വേഡ്ഡ=\"admin\")<br/>- ഉപയോക്താവ് (ലോഗിൻ=\"user\" ആൻഡ് പാസ്വേഡ്ഡ=\"user\")"
                },
                "register": {
                    "noaccount": "നിങ്ങളുടെ അക്കൗണ്ട് ഇല്ലേ?",
                    "link": "പുതിയ അക്കൗണ്ട് രജിസ്റ്റർ ചെയ്യുക"
                }
            },
            "error": {
                "dontmatch": "പാസ്വേഡും അതിന്റെ സ്ഥിരീകരണവും പൊരുത്തപ്പെടുന്നില്ല!"
            },
            "validate": {
                "newpassword": {
                    "required": "പാസ്വേഡ്ഡു ആവശ്യമാണ്.",
                    "minlength": "പാസ്വേഡ്ഡിന് കുറഞ്ഞത് 4 അക്ഷരങ്ങൾ വേണം.",
                    "maxlength": "പാസ്വേഡ്ഡിന്റെ ദൈർഘ്യം 50 അക്ഷരങ്ങൾക്കു കൂടുതൽ ആവാൻ പറ്റില്ല.",
                    "strength": "പാസ്വേഡ്ഡിന്റെ ശക്തി:"
                },
                "confirmpassword": {
                    "required": "പാസ്വേഡിന്റെ സ്ഥിരീകരണം ആവശ്യമാണ്.",
                    "minlength": "പാസ്വേഡിന്റെ സ്ഥിരീകരണത്തിന് കുറഞ്ഞത് 4 അക്ഷരങ്ങൾ വേണം.",
                    "maxlength": "പാസ്വേഡിന്റെ സ്ഥിരീകരണം 50 അക്ഷരങ്ങൾക്കു കൂടുതൽ ആവാൻ പറ്റില്ല."
                },
                "email": {
                    "required": "ഇമെയിൽ ആവശ്യമാണ്.",
                    "invalid": "ഇമെയിൽ സാധുവായിട്ടില്ല.",
                    "minlength": "ഇമെയിലിന് കുറഞ്ഞത് 5 അക്ഷരങ്ങൾ വേണം.",
                    "maxlength": "ഇമെയിൽ 50 അക്ഷരങ്ങൾക്കു കൂടുതൽ ആവാൻ പറ്റില്ല."
                }
            }
        },
        "field": {
            "id": "ഐ.ഡി"
        },
        "ribbon": {
            "dev": "ഡെവലപ്പ്മെന്റ്"
        },
        "item-count": "കാഴ്ചവെച്ചത് {{first}} - {{second}} ആൻഡ് {{total}} ഐറ്റങ്ങൾ."
    },
    "entity": {
        "action": {
            "addblob": "ബ്ലോബ് ചേർക്കുക",
            "addimage": "ചിത്രം ചേർക്കുക",
            "back": "പുറക്ക്",
            "cancel": "റദ്ദാക്കുക",
            "delete": "ഹറ്റുക",
            "edit": "തിരുത്തുക",
            "open": "തുറക്കുക",
            "save": "സംരക്ഷിക്കുക",
            "view": "കാഴ്ചവെക്കുക",
            "show": "കാഴ്ചവെക്കുക {{otherEntity}}"
        },
        "detail": {
            "field": "ഫീൽഡ്",
            "value": "മൂല്യം"
        },
        "delete": {
            "title": "ഹറ്റൽ ഓപ്പറേഷൻ സ്ഥിരീകരിക്കുക"
        },
        "validation": {
            "required": "ഈ ഫീൽഡ് ആവശ്യമാണ്.",
            "minlength": "ഈ ഫീൽഡ് കുറഞ്ഞത് {{ min }} അക്ഷരങ്ങൾ വേണം.",
            "maxlength": "ഈ ഫീൽഡ് {{ max }} അക്ഷരങ്ങൾക്കു കൂടുതൽ ആവാൻ പറ്റില്ല.",
            "min": "ഈ ഫീൽഡ് {{ min }} ആയിരിക്കണം.",
            "max": "ഈ ഫീൽഡ് {{ max }}-ൽ അധികമാകുന്നില്ല.",
            "minbytes": "ഈ ഫീൽഡ് {{ min }} ബൈറ്റ് ലഭ്യമാകണം.",
            "maxbytes": "ഈ ഫീൽഡ് {{ max }} ബൈറ്റ് കൂടുതലാകരുത്.",
            "pattern": "ഈ ഫീൽഡ് {{ pattern }} രൂപത്തിൽ നൽകണം.",
            "number": "ഈ ഫീൽഡ് സംഖ്യയായി ഉണ്ടായിരിക്കണം.",
            "datetimelocal": "ഈ ഫീൽഡ് ഒരു തീയതിയും സമയവും ആയിരിക്കണം."
        },
        "filters": {
          "set": "നിര്ദ്ദിഷ്ടമായ ഫിൽട്ടർ",
          "clear": "ഫിൽട്ടർ ക്ലിയർ ചെയ്യുക",
          "clearAll": "എല്ലാ ഫിൽട്ടർ ക്ലിയർ ചെയ്യുക"
        }
    },
    "error": {
        "internalServerError": "ആന്തരിക സെർവർ പിഴവ്",
        "server.not.reachable": "സെർവർ പറ്റിച്ചിട്ടില്ല",
        "url.not.found": "കണ്ടില്ല",
        "NotNull": "ഫീൽഡ് {{ fieldName }} ശൂന്യമായിരിക്കരുത്!",
        "Size": "ഫീൽഡ് {{ fieldName }} വലിപ്പം ഉചിതമല്ല!",
        "userexists": "ലോഗിൻ നാമം ഇതിനകം ഉപയോഗത്തിലാണ്!",
        "emailexists": "ഇമെയിൽ ഇതിനകം ഉപയോഗത്തിലാണ്!",
        "idexists": "പുതിയ {{entityName}}-ന് ID ഉണ്ടായിരിക്കരുത്",
        "idnull": "അസാധുവായ ID",
        "idinvalid": "അസാധുവായ Id",
        "idnotfound": "ID കണ്ടെത്താൻ സാധിച്ചില്ല",
        "file": {
            "could.not.extract": "ഫയൽ എക്‌സ്ട്രാക്റ്റ് ചെയ്യാൻ കഴിഞ്ഞില്ല",
            "not.image": "ഫയൽ ചിത്രമാകണമായിരുന്നു, പക്ഷേ \"{{ fileType }}\" എന്ന് കണ്ടെത്തി"
        }
    },
    "footer": "ഇത് നിങ്ങളുടെ ഫൂട്ടർ"
}
