<%#
 Copyright 2013-2025 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
{
    "global": {
        "title": "<%= capitalizedBaseName %>",
        "browsehappy": "Está a usar um navegador <strong>desatualizado</strong>. Por favor <a href=\"http://browsehappy.com/?locale=pt_PT\">atualize o seu navegador</a> para ter uma experiência melhor.",
        "menu": {
            "home": "Início",
            "jhipster-needle-menu-add-element": "JHipster will add additional menu entries here (do not translate!)",
            "entities": {
                "main": "Entidades",
                "jhipster-needle-menu-add-entry": "JHipster will add additional entities here (do not translate!)"
            },
            "account": {
                "main": "Conta",
                "settings": "Configuração",
                "password": "Palavra-passe",
                "sessions": "Sessões",
                "login": "Entrar",
                "logout": "Sair",
                "register": "Registar"
            },
            "admin": {
                "main": "Administração",
<%_ if (applicationTypeGateway) { _%>
                "gateway": "Gateway",
<%_ } _%>
                "userManagement": "Gestão de utilizadores",
                "tracker": "Atividade dos utilizadores",
                "metrics": "Métricas",
                "health": "Estado do Sistema",
                "configuration": "Configuração",
                "logs": "Logs",
                "apidocs": "API",
                "database": "Base de Dados",
                "jhipster-needle-menu-add-admin-element": "JHipster will add additional menu entries here (do not translate!)"
            },
            "language": "Idioma"
        },
        "form": {
            "username.label": "Nome de utilizador",
            "username.placeholder": "O seu nome de utilizador",
            "currentpassword.label": "Palavra-passe actual",
            "currentpassword.placeholder": "Palavra-passe actual",
            "newpassword.label": "Nova palavra-passe",
            "newpassword.placeholder": "Nova palavra-passe",
            "confirmpassword.label": "Confirmação de nova palavra-passe",
            "confirmpassword.placeholder": "Confirme a nova palavra-passe",
            "email.label": "Email",
            "email.placeholder": "O seu email"
        },
        "messages": {
            "info": {
                "authenticated": {
                    "prefix": "Para ",
                    "link": "entrar",
                    "suffix": ", utilize as seguintes contas:<br/>- Administrador (utilizador=\"admin\" e palavra-passe=\"admin\") <br/>- Utilizador (utilizador=\"user\" e palavra-passe=\"user\")."
                },
                "register": {
                    "noaccount": "Ainda não tem uma conta?",
                    "link": "Crie uma nova conta"
                }
            },
            "error": {
                "dontmatch" : "A palavra-passe e a sua confirmação devem ser iguais!"
            },
            "validate": {
                "newpassword": {
                    "required": "A palavra-passe é obrigatória.",
                    "minlength": "A palavra-passe deve ter pelo menos 4 caracteres",
                    "maxlength": "A palavra-passe não pode ter mais de 50 caracteres",
                    "strength": "Nível de dificuldade da palavra-passe:"
                },
                "confirmpassword": {
                    "required": "A confirmação da palavra-passe é obrigatória.",
                    "minlength": "A confirmação da palavra-passe deve ter pelo menos 4 caracteres",
                    "maxlength": "A confirmação da palavra-passe não pode ter mais de 50 caracteres"
                },
                "email": {
                    "required": "O email é obrigatório.",
                    "invalid": "Email inválido.",
                    "minlength": "O email deve ter pelo menos 5 caracteres",
                    "maxlength": "O email não pode ter mais de 50 caracteres"
                }
            }
        },
        "field": {
            "id" : "Código"
        },
        "ribbon": {
            "dev": "Desenvolvimento"
        },
        "item-count": "Mostrando {{first}} - {{second}} de {{total}} resultados."
    },
    "entity": {
        "action": {
            "addblob": "Adicionar ficheiro",
            "addimage": "Adicionar imagem",
            "back": "Voltar",
            "cancel": "Cancelar",
            "delete": "Eliminar",
            "edit": "Editar",
            "open": "Abrir",
            "save": "Guardar",
            "view": "Visualizar",
            "show": "Show {{otherEntity}}"
        },
        "detail": {
            "field": "Campo",
            "value": "Valor"
        },
        "delete": {
            "title": "Confirme a eliminação"
        },
        "validation": {
            "required": "O campo é obrigatório.",
            "minlength": "Este campo deve ter pelo menos {{min}} caracteres.",
            "maxlength": "Este campo não pode ter mais que {{max}} caracteres.",
            "min": "Este campo deve ser maior que {{min}}.",
            "max": "Este campo não pode ser maior que {{max}}.",
            "minbytes": "Este campo deve ter pelo menos {{min}} bytes.",
            "maxbytes": "Este campo não pode ter mais que {{max}} bytes.",
            "pattern": "Este campo deve estar dentro do seguinte padrão {{pattern}}.",
            "number": "Este campo é do tipo número.",
            "datetimelocal": "Este campo é do tipo data/hora."
        },
        "filters": {
          "set": "Following filters are set",
          "clear": "Clear filter",
          "clearAll": "Clear all filters"
        }
    },
    "error": {
        "internalServerError": "Erro interno do servidor",
        "server.not.reachable": "Servidor inacessível",
        "url.not.found": "Não encontrado",
        "NotNull": "Campo {{fieldName}} não pode estar vazio!",
        "Size": "Campo {{fieldName}} não atende aos requisitos de tamanho mínimo/máximo!",
        "userexists": "Nome de Utilizador em uso!",
        "emailexists": "E-mail em uso!",
        "idexists": "Um novo {{entityName}} não pode ter um ID",
        "idnull": "ID inválido",
        "idinvalid": "Invalid Id",
        "idnotfound": "ID cannot be found",
        "file": {
            "could.not.extract": "Could not extract file",
            "not.image": "File was expected to be an image but was found to be \"{{ fileType }}\""
        }
    },
    "footer": "Este é o seu rodapé"
}
