<template>
  <div>
    <div class="row justify-content-center">
      <div class="col-md-8 toastify-container">
        <h1 id="register-title" data-cy="registerTitle" v-text="t$('register.title')">Registration</h1>

        <div v-if="success" class="alert alert-success" role="alert" v-html="t$('register.messages.success')">
          <strong>Registration saved!</strong> Please check your email for confirmation.
        </div>

        <div v-if="error" class="alert alert-danger" role="alert" v-html="t$('register.messages.error.fail')">
          <strong>Registration failed!</strong> Please try again later.
        </div>

        <div v-if="errorUserExists" class="alert alert-danger" role="alert" v-html="t$('register.messages.error.userexists')">
          <strong>Login name already registered!</strong> Please choose another one.
        </div>

        <div v-if="errorEmailExists" class="alert alert-danger" role="alert" v-html="t$('register.messages.error.emailexists')">
          <strong>Email is already in use!</strong> Please choose another one.
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form v-if="!success" id="register-form" name="registerForm" no-validate @submit.prevent="register()">
          <div class="form-group">
            <label class="form-control-label" for="username" v-text="t$('global.form[\'username.label\']')">Username</label>
            <input
              id="username"
              v-model="v$.registerAccount.login.$model"
              type="text"
              class="form-control"
              name="login"
              :class="{ valid: !v$.registerAccount.login.$invalid, invalid: v$.registerAccount.login.$invalid }"
              required
              minlength="1"
              maxlength="50"
              pattern="^[a-zA-Z0-9!#$&'*+=?^_`{|}~.-]+@?[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
              :placeholder="t$('global.form[\'username.placeholder\']')"
              data-cy="username"
            />
            <div v-if="v$.registerAccount.login.$anyDirty && v$.registerAccount.login.$invalid">
              <small
                v-if="!v$.registerAccount.login.required"
                class="form-text text-danger"
                v-text="t$('register.messages.validate.login.required')"
              >
                Your username is required.
              </small>
              <small
                v-if="!v$.registerAccount.login.minLength"
                class="form-text text-danger"
                v-text="t$('register.messages.validate.login.minlength')"
              >
                Your username is required to be at least 1 character.
              </small>
              <small
                v-if="!v$.registerAccount.login.maxLength"
                class="form-text text-danger"
                v-text="t$('register.messages.validate.login.maxlength')"
              >
                Your username cannot be longer than 50 characters.
              </small>
              <small
                v-if="!v$.registerAccount.login.pattern"
                class="form-text text-danger"
                v-text="t$('register.messages.validate.login.pattern')"
              >
                Your username can only contain letters and digits.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="email" v-text="t$('global.form[\'email.label\']')">Email</label>
            <input
              id="email"
              v-model="v$.registerAccount.email.$model"
              type="email"
              class="form-control"
              name="email"
              :class="{ valid: !v$.registerAccount.email.$invalid, invalid: v$.registerAccount.email.$invalid }"
              minlength="5"
              maxlength="254"
              email
              required
              :placeholder="t$('global.form[\'email.placeholder\']')"
              data-cy="email"
            />
            <div v-if="v$.registerAccount.email.$anyDirty && v$.registerAccount.email.$invalid">
              <small
                v-if="!v$.registerAccount.email.required"
                class="form-text text-danger"
                v-text="t$('global.messages.validate.email.required')"
              >
                Your email is required.
              </small>
              <small
                v-if="!v$.registerAccount.email.email"
                class="form-text text-danger"
                v-text="t$('global.messages.validate.email.invalid')"
              >
                Your email is invalid.
              </small>
              <small
                v-if="!v$.registerAccount.email.minLength"
                class="form-text text-danger"
                v-text="t$('global.messages.validate.email.minlength')"
              >
                Your email is required to be at least 5 characters.
              </small>
              <small
                v-if="!v$.registerAccount.email.maxLength"
                class="form-text text-danger"
                v-text="t$('global.messages.validate.email.maxlength')"
              >
                Your email cannot be longer than 100 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="firstPassword" v-text="t$('global.form[\'newpassword.label\']')">New password</label>
            <input
              id="firstPassword"
              v-model="v$.registerAccount.password.$model"
              type="password"
              class="form-control"
              name="password"
              :class="{ valid: !v$.registerAccount.password.$invalid, invalid: v$.registerAccount.password.$invalid }"
              minlength="4"
              maxlength="50"
              required
              :placeholder="t$('global.form[\'newpassword.placeholder\']')"
              data-cy="firstPassword"
            />
            <div v-if="v$.registerAccount.password.$anyDirty && v$.registerAccount.password.$invalid">
              <small
                v-if="!v$.registerAccount.password.required"
                class="form-text text-danger"
                v-text="t$('global.messages.validate.newpassword.required')"
              >
                Your password is required.
              </small>
              <small
                v-if="!v$.registerAccount.password.minLength"
                class="form-text text-danger"
                v-text="t$('global.messages.validate.newpassword.minlength')"
              >
                Your password is required to be at least 4 characters.
              </small>
              <small
                v-if="!v$.registerAccount.password.maxLength"
                class="form-text text-danger"
                v-text="t$('global.messages.validate.newpassword.maxlength')"
              >
                Your password cannot be longer than 50 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="secondPassword" v-text="t$('global.form[\'confirmpassword.label\']')"
              >New password confirmation</label
            >
            <input
              id="secondPassword"
              v-model="v$.confirmPassword.$model"
              type="password"
              class="form-control"
              name="confirmPasswordInput"
              :class="{ valid: !v$.confirmPassword.$invalid, invalid: v$.confirmPassword.$invalid }"
              minlength="4"
              maxlength="50"
              required
              :placeholder="t$('global.form[\'confirmpassword.placeholder\']')"
              data-cy="secondPassword"
            />
            <div v-if="v$.confirmPassword.$dirty && v$.confirmPassword.$invalid">
              <small
                v-if="!v$.confirmPassword.required"
                class="form-text text-danger"
                v-text="t$('global.messages.validate.confirmpassword.required')"
              >
                Your confirmation password is required.
              </small>
              <small
                v-if="!v$.confirmPassword.minLength"
                class="form-text text-danger"
                v-text="t$('global.messages.validate.confirmpassword.minlength')"
              >
                Your confirmation password is required to be at least 4 characters.
              </small>
              <small
                v-if="!v$.confirmPassword.maxLength"
                class="form-text text-danger"
                v-text="t$('global.messages.validate.confirmpassword.maxlength')"
              >
                Your confirmation password cannot be longer than 50 characters.
              </small>
              <small v-if="!v$.confirmPassword.sameAsPassword" class="form-text text-danger" v-text="t$('global.messages.error.dontmatch')">
                The password and its confirmation do not match!
              </small>
            </div>
          </div>

          <button type="submit" :disabled="v$.$invalid" class="btn btn-primary" data-cy="submit" v-text="t$('register.form.button')">
            Register
          </button>
        </form>
        <p />
        <div class="alert alert-warning">
          <span v-text="t$('global.messages.info.authenticated.prefix')">If you want to </span>
          <a class="alert-link" @click="openLogin()" v-text="t$('global.messages.info.authenticated.link')">sign in</a
          ><span v-html="t$('global.messages.info.authenticated.suffix')"
            >, you can try the default accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and
            password="user").</span
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./register.component.ts"></script>
