<div>
    <h2>
        <span jhiTranslate="health.title">Health Checks</span>
        <button class="btn btn-primary float-xs-right" (click)="refresh()">
            <span class="fa fa-refresh"></span> <span jhiTranslate="health.refresh.button">Refresh</span>
        </button>
    </h2>
    <div class="table-responsive">
        <table id="healthCheck" class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-7" jhiTranslate="health.table.service">Service Name</th>
                    <th class="col-md-2 text-xs-center" jhiTranslate="health.table.status">Status</th>
                    <th class="col-md-2 text-xs-center" jhiTranslate="health.details.details">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let health of healthData">
                    <%_ // TODO: Add translation for service name _%>
                    <td><% if (enableTranslation) { %>{{'health.indicator.' + baseName(health.name) | translate}}<% } else { %><span class="text-capitalize">{{ baseName(health.name) }}</span><% } %> {{subSystemName(health.name)}}</td>
                    <td class="text-xs-center">
                        <span class="tag" [ngClass]="getTagClass(health.status)" jhiTranslate="{{'health.status.' + health.status}}">
                            {{health.status}}
                        </span>
                    </td>
                    <td class="text-xs-center">
                        <a class="hand" (click)="showHealth(health)" *ngIf="health.details || health.error">
                            <i class="fa fa-eye"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
