{
  "arrowParens": "avoid",
  "printWidth": 120,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "overrides": [{
    "files": "*.js",
    "options": {
      "singleQuote": true
    }
  }]
}
