<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (tag(); as tagRef) {
      <div>
        <h2 data-cy="tagDetailsHeading"><span jhiTranslate="blogApp.blogTag.detail.title">Tag</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ tagRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogTag.name">Name</span></dt>
          <dd>
            <span>{{ tagRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogTag.post">Post</span></dt>
          <dd>
            @for (post of tagRef.posts; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/blog/post', post.id, 'view']">{{ post?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/blog/tag', tagRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
