<%#
 Copyright 2013-2025 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
<div>
  <h2>
    <span id="gateway-page-heading">__jhiTranslateTag__('gateway.title')</span>

    <button class="btn btn-primary float-end" (click)="refresh()" (disabled)="(updatingRoutes)">
      <fa-icon icon="sync"></fa-icon> <span>__jhiTranslateTag__('gateway.refresh.button')</span>
    </button>
  </h2>

  <h3>__jhiTranslateTag__('gateway.routes.title')</h3>

  <div class="table-responsive">
    <table class="table table-striped" aria-describedby="gateway-page-heading">
      <thead>
        <tr>
          <th scope="col">__jhiTranslateTag__('gateway.routes.url')</th>
          <th scope="col">__jhiTranslateTag__('gateway.routes.service')</th>
          <th scope="col">__jhiTranslateTag__('gateway.routes.servers')</th>
        </tr>
      </thead>
      <tbody>
        @for (route of gatewayRoutes; track route.path) {
          <tr>
            <td>{{ route.path }}</td>
            <td>{{ route.serviceId }}</td>
            <td>
              @if (route.serviceInstances.length === 0) {
                <div class="label label-danger">__jhiTranslateTag__('gateway.routes.error')</div>
              }

              <div class="table-responsive">
                @if (route) {
                  <table class="table table-striped">
                    @for (instance of route.serviceInstances; track instance.uri) {
                      <tr>
                        <td>
                          <a href="{{ instance.uri }}" target="_blank">{{ instance.uri }}</a>
                        </td>
                        <td>
                          @if (instance.instanceInfo) {
                            <div class="badge bg-{{ instance.instanceInfo.status === 'UP' ? 'success' : 'danger' }}">
                              {{ instance.instanceInfo.status }}
                            </div>
                          } @else {
                            <div class="badge bg-warning">?</div>
                          }
                        </td>
                        <td>
                          @for (entry of instance.metadata | keyvalue; track entry.key) {
                            <span>
                              <span class="badge bg-default fw-normal">
                                <span class="badge rounded-pill bg-info fw-normal">{{ entry.key }}</span>
                                <span class="text-secondary">{{ entry.value }}</span>
                              </span>
                            </span>
                          }
                        </td>
                      </tr>
                    }
                  </table>
                }
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
