<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (blog(); as blogRef) {
      <div>
        <h2 data-cy="blogDetailsHeading"><span jhiTranslate="blogApp.blogBlog.detail.title">Blog</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ blogRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogBlog.name">Name</span></dt>
          <dd>
            <span>{{ blogRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="blogApp.blogBlog.handle">Handle</span></dt>
          <dd>
            <span>{{ blogRef.handle }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/blog/blog', blogRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
