/* variables shared through out the app */
$header-color:                  #fff;
$header-bg-color:               #616161;
$header-color-secondary:        #bbb;
$header-color-hover:              darken( $header-color, 20% );
$text-color:                    #333;
$app-primary-color:             #616161;

$side-dock-size:                  65px;

$widget-background-color:       #fff;
$dashboard-background-color:    #eee;
