<%#
 Copyright 2013-2018 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
import * as React from 'react';
import { Route, Switch } from 'react-router-dom';
import Loadable from 'react-loadable';

<%_ if (authenticationType !== 'oauth2') { _%>
import Login from 'app/modules/login/login';
import Account from 'app/modules/account';
import Activate from 'app/modules/account/activate/activate';
import PasswordResetInit from 'app/modules/account/password-reset/init/password-reset-init';
import PasswordResetFinish from 'app/modules/account/password-reset/finish/password-reset-finish';
<%_ } _%>
import Logout from 'app/modules/login/logout';
import Home from 'app/modules/home/home';
import Admin from 'app/modules/administration';
import Entities from 'app/entities';
import PrivateRoute from 'app/shared/auth/private-route';
import { AUTHORITIES } from 'app/config/constants';

<%_ if (authenticationType !== 'oauth2') { _%>
/*
*  simple code splitting demo, you can replace the loading function with your component to do loading animation.
*  more docs in react-loadable: https://github.com/jamiebuilds/react-loadable
* */
const Register = Loadable({
  loader: () => import('app/modules/account/register/register'),
  loading: () => <div>loading ...</div>
});
<%_ } _%>

const Routes = () => (
  <div className="view-routes">
    <%_ if (authenticationType !== 'oauth2') { _%>
    <Route path="/login" component={Login} />
    <%_ } _%>
    <Switch>
      <Route path="/logout" component={Logout} />
    <%_ if (authenticationType !== 'oauth2') { _%>
      <Route path="/register" component={Register} />
      <Route path="/activate/:key?" component={Activate} />
      <Route path="/reset/request" component={PasswordResetInit} />
      <Route path="/reset/finish/:key?" component={PasswordResetFinish} />
    <%_ } _%>
      <PrivateRoute path="/admin" component={Admin} hasAnyAuthorities={[AUTHORITIES.ADMIN]}/>
    <%_ if (authenticationType !== 'oauth2') { _%>
      <PrivateRoute path="/account" component={Account} hasAnyAuthorities={[AUTHORITIES.ADMIN, AUTHORITIES.USER]}/>
    <%_ } _%>
      <PrivateRoute path="/entity" component={Entities} hasAnyAuthorities={[AUTHORITIES.USER]}/>
      <Route path="/" component={Home}/>
    </Switch>
  </div>
);

export default Routes;
