#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: 'Close stale issues'
on:
  schedule:
    - cron: '0 0 * * *'
permissions:
  issues: write
  pull-requests: write
jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          ascending: true
          stale-issue-label: 'area: stale'
          stale-issue-message: |
            This issue is stale because it has been open for too long without any activity.
            Due to the moving nature of jhipster generated application, bugs can become invalid.
            If this issue still applies please comment otherwise it will be closed in 7 days
          days-before-issue-stale: 180
          days-before-pr-stale: 360
          days-before-close: 7
          exempt-issue-labels: 'area: bug :bug:,status: work in progress,$$ bug-bounty $$'
          exempt-pr-labels: 'pr: bug-fix,status: work in progress'
          operations-per-run: 60
