#
# Copyright 2013-2021 the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: Webflux
concurrency:
  # Group PRs by head_ref, push to main branch by commit id, and others branch by ref.
  group: webflux-${{ github.head_ref || (github.ref == 'refs/heads/main' && github.sha) || github.ref }}
  cancel-in-progress: true
on:
  push:
    branches-ignore:
      - 'dependabot/**'
      - 'skip_ci*'
    paths-ignore:
      - 'generators/*client/templates/react/**'
      - 'generators/*client/templates/vue/**'
  pull_request:
    types: [closed, opened, synchronize, reopened]
    branches:
      - '*'
    paths-ignore:
      - 'package*.json'
      - 'generators/*client/**'
jobs:
  applications:
    name: ${{ matrix.app-type }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ${{ github.workspace }}/app
    if: >-
      !contains(github.event.head_commit.message, '[angular]') &&
      !contains(github.event.head_commit.message, '[react]') &&
      !contains(github.event.head_commit.message, '[vue]') &&
      !contains(github.event.pull_request.title, '[angular]') &&
      !contains(github.event.pull_request.title, '[react]') &&
      !contains(github.event.pull_request.title, '[vue]') &&
      !contains(github.event.head_commit.message, '[ci skip]') &&
      !contains(github.event.head_commit.message, '[skip ci]') &&
      !contains(github.event.pull_request.title, '[skip ci]') &&
      !contains(github.event.pull_request.title, '[ci skip]') &&
      github.event.action != 'closed' &&
      (github.event.pull_request.draft == false || !contains(github.event.pull_request.labels.*.name, 'pr: skip-ci')) &&
      !contains(github.event.pull_request.user.login, 'dependabot')
    timeout-minutes: 40
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04]
        cache: [angular]
        app-type:
          - webflux-mongodb
          - webflux-mongodb-es-session
          - webflux-mongodb-oauth2
          - webflux-gateway-jwt
          - webflux-gateway-oauth2
          #                    - webflux-couchbase
          #                    - webflux-couchbase-es-oauth2
          - webflux-psql
          # - webflux-mysql
          - webflux-mariadb-gradle
        include:
          - app-type: webflux-mongodb
            entity: mongodb
            environment: prod
            war: 0
            e2e: 1
            testcontainers: 1
          - app-type: webflux-mongodb-es-session
            entity: mongodb
            environment: prod
            war: 0
            e2e: 1
            testcontainers: 1
          - app-type: webflux-mongodb-oauth2
            entity: mongodb
            environment: prod
            war: 0
            e2e: 1
            testcontainers: 1
          - app-type: webflux-gateway-jwt
            entity: none
            environment: prod
            war: 0
            e2e: 1
            testcontainers: 0
          - app-type: webflux-gateway-oauth2
            entity: none
            environment: prod
            war: 0
            e2e: 1
            testcontainers: 1
          #                    - app-type: webflux-couchbase
          #                      entity: couchbase
          #                      profile: prod
          #                      war: 0
          #                      e2e: 1
          #                    - app-type: webflux-couchbase-es-oauth2
          #                      entity: couchbase
          #                      profile: prod
          #                      war: 0
          #                      e2e: 1
          - app-type: webflux-psql
            entity: sql
            environment: prod
            war: 0
            e2e: 1
            testcontainers: 0
          # - app-type: webflux-mysql
          #   entity: sqllight
          #   environment: prod
          #   war: 0
          #   e2e: 1
          #   testcontainers: 1
          - app-type: webflux-mariadb-gradle
            entity: sqllight
            environment: prod
            war: 0
            e2e: 1
            testcontainers: 0
    steps:
      #----------------------------------------------------------------------
      # Install all tools and check configuration
      #----------------------------------------------------------------------
      - name: 'SETUP: Checkout generator-jhipster'
        uses: actions/checkout@v2
        with:
          path: generator-jhipster
          fetch-depth: 2
      - name: 'SETUP: environment'
        id: setup
        uses: ./generator-jhipster/.github/actions/setup
        with:
          entities-sample: ${{ matrix.entity }}
          application-sample: ${{ matrix.app-type }}
          application-environment: ${{ matrix.environment }}
          application-packaging: ${{ (matrix.war == 1 && 'war') || 'jar' }}
          enable-testcontainers: ${{ matrix.testcontainers == 1 }}
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: ${{ steps.setup.outputs.node-version }}
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: ${{ steps.setup.outputs.java-version }}
      - name: 'SETUP: load npm cache'
        uses: actions/cache@v2.1.6
        with:
          path: |
            ~/.npm
            ~/.cache/Cypress/
          key: ${{ runner.os }}-node-${{ steps.setup.outputs.date }}-${{ matrix.cache }}-${{ hashFiles('generator-jhipster/package-lock.json', 'generator-jhipster/**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ steps.setup.outputs.date }}-${{ matrix.cache }}-
            ${{ runner.os }}-node-${{ steps.setup.outputs.date }}-
            ${{ runner.os }}-node-${{ steps.setup.outputs.date }}
      - name: 'SETUP: load maven cache'
        uses: actions/cache@v2.1.6
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ steps.setup.outputs.date }}-${{ hashFiles('generator-jhipster/**/pom.xml.ejs') }}
          restore-keys: |
            ${{ runner.os }}-maven-${{ steps.setup.outputs.date }}-
            ${{ runner.os }}-maven-${{ steps.setup.outputs.date }}
      - name: 'SETUP: load gradle cache'
        if: contains(matrix.app-type, 'gradle')
        uses: actions/cache@v2.1.6
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ steps.setup.outputs.date }}-${{ hashFiles('generator-jhipster/**/build.gradle.ejs') }}
          restore-keys: |
            ${{ runner.os }}-gradle-${{ steps.setup.outputs.date }}-
            ${{ runner.os }}-gradle-${{ steps.setup.outputs.date }}
      - name: 'ENV: display variables'
        run: $JHI_SCRIPTS/01-display-configuration.sh
      - name: 'TOOLS: configure tools installed by the system'
        run: $JHI_SCRIPTS/03-system.sh
      - name: 'TOOLS: configure git'
        run: $JHI_SCRIPTS/04-git-config.sh
      #----------------------------------------------------------------------
      # Install JHipster and generate project+entities
      #----------------------------------------------------------------------
      - name: 'GENERATION: install JHipster'
        run: $JHI_SCRIPTS/10-install-jhipster.sh
      - name: 'GENERATION: config'
        run: $JHI_SCRIPTS/11-generate-config.sh
      - name: 'GENERATION: project'
        run: $JHI_SCRIPTS/12-generate-project.sh
      - name: 'GENERATION: replace version in generated project'
        run: $JHI_SCRIPTS/13-replace-version-generated-project.sh
      - name: 'GENERATION: jhipster info'
        run: $JHI_SCRIPTS/14-jhipster-info.sh
      #----------------------------------------------------------------------
      # Detect changes against base commit
      #----------------------------------------------------------------------
      - name: 'GENERATION: Create required structure'
        run: |
          mkdir -p base/generator-jhipster
          mkdir -p base/app
        working-directory: ${{ github.workspace }}
      - name: 'MERGE: Install base generator-jhipster'
        continue-on-error: true
        id: base-checkout
        if: github.event.pull_request
        working-directory: ${{ github.workspace }}/base/generator-jhipster
        run: |
          git clone ${{ github.workspace }}/generator-jhipster .
          git checkout @~1
          git log
          npm uninstall -g generator-jhipster
          npm install
          npm install -g .
      - name: 'MERGE: merge base project'
        continue-on-error: true
        id: base-app
        if: steps.base-checkout.outcome == 'success'
        working-directory: ${{ github.workspace }}/base/app
        run: |
          $JHI_SCRIPTS/11-generate-config.sh
          $JHI_SCRIPTS/12-generate-project.sh --skip-install --skip-git
        env:
          JHI_FOLDER_APP: ${{ github.workspace }}/base/app
      - name: 'MERGE: merge project diff'
        continue-on-error: true
        id: merge-is-equal
        if: steps.base-app.outcome == 'success'
        working-directory: ${{ github.workspace }}/base/app
        run: |
          # Copy git repository (clone without the files)
          cp -a ${{ github.workspace }}/app/.git .
          git log
          # File keystore.p12 always changes
          # File package-lock.json is not generated
          # Verify if the generated source has changed
          git add .
          git -c color.ui=always diff -R --cached -- '.yo-rc.json' '.jhipster/**'
          git -c color.ui=always diff -R --cached --exit-code -- . ':!.yo-rc.json' ':!.jhipster/**' ':!package-lock.json' ':!src/main/resources/config/tls/keystore.p12' || echo "::set-output name=has-changes::true"
      - name: 'MERGE: tests should be skipped'
        id: tests-should-be-skipped
        if: >
          steps.merge-is-equal.outcome == 'success' &&
          steps.merge-is-equal.outputs.has-changes != 'true'
        run: echo 'Skipping tests' && echo "::set-output name=skip-tests::true"
      #----------------------------------------------------------------------
      # Launch tests
      #----------------------------------------------------------------------
      - name: 'TESTS: Start docker-compose containers for e2e and backend tests'
        if: steps.tests-should-be-skipped.outputs.skip-tests != 'true' && matrix.testcontainers != 1
        run: npm run ci:e2e:prepare
      - name: 'TESTS: backend'
        id: backend
        if: steps.tests-should-be-skipped.outputs.skip-tests != 'true'
        run: npm run ci:backend:test
      - name: 'TESTS: frontend'
        if: steps.tests-should-be-skipped.outputs.skip-tests != 'true'
        run: npm run ci:frontend:test
      - name: 'TESTS: packaging'
        if: steps.tests-should-be-skipped.outputs.skip-tests != 'true'
        run: npm run ci:e2e:package
      - name: 'TESTS: Start docker-compose containers for e2e tests'
        if: steps.tests-should-be-skipped.outputs.skip-tests != 'true' && matrix.testcontainers == 1
        run: npm run ci:e2e:prepare
      - name: 'E2E: Run'
        id: e2e
        if: steps.tests-should-be-skipped.outputs.skip-tests != 'true'
        run: npm run ci:e2e:run --if-present
      - name: 'E2E: Teardown'
        if: always() && matrix.e2e == 1 && steps.tests-should-be-skipped.outputs.skip-tests != 'true'
        run: npm run ci:e2e:teardown
      - name: 'BACKEND: Store failure logs'
        uses: actions/upload-artifact@v2
        if: always() && steps.backend.outcome == 'failure'
        with:
          name: log-${{ matrix.app-type }}
          path: ${{ steps.setup.outputs.application-path }}/*/test-results/**/*.xml
      - name: 'E2E: Store failure screenshots'
        uses: actions/upload-artifact@v2
        if: always() && steps.e2e.outcome == 'failure'
        with:
          name: screenshots-${{ matrix.app-type }}
          path: ${{ steps.setup.outputs.application-path }}/*/cypress/screenshots
      - name: 'ANALYSIS: Sonar analysis'
        if: steps.tests-should-be-skipped.outputs.skip-tests != 'true'
        run: $JHI_SCRIPTS/25-sonar-analyze.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
